[2020-06-20 14:34] 8bitmp3 commented on #341
@krishnadurai while recording may not be available right now—I think some Google-led ones may need to be reviewed for content before being released—we can do our best maintain the notes in the doc(s) like in some other SIGs. If you need assistance, I can be a co-host for KF on-prem, as the time zone allows it. cc @jlewi

[2020-06-21 16:47] #324 closed

[2020-06-22 11:47] krishnadurai commented on #341
Sure we could look to have you as a co-host.

[2020-06-22 17:10] 8bitmp3 commented on #342
@jlewi Maybe we should also update the format/expand the community page https://www.kubeflow.org/docs/about/community/ and include a list of all SIGs in addition to the existing Slack channels with all the details about how people can participate.

For instance, we could use something similar to https://www.tensorflow.org/community/ that leads to > https://www.tensorflow.org/community/forums > htt

[2020-06-23 13:11] jlewi commented on #342
@8bitmp3 maybe open a separate issue about that?

@karlschriek Are you willing to be a calendar admin?

[2020-06-23 13:13] jlewi commented on #326
@karlschriek Do you want to investigate this since you want to create a channel for model management?

What permissions would you need to create channels?

How would people go about requesting you create channels when they need one?

[2020-06-23 14:00] jlewi commented on #342
@karlschriek regarding your question in https://github.com/kubeflow/community/issues/342

I believe the only ones with calendar access are myself and @theadactyl; @theadactyl and I can't afford to keep being the only ones administering the calendar. So before anything else gets added to the calendar we need to find 1-2 people willing to take on being a calendar admin.

[2020-06-23 15:27] jtfogarty commented on #341
I'm available in helping host the community meetings (weekly community as well as the On-Prem)

[2020-06-23 15:27] eterna2 commented on #326
I think we can create a slack bot (which is linked to a repo) to create channels.

Pple can just make a PR to a slack repo. CI will trigger to create a channel using the slack API.

https://api.slack.com/methods/conversations.create

[2020-06-23 15:29] jtfogarty commented on #342
I'm happy to help out and be a calendar admin.

[2020-06-23 15:32] jlewi commented on #345
/cc @pdmack

[2020-06-23 15:42] jlewi commented on #345
It looks like you enable discussions per repo.
I tried to enable it on kubeflow/kubeflow but got a 404 when I clicked setup GitHub discussions

[2020-06-23 15:42] shawnzhu commented on #345
There are two features from GitHub about the idea of discussion:

1. Team discussion - available for github.com now, which is mentioned above
1. GitHub discussion - Not available today, beta for public repository coming soon. new feature announced in GitHub universe in May 6th. see details from https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-cod

[2020-06-23 15:45] animeshsingh commented on #341
I believe between @jlewi @lalithvaka @jtfogarty this seems nicely covered.

[2020-06-23 15:51] jlewi commented on #342
Thanks @jtfogarty What's your Google account?

@scottilee also mentioned helping out with automating the calendar sync.

[2020-06-23 15:54] jlewi commented on #274
@scottilee reopening this to continue to track automating sync'ing of the KF calendar.

[2020-06-23 15:55] jlewi commented on #342
@scottilee reopened kubeflow/community#274 to update sync'ing of the KF calendar.

[2020-06-23 16:57] mameshini commented on #326
I can help with managing Slack channels.  My Slack id is https://kubeflow.slack.com/team/UAN46K11N
@Igor Mameshin (igor@agilestacks.com)

I can monitor this repo and discussions list for requests to create a new channel.  The goal is to use existing channels as much as possible and create new ones as appropriate.

[2020-06-23 21:33] jlewi commented on #345
Before we turn on GitHub discussions; I would like to see some guidelines for when to use slack, mailing list, GitHub Issue, vs. GitHub discussion.

Lets use this thread to discuss and then we can add it to the contributor page.

[2020-06-23 21:38] jlewi commented on #341
@jtfogarty What is your email so I can send you a zoom invite.

Per @lalithvaka 's comment above It looks like there's still some issue figuring out the right permissions to allow @lalithvaka and @jtfogarty to be able to host meetings.

I'm not the OWNER so I don't think I can make other people admins.

@ewilderj is the OWNER

[2020-06-23 21:48] lalithvaka commented on #341
Thank you @jlewi.
@ewilderj , can you please add my self (lalith.vaka@gmail.com) as well as @jtfogarty (j.007ba7@gmail.com) as admin users on the Zoom account so that we could help out in posting recordings to GDrive as well as host community meetings as needed? Thank you.

[2020-06-23 23:48] animeshsingh commented on #341
As a backup - add [my email ](animation2007@gmail.com)as well. I can take up the duties on a need basis if regular hosts aren't available

 cc @ewilderj @jlewi

[2020-06-24 05:08] gaocegege commented on #340
Updated OWNERS for Katib, tf-operator and pytorch-operator.

[2020-06-24 08:10] thesuperzapper commented on #344
@jlewi, that doesn't really fix things like RStudio, Visual Studio Code, etc

[2020-06-25 19:03] pdmack commented on #345
/cc @pdmack

[2020-06-25 23:19] #317 closed

[2020-06-25 23:21] 8bitmp3 commented on #345
There should be similar READMEs for Contributing in other projects where we can find some samples of we can borrow. I’ll do some searching and get back to you.

@jlewi Can I also introduce an idea of more active use of project management tools such as Github Project(s)? There are a bunch of stale issues such as this one I came across randomly because the stale[bot] has been busy sending notificati

[2020-06-26 14:42] jlewi commented on #344
@thesuperzapper Why not? Are there not existing Jupyter images for those use cases?

[2020-06-26 14:52] thesuperzapper commented on #344
@jlewi those are literally not Jupyter, they are different IDE's

Am I misunderstanding you?

[2020-06-26 15:42] jlewi commented on #345
@8bitmp3 Should we open a new issue to discuss the ufe of project management tools?

[2020-06-26 17:14] jlewi commented on #316
It looks like we have both a

1. A Kubeflow publication https://medium.com/kubeflow
1. A kubeflow medium account - which is linked to the kubeflow twitter account
    * This is listed as an editor of the Kubeflow publication

It looks like we currently have a bunch of editors of the kubeflow publication but not any writers.

I think ramachandrank@google.com has indicated he would be willing to hel

[2020-06-28 02:00] gaocegege commented on #89
Just FYI, mlflow is donated to Linux Foundation.

[The MLflow Project Joins Linux Foundation](https://www.linuxfoundation.org/press-release/2020/06/the-mlflow-project-joins-linux-foundation/)

[2020-06-29 04:03] scottilee commented on #274
@jlewi Could you remind me of the requirements here? I'm assuming you want some kind of job that will periodically read [calendar.yaml](https://github.com/kubeflow/community/blob/master/calendar.yaml) and if there are differences run [calendar_import.py](https://github.com/kubeflow/community/blob/master/scripts/calendar_import.py). If that is correct, I'm thinking I could either run a [CronJob](ht

[2020-06-29 16:57] yuzliu commented on #342
I am happy to help after getting an internal approval from my company.

[2020-06-29 18:02] jlewi commented on #316
@jbottum @StefanoFioravanzo Since you are asking about the blog. I think there are two paths forward

1. Wait for @ramachandrank to get back from vacation
1. Find ways to administer the blog so we don't get blocked when @ramachandrank goes on vacation.

I'm unclear whether or not we can allow non-Googlers to do the final approval of the blog post. However, even if we need a Googler to push the fin

[2020-06-29 18:23] jlewi commented on #342
Thanks @yuzliu

@yuzliu and @karlschriek if your willing to help I think the first steps would be

1. Open up a PR moving calendar.yaml into its own folder and create an OWNERs file
1. Open up PR in https://github.com/kubeflow/internal-acls  to create `calendar-admins.members.txt`
    * We will use this to create a google group to administer the calendar and add the emails of people who should

[2020-06-29 18:28] jlewi commented on #344
@thesuperzapper I guess what I meant is aren't there already public docker images for RStudio, Visual Studio Code, etc... out there?

My question is more along the lines of; do we as Kubeflow need to be in the business of curating images for different environments/IDEs etc...? Or is it sufficient if make it easy for people to bring their own image for their favorite web app?

[2020-06-29 18:30] jlewi commented on #326
Thanks @mameshini I made you a workspace admin. Can you figure out a place to document somewhere how people would go about requesting new channels?

[2020-06-29 18:31] jlewi commented on #326
Maybe create a folder "slack" and add an OWNERs file and put the docs there?

[2020-06-29 18:52] jlewi commented on #316
A GitHub issue template might be a great way to standardize the process for submitting a blog post and driving it to conclusion.

[2020-06-29 19:02] terrytangyuan commented on #316
@jlewi Would a PR template be better for that so people can mark any required items as well as in-line comment/review for the content of the blog post?

Yes, people can submit their blog for publication under Kubeflow's Medium account and then editors can choose whether to publish the final blog.

[2020-06-29 21:31] jlewi commented on #274
@scottilee I think that is correct. We just need to setup a cron job to run calendar_import.py regularly.

My initial thought is we should do the following

* Create a project and K8s cluster using GitOps in the community folder where we can run all of our automation

  * Call it something like "kf-automation"

* Deploy this as a cron job.

The community folder is administered already via GitOps;

[2020-06-29 22:49] mameshini commented on #326
Sounds good, I will create a "slack" folder.  We can use it to document the process for requesting new channels, Slack Guidelines, and add the OWNERS file.  I will take a stab at creating the initial version of Slack Guidelines.

[2020-06-29 23:14] jlewi commented on #316
@terrytangyuan What would the contents of the PR be?

[2020-06-30 01:23] terrytangyuan commented on #316
@jlewi The PR contains the content of the blog post so that SMEs can write in-line comments. It might be good to also check-in the blog posts as markdown docs one of the Kubeflow repos since we may not use Medium forever and at some point we may need to migrate old posts to new platform. Just my two cents thinking long-term.

[2020-06-30 05:57] thesuperzapper commented on #344
@jlewi, there is nothing saying we cant use those public images as a base for our images.

Most of what our images would be doing is adding support for prefix rewriting (how Kubeflow rewrites under the pod name path in the URL), and setting configs which are optimised for K8S/Kubeflow running.

For example, the [most popular docker image for R](https://hub.docker.com/r/rocker/rstudio/), has no way

[2020-06-30 12:50] jlewi commented on #316
@terrytangyuan Checking in blog posts as PRs would be useful for reviews but I'm not sure how well that works with medium. Can you write medium posts in markdown?  Looks like you might be able to: https://www.producthunt.com/posts/markdium; We use to publish blog posts on website by checking in PRs but we decided to switch to medium.

[2020-06-30 13:17] terrytangyuan commented on #316
I haven't used markdium so cannot comment on its usability. Another option is to post blog somewhere on our website and then use Medium's [story import functionality](https://medium.com/p/import) to import it to Medium. I used it when I worked on [the MPI Operator blog post](https://medium.com/kubeflow/introduction-to-kubeflow-mpi-operator-and-industry-adoption-296d5f2e6edc). Sometimes manual edit

[2020-06-30 17:28] jlewi commented on #344
@thesuperzapper it sounds like the problem you might be describing is different then the hosting of a repo.

It might be helpful to focus on or 2 applications (e.g R and arbitrary Jupyter images) and explore various ideas for how we could run them.

E.g for path rewriting maybe we can use ISTIO?

Building our own docker images even reusing existing images as base images is less desirable IMO then

[2020-06-30 19:51] jlewi commented on #341
@lalithvaka and @jtfogarty I added both of you; @jtfogarty your invite is pending please accept.

@lalithvaka Are your permissions enough to host the community meeting? Are you able to start the meeting for the community call?

@animeshsingh we ran out of licensed users so I couldn't add you.

[2020-06-30 19:52] jlewi commented on #316
I would suggest we scope this issue to figuring out the process around medium. Switching to a different blogging platform is a bigger undertaking.

[2020-06-30 21:15] lalithvaka commented on #341
@jlewi , I am currently listed as a member. With this access, I can be invited as an additional host under the advanced settings of the meeting invite. Once I(or @jtfogarty ) get added as an additional host, we probably could host the community meetings(Never tested). Please see the reference screenshot on how to add additional host [here](https://github.com/kubeflow/community/issues/341#issuecomm

[2020-06-30 21:18] jlewi opened #350 "Calendar entry for sig metadata model management is invalid; date isn't correct"
[code]

[2020-06-30 21:18] jlewi commented on #350
/assign @karlschriek

@karlschriek could you please send a PR to fix?

[2020-07-01 01:37] 8bitmp3 commented on #345
@jlewi would the KF backers be open to sponsoring a paid account to save the archives?

[2020-07-01 01:56] Swikar commented on #350
/assign

[2020-07-02 15:29] jlewi commented on #350
@Swikar @karlschriek Is the time for the meeting correct? Right now it overlaps with the regular community meeting on Tuesdays; was it supposed to alternate with the community meetings?

/cc @aronchick

[2020-07-02 15:34] Swikar commented on #350
@jlewi you’re right. It should suppose on Thursday not Tuesday. I will correct date and send PR

[2020-07-02 15:43] Swikar commented on #350
@jlewi you’re right. sorry It should suppose on Thursday not Tuesday. I have moved date and new PR
https://github.com/kubeflow/community/pull/352

[2020-07-03 01:35] thesuperzapper commented on #344
@jlewi Is there really a negative to curating docker images? Without that, the platform is much harder to begin using for non-expert users. (+ we are already distributing the tensorflow images)

I honestly believe most people are beginning to use Kubeflow due to the notebook servers, so we should make this experience as easy as possible.

[2020-07-04 02:45] jlewi commented on #345
@8bitmp3 I'm not sure what you are talking about; a paid account for what? What archives are you referring to?

[2020-07-04 02:47] jlewi commented on #341
Thanks @lalithvaka I'm not the owner of the meeting so I don't think I can add you as hosts; I think the room/meeting is owned by @ewilderj  so we'll have to ask him after the long weekend.

[2020-07-04 14:24] jlewi commented on #344
@thesuperzapper The issue with curating docker images is maintaining them over time and setting appropriate expectations. Who would actually be responsible for updating and shipping new images with each Kubeflow release? If there isn't a group of individuals responsible for maintaining them then how do we ensure a good experience over time for users.

If you look at kubeflow/kubeflow#5060 you can

[2020-07-04 16:24] 8bitmp3 commented on #345
@jlewi for Slack - doesn't it archive if you pay them?

[2020-07-04 23:29] jlewi commented on #345
@8bitmp3 Slack's pricing model is prohibitively expensive because its per user $8 month. That ends up being about $36K per year  right now and would continue to grow as we get more users.

[2020-07-05 19:23] 8bitmp3 commented on #345
@jlewi $36k+ is a bit too much indeed.

Regarding:

I am for the guidelines but also think intuitively people would head to Slack before realizing there's a page somewhere with the guidelines (like T&C, people may read it once and forget). And if there're probably no full-time moderators, it may get more complicated.

If the _habit_ is to go to a familiar platform to ask a question and folks use S

[2020-07-06 12:38] #350 closed

[2020-07-06 16:33] lalithvaka commented on #344
Would it make sense to just post the curated Dockerfiles under one of the
sample custom images folders of the Kubeflow repo and let the end users
build and maintain for their own needs instead of making the Docker images
available and maintaining it?
I work in Healthcare and as we use and create custom images related to
Healthcare, I could add them to the examples (Ex: NVidia Clara, Nvidia
Tensorf

[2020-07-07 14:10] jlewi commented on #344
@lalithvaka  At that point are we just hosting git repos? If you want to publish a Dockerfile why not just create a repo lalithvaka/kubeflow-jupyter-image and publish your files there?

[2020-07-07 15:51] lalithvaka commented on #344
@jlewi, we had challenges building custom images per Kubeflow [docs](https://www.kubeflow.org/docs/notebooks/custom-notebook/) probably due to lack of knowledge. I am suggesting, posting samples on kubeflow git repo and pointing those from the [docs](https://www.kubeflow.org/docs/notebooks/custom-notebook/) would definitely help new users adopting Kubeflow and gives them a boost.

[2020-07-08 02:00] thesuperzapper commented on #344
@jlewi I am, more than happy to make my own personal repo, but I think there are some benefits to having it under the kubeflow org:
1. people will be more likely to discover it
1. we can more easily include them in default configs with kubeflow releases
1. better governance
1. we can host the images on GCR (rather than Dockerhub)

[2020-07-08 03:41] jlewi commented on #344
@thesuperzapper Do you want to put together a proposal per my earlier comment?

[2020-07-08 10:44] karlschriek commented on #342
PRs openend:

https://github.com/kubeflow/community/pull/357
https://github.com/kubeflow/internal-acls/pull/277

[2020-07-08 19:12] james-jwu opened #359 "Request to add KFP community meeting to KF community calendar"
Folks in KFP community have been asking whether KFP community meeting can be added to KF community calendar. Jeremy suggested I open an issue for this request.

Our meeting times are every two weeks, alternating between Wed. 10am-10:40am, and 5:30pm-6:10pm. Today (07/08) we are having it at 5:30pm.

If cancellations or changes are necessary, I hope there is a process where the calendar events can

[2020-07-08 23:28] awcchungster commented on #359
+1

[2020-07-09 00:52] krazyhaas commented on #359
+1

[2020-07-09 16:27] nicholas-abad commented on #342
I'd be happy to help out and be a calendar admin too!

[2020-07-11 04:58] hamelsmu commented on #316
👋  Hello Community I would love to propose a solution for writing blogs in a free, transparent way that can go through code reviews on GitHub, and as a bonus can convert Jupyter Notebooks directly to blog posts (In addition to markdown).

See [fastpages](https://github.com/fastai/fastpages), it is a project developed with the [fastai](https://github.com/fastai) community and has been battle-tested

[2020-07-11 05:08] hamelsmu commented on #316
Oh and I forgot to mention, I'm happy to come to an upcoming community meeting to demo fastpages to everyone if that is helpful (unless the README and documentation, etc has convinced you enough already!).   Thank you

[2020-07-13 00:40] thesuperzapper commented on #344
@jlewi, is there a template for such a proposal?

If not, what will it need to include, and who is the audience?

[2020-07-13 13:26] jlewi commented on #344
you can look at https://github.com/kubeflow/community/tree/master/proposals

The proposal should include a plan for what you want to deliver; e.g. a community repo of jupyter images and how you plan to address the concerns I've raised [above](https://github.com/kubeflow/community/issues/344#issuecomment-653772269). In particular, how will we maintain the quality and keep the images up to date.

[2020-07-13 14:07] jlewi commented on #316
Should we setup a kubeflow repo for fastpages? We could potentially use this in addition/alternative to our medium blog to see how well it works for us. We could potentially serve it at "blog.kubeflow.org" or "fastpages.kubeflow.org".

[2020-07-13 14:13] hamelsmu commented on #316
@jlewi thats a good idea.  If you want to try it out just follow the instructions on the README to setup a new repo template

[2020-07-13 14:38] jlewi commented on #316
@terrytangyuan @jbottum @StefanoFioravanzo WDYT? Is it worth it to create a copy of the fastpages repo so we can start experimenting with it?

I think fastpages has two huge advantages

1. We can manage blog posts through git
1. We can publish notebooks

I think the latter is a huge difference from what we have today with medium and previously using hugo and netlify.

Using notebooks would make it

[2020-07-13 16:48] terrytangyuan commented on #316
Sounds good to me. The fact that a reader can only read limited number of Medium articles per month if not paying is really concerning to me. So I am leaning towards a different platform.

[2020-07-13 17:47] jlewi opened #361 "Conformance tests for Kubeflow"
I think we will want conformance tests to establish a clear, technical understanding of what can be expected from a conformant distribution of Kubeflow.

One question that comes up immediately is whether a conformant Kubeflow distribution should require a conformant distribution of kubernetes?

/cc @jbottum @animeshsingh @paveldournov @yanniszark @johnugeorge @rmgogogo

[2020-07-13 17:47] jlewi commented on #361
/lifecycle frozen

[2020-07-13 19:37] jbottum commented on #316
@jlewi Fastpage seems to have some advantages.  Can you provide a view on who will be in the approval process from a Google standpoint and how long a typical approval process will take (...from a clean post submission) ?   i.e. is 5 days a reasonable target for google approvals ?

[2020-07-14 01:07] jlewi opened #362 "Kubeflow calendar should include kubeflow-discuss in the invite list"
Right now it looks like the events on the kubeflow community calendar don't include kubeflow-discuss@googlegroups.com on the invite list.

As a result the invites aren't automatically added to the calendars of people who join the group.

People can still add the kubeflow calendar using the URl but the events won't necessarily show up on their events.

@jtfogarty @yuzisun @karlschriek Since you vol

[2020-07-14 09:07] krishnadurai opened #363 "Represent On Premise Working Group"
@jlewi @animeshsingh @jtfogarty I'm forking this discussion from #348 in order to keep both these discussions focussed.

@jlewi 's comment:

@jtfogarty's comment:

The on-prem group has been functioning over the past year and has contributed numerous features to Kubeflow, by representing users of Kubeflow who install it in on-premise or bare-metal servers.

A few of the efforts which were ideated

[2020-07-14 17:16] jlewi opened #364 "Cancel outreach community meeting"
Attendance for the outreach meeting is pretty low < 10 people.
https://github.com/kubeflow/community/blob/49e849fa935558583a227ccad9eecf788715843d/calendar.yaml#L81

Should we cancel this meeting?

Especially now that we are forming WGs; maybe we should chann

/cc @elviraux @jbottum @jtfogarty @animeshsingh @theadactyl

[2020-07-14 17:34] jlewi commented on #363
Thanks @krishnadurai

What projects (i.e. code) would the WG own?

Would the WG own a reference/vanilla distribution of Kubeflow?

[2020-07-14 17:38] jlewi commented on #316
@jbottum fastpages vs. medium doesn't change who would have to review a blog. fastpages would only change the mechanics of the review process i.e. git. That might speed up the review process because its well understood and we know how to automate it.

[2020-07-14 17:44] jlewi commented on #316
I created the fastpages repo we need to finish setting it up though kubeflow/fastpages#2

[2020-07-14 17:50] mameshini commented on #363
AgileStacks will contribute a set of kustomize scripts validated to deploy Kubeflow on existing on-prem Kubernetes clusters.  We are currently able to run Kubeflow 1.0 on upstream Kubernetes 1.16.  It includes deployment for Istio, Minio, Harbor, MySql, cert-manager, dex which require on-prem specific configurations.  This on-prem distribution of Kubeflow can be owned by the on-prem WG.

[2020-07-14 19:15] hamelsmu commented on #316
@jlewi Yeah man I'm interested

[2020-07-14 19:15] jlewi commented on #362
I did a quick test and add kubeflow-discuss@googlegroups.com to the calendar invite it now shows up on my calendar. It looks like the invite I had was from zoom probably because I'm a meeting host (or maybe the zoom invited the group as well)?

[2020-07-14 19:23] jlewi commented on #341
Google [meet pricing](https://apps.google.com/meet/pricing/?utm_source=google&utm_medium=cpc&utm_campaign=na-US-all-en-dr-skws-all-all-trial-b-dr-1009156&utm_content=text-ad-none-any-DEV_c-CRE_435199693897-ADGP_Hybrid+%7C+AW+SEM+%7C+BKWS+~+BMM+//+Google+Meet+//+Google+Meet-KWID_43700053724035182-aud-983735361597:kwd-299210509137&utm_term=KW_%2Bgoogle%20%2Bmeet-ST_%2Bgoogle+%2Bmeet&gclid=CjwKCAjwr7

[2020-07-15 05:50] animeshsingh commented on #363
@krishnadurai all the items you listed fall in one of those two categories, i.e. control plane, or common services

installation is Control Plane job, and some would use kfctl, some operator (e.g. IKS, OpenShift), some Juju charms (e.g. Ubuntu), some kpt/kustomize (Google...)

Part if common services umbrella, Istio +Dex

Security should be a common service, with KF providing a base, but different

[2020-07-15 14:24] jlewi commented on #316
@hamelsmu I'm so excited about fastpages and blog.kubeflow.org ; I can't wait to try it out for blogs written using notebooks.

Regarding guidelines and documenting the process; now that blogs are just submitted .md or .ipynb files I think we can file the standard GitHub review process.

As noted [above](https://github.com/kubeflow/community/issues/316#issuecomment-651274211) I think we want to id

[2020-07-15 14:36] terrytangyuan commented on #316
@hamelsmu @jlewi Looking great! Excited to see this is making progress. Our GSoC student is interested in trying this out as well (created https://github.com/kubeflow/blog/issues/8 to track and discuss further).

[2020-07-15 16:14] hamelsmu commented on #316
I added preliminary instructions on the process in https://github.com/kubeflow/blog/pull/9

Please review

[2020-07-16 09:54] krishnadurai commented on #363
@jlewi @mameshini mentions we intend to maintain a reference implementation for KF deployment. With respect to code ownership - we don't have independent components yet, though we might need to modify existing components for compatibility.

@animeshsingh I agree with the view that security can be a different entity - though it doesn't fit in the common service categorization. In turn, I'm not conv

[2020-07-16 13:38] terrytangyuan commented on #316
What should we do with Medium then?

[2020-07-16 13:54] hamelsmu commented on #316
We can migrate all the Medium posts like I did with @terrytangyuan 's post as an example

What do you think @jlewi ?   We should probably get some opinions first from the community and not rush into it

[2020-07-16 20:58] jlewi commented on #341
@jtfogarty @animeshsingh @jtfogarty @jbottum I think I've hosted enough community meetings and would like to pass the baton to someone else. I will host the 07/21 and 07/28 meetings but after that someone else will need to take over.

It looks like whoever takes this on needs to accomplish the following

1. Figure out an appropriate rotation
1. Figure out an appropriate video conferencing solution

[2020-07-16 21:12] shawnzhu commented on #345
@jlewi @8bitmp3 @pdmack if any org owner 👍 the idea of GitHub Discussion, I could try to ask GitHub for a beta.

[2020-07-16 21:58] jlewi commented on #316
+1 For now lets let people choose medium or fastpages. If people stop using medium then we can figure out how to turn it down.

[2020-07-16 22:19] terrytangyuan commented on #316
Agreed.

[2020-07-17 01:09] jlewi commented on #341
cc @cliveseldon @yuzisun @ellistarn @neuromage @paveldournov @elikatsis @vpavlin @yanniszark @Jeffwan @krishnadurai @terrytangyuan @gaocegege @andreyvelich @johnugeorge @aronchick @stefanofioravanzo @elviraux @kimwnasptd @krazyhaas

[2020-07-17 02:38] animeshsingh commented on #364
yes - can be discussed on main community calls if needed

[2020-07-17 15:16] jtfogarty commented on #341
Hi Jeremy,

Josh and I are talking about this.

We should be ready for the August 4th meeting.

Does anyone happen to know what other open source communities use for video conferencing?

[2020-07-17 15:30] terrytangyuan commented on #341
TensorFlow community uses Google Meets/Hangout. Argo community uses Zoom.

[2020-07-17 18:56] jbottum commented on #364
@aronchick @elviraux @pdmack @kkasravi Participation in the Kubeflow PM / Outreach calls is very low.   Outbound marketing of KF by the Community is low.   It appears that we may not have a PM Working Group.    I think this structure will impact our ability to grow the Community.   I am cautious to eliminate these calls without a replacement.

[2020-07-18 03:56] Swikar opened #368 "CUJ [Lineage Tracking]"

[2020-07-18 03:57] #368 closed

[2020-07-20 06:44] karlschriek opened #369 "Transfer Model Management docs to community drive"
I am trying to transfer some documents to the shared community drive following this guide https://github.com/kubeflow/community/blob/master/how-to/sharing_docs.md

However, I don't seem to be able to assign ownership of the documents (presumably because some of them are not Google-type files). The docs can be found here:

https://drive.google.com/drive/folders/1RJY3V4L_CWAnbYFNUW22dZJOqbGe9Cwe?usp

[2020-07-20 14:20] #362 closed

[2020-07-21 13:18] 8bitmp3 commented on #345
@shawnzhu yes please, thank you!

[2020-07-22 14:30] 8bitmp3 commented on #341
@jlewi if the admins use macOS Catalina or above, screen recording with sound is pretty easy. One can use the built-in screenshot app/settings or QuickTime's video recording option. To capture audio in the video, install Blackhole via Homebrew (`brew cask install blackhole`) and then follow the official multi-output [setup](https://github.com/ExistentialAudio/BlackHole/wiki/Multi-Output-Device).

[2020-07-22 14:32] 8bitmp3 commented on #341
Also, TensorFlow community calls are hosted by Googlers, so they have full Google Meet features to host a meeting for 100+ people, record to GDrive, etc.

[2020-07-22 22:16] jlewi opened #372 "Auto Generate wg templates using Kubernetes doc generator"
Kubernetes uses  https://github.com/kubernetes/community/tree/master/generator
to autogenerate docs like README.md from the YAML

We might want to port that over and adapt that to our needs.

[2020-07-24 04:08] jlewi commented on #364
@jbottum I have removed the call from the calendar for now. If someone would like to resume them they will needed to be added back to the calendar with a suitable host.

[2020-07-27 23:50] jlewi commented on #341
@jtfogarty @jbottum Any update on this, can we get the calendar updated ahead of next week's meeting?

[2020-07-28 00:12] jtfogarty commented on #341
I’ll update the calendar ASAP

Sent from my iPhone

[2020-07-28 00:45] Swikar opened #375 "Lineage Tracking"
CUJ

[2020-07-29 16:58] Swikar opened #377 "lineage-tracking-blog"
Jupiter notebook CUJ

[2020-07-29 17:15] #377 closed

[2020-07-29 22:28] Swikar opened #378 "testing-blog"

[2020-07-29 22:28] #378 closed

[2020-07-30 18:53] #375 closed

[2020-07-31 14:46] #364 closed

[2020-07-31 14:49] jlewi opened #379 "WG Sponsorship for Notebooks"
Per the governance discussions. All projects ultimately need to find WG sponsorship or they will eventually be archived.

This means the notebook infrastructure will need to find an appropriate WG to take ownership of related assets.

/cc @StefanoFioravanzo @kimwnasptd @vkoukis @yanniszark

[2020-07-31 14:54] jlewi opened #380 "WG Sponsorship for central dashboard"
Per the governance discussions. All projects need to find WG sponsorship or they will eventually be archived.

Opening this issue to begin discussions about what to do about the central dashboard.

/cc @avdaredevil @prodonjs @swiftdiaries @StefanoFioravanzo @SachinVarghese

[2020-07-31 14:59] jlewi opened #381 "WG Sponsorship PodDefaults controller"
Per our governance discussions all projects need to find WG sponsorship or they will be archived.

Opening this issue to figure out what to do about the PodDefaults admission hook.

It looks like PodDefaults currently has no owners:
https://github.com/kubeflow/kubeflow/tree/master/components/admission-webhook

cc @wdhorton @discordianfish

[2020-08-03 09:00] StefanoFioravanzo commented on #381
Hi @jlewi . I want to mention both @yanniszark and @elikatsis who should be interested in driving this WG. They are on vacation now, so they will jump into the discussion as soon as they come back

[2020-08-03 13:37] jlewi commented on #316
Thanks @hamelsmu  for creating: https://github.com/kubeflow/blog/blob/47396ab365b2e7b89e3454500014b4bec1463347/README.md#blog-submission-instructions

We need to create an OWNERs file in the root of the repo with the folks that can approve PRs.

[2020-08-03 14:46] swiftdiaries commented on #380
I'll be happy to chair the UI WG. I'll let the others decide what level of commitment they want to bring to the WG

[2020-08-03 16:07] hamelsmu commented on #316
@jlewi do you want to create this file?    Is there anything you want me to do?

[2020-08-03 19:40] misteliy commented on #344
@thesuperzapper do you have a working version of Rstudio Dockerfile for Kubeflow that you can share?

[2020-08-04 10:34] kimwnasptd commented on #379
@jlewi, @StefanoFioravanzo and I would be happy to take ownership for this.

[2020-08-04 13:52] jlewi commented on #379
@kimwnasptd Which WG are you thinking? Are you planning on putting this under an existing WG or forming a new one?

[2020-08-04 16:29] StefanoFioravanzo commented on #380
@jlewi  @swiftdiaries  I would definitely be happy to co-lead this WG, as noted in the original WGs PR

[2020-08-04 17:16] jlewi commented on #342
The group calendar-admins@kubeflow.org has been created and has the members listed in #304.

I have granted the group calendar-admins@kubeflow.org permission to make changes to events on the kubeflow calendar.

[2020-08-04 18:54] terrytangyuan commented on #326
We created a new channel #wg-training for the new Training WG that we just established. However, it seems like the channel can only be private. Would any of you be able to change it to public?

[2020-08-04 19:10] terrytangyuan commented on #326
Just realized the documentation is already in place: https://github.com/kubeflow/community/tree/master/slack

Thanks @mameshini! I'll reach out to you via DM.

[2020-08-05 06:19] SachinVarghese commented on #380
I am also happy to co-lead this WG.

[2020-08-05 10:00] yanniszark commented on #381
I have experience with the PodDefault code, which I have extended for our use-cases:
https://github.com/kubeflow/kubeflow/pull/4317
As such, I can help review code and approve PRs.

[2020-08-05 12:41] jlewi commented on #381
Thanks @yanniszark .  We still need to find WG sponsorship or else make alternative arrangements. The PodDefaults controller is probably insufficient to warrant its own WG.

Is there a Kubernetes SIG that might be a good candidate to take this on?

[2020-08-05 12:49] jlewi commented on #380
@swiftdiaries @SachinVarghese @StefanoFioravanzo What would the scope and charter be for the UI WG? Why would we have a horizontal WG for UIs as opposed to making each project and its corresponding WG responsible for its OWN UI?

Are there any opportunities to merge or replace central dashboard with something upstream that is generic and not Kubeflow specific?

The primary purpose of centraldashbo

[2020-08-05 14:26] swiftdiaries commented on #380
Hey @jlewi

I started https://github.com/mlbackstage/mlbackstage to explore the possibility of having a generic ML developer portal. It's still super early. And I'm kinda working out the idea down to how best we can integrate/adopt.
My initial idea was to have each application own a plugin for Kubeflow. For example, the notebooks CRD would be backed by a Notebooks plugin. The KFServing CRD would b

[2020-08-05 14:28] swiftdiaries commented on #380
I think Spotify internally has a set of ML plugins as part of their internal Backstage along with their other plugins. So ML Backstage might be an anti-pattern

[2020-08-05 19:58] stefanalund commented on #380
👋 I'm the Product Manager for Backstage and wanted to provide my 2 cents.

@swiftdiaries as you say, creating a dedicated "Backstage" platform for ML kind of defeats the original purpose of Backstage as an aggregation platform (a "platform of platforms" of sorts).

Inside Spotify our ML infrastructure team(s) are building plugins for Backstage itself. Having ML tooling integrated into our single d

[2020-08-05 20:02] avdaredevil commented on #380
I am happy to provide oversight to bigger PRs where Central-Dashboard expertise is required :)

[2020-08-06 02:24] swiftdiaries commented on #380
@stefanalund @jbx Would you be open to demo'ing Backstage with a short walkthrough on how Spotify does ML services within Backstage in a community meeting?

[2020-08-06 06:58] StefanoFioravanzo commented on #380
@jlewi Interesting discussion, I have taken a quick look at backstage and my only concern would be that adopting such a solution in place of our custom central dashboard would make Kubeflow more a "collection" of microservices rather than a cohesive platform. I think the central dashboard purpose should be to bring together all the Kubeflow components, making it look like a unified product.

[2020-08-07 13:47] jlewi commented on #316
@hamelsmu nothing for you to do.

@jbottum at @terrytangyuan should we add a doc say
https://github.com/kubeflow/community/tree/master/how-to

pointing people at the right places?

[2020-08-07 15:38] swiftdiaries commented on #380
@StefanoFioravanzo from an end-user perspective I think it makes sense to have all services within their organization to show up on a single portal.
From an infrastructure provider perspective, it might look like it's better to have a single ML-specific dashboard.

So I think the centraldashboard as it is today can be evolved into a separate backstage app for infrastructure providers for a unified

[2020-08-07 16:19] SachinVarghese commented on #380
I like the idea of central dashboard evolving as a customizable plugin. It would be great to see a demo of how backstage can help in that regard and also if it is possible to easily plug kubeflow components as ML addons.  @swiftdiaries I believe you have started some initial work on this so either an initial doc or even a walkthrough from the devs at Spotify would be great to take this further.

[2020-08-07 18:15] jbx commented on #380
Hi there - I'm missing some context on what a role a central dashboard would serve but can give you some more information about what we do at Spotify. Apologies if this is continuing to move the issue off the original subject.

At Spotify, we really only use the Kubeflow Pipelines application. We describe how we use it and what we've built in this [blogpost](https://engineering.atspotify.com/2019/

[2020-08-20 15:41] lalithvaka commented on #344
@thesuperzapper any update on the proposal? Thank you.

[2020-08-21 14:31] jlewi opened #398 "Fix wgs.yaml; there should be a single wgs.yaml; not a wgs.yaml per wg folder"
All wgs should be defined in
https://github.com/kubeflow/community/blob/master/wgs/wgs.yaml

We should not have wgs.yaml per folder; e.g.
https://github.com/kubeflow/community/blob/master/wgs/wg-training/wgs.yaml
https://github.com/kubeflow/community/blob/master/wgs/wg-serving/wgs.yaml
https://github.com/kubeflow/community/blob/master/wgs/wg-automl/wgs.yaml

@andreyvelich @animeshsingh @terrytangy

[2020-08-21 14:35] jlewi opened #399 "Create GitHub teams for all WG leads?"
Should we require that each WG have a GitHub team corresponding to the leads named

[code]

This would make it easy to mention all the WG leads in GitHub

@andreyvelich @animeshsingh @kubeflow/kfserving-owners

[2020-08-24 15:42] jlewi commented on #398
1. This follows what Kubernetes is doing https://github.com/kubernetes/community/blob/master/sigs.yaml
1. The point of wgs.yaml is to make it easy to get a list of all the meta information about the different work groups.
    * The goal is to centralize the information
    * That's why its a list of work groups as opposed to a YAML file containing a single working group

If we follow Kubernetes th

[2020-08-24 15:59] jlewi opened #400 "WG ownership of kubeflow/manifests - relation to application owners"
Which working group will own the kubeflow/manifests repo?

How will it relate to application owners?

Right now kubeflow/manifests doesn't cleanly separate the responsibilities of platform and application owners. For example, kubeflow/manifests#1498 who decides how testing is done for the repository?

One option would be to allow/encourage application owners to host the source of truth for the kus

[2020-08-24 16:39] ellistarn commented on #400
KFServing has been maintaining standalone installations https://github.com/kubeflow/kfserving/tree/master/install. As I understand it (needs hard data), the majority of our production customers install KFServing in this way.

In general, I think this practice helps applications decouple from a monolithic Kubeflow release process. I do see some drawbacks regarding shared dependencies (istio) and ex

[2020-08-24 16:51] yanniszark commented on #400
@jlewi that would be nice, because I understand that app teams already need to define some form of manifests for installation, e.g., for testing.
However, having a monolithic repo to gather all manifests allowed us to enforce certain best practices and tests. How would we run the unit tests for manifests developed in other repos? This is also related to the test infra restructure issue.
Should we

[2020-08-24 19:28] jlewi commented on #400
@yanniszark

The details of how testing should be done should be the perogative of the owners. So we need to figure out who owns and maintains kubeflow/manifests before we can resolve any question about how testing should work.

I can think of two possible paths forward

1. There is a WG related to deployments that owns kubeflow/manifests
    * This WG would be responsible for negotiating agreemen

[2020-08-25 00:10] swiftdiaries commented on #398
/assign @swiftdiaries

[2020-08-25 00:32] swiftdiaries commented on #400
Once https://github.com/kubeflow/community/pull/401 goes in, I can draft a `wg-manifests`(?) proposal.
Since, most of the maintainers are common to both `kf/manifests` and `kf/kfctl` my initial thoughts are to add them both as subprojects to the WG. The expectation would be to maintain both the repos.

WDYT?
/cc @crobby @adrian555 @animeshsingh @Jeffwan @PatrickXYS

[2020-08-25 00:33] swiftdiaries commented on #400
cc @yanniszark

[2020-08-25 00:52] PatrickXYS commented on #400
I would considering this WG as `wg-deployment`.  And I think the idea to combine kfctl and manifests is good.

The point is how can we

@swiftdiaries Feel free to bring it up in the community meetings and we can get some feedbacks from folks.

[2020-08-25 11:43] crobby commented on #400
I'm a fan of this.  In my world, kfctl and manifests are indeed closely related and it definitely makes sense to have some consistency in their maintenance.

[2020-08-25 13:41] jlewi commented on #344
I think any progress is probably blocked by the formation of a WG to own existing assets. All new projects need to be sponsored by a WG.

kubeflow/community#379 is tracking the WG for notebooks.

[2020-08-25 17:46] Bobgy commented on #400
Will the WG also handle releases? All applications and platforms need to be ready before we can cut a release in manifests repo.

[2020-08-25 17:58] PatrickXYS commented on #400
@Bobgy I think so, WG need to pick up the release responsibility. Otherwise, it will make the version release and code contribution separately and make WG responsibility unclear.

[2020-08-26 00:48] Jeffwan commented on #400
I would like to have a  `wg-control-plane`. We need wider group to deal with minimum kubeflow offering. Besides kfctl and manifest, it would be better to cover some basic kubeflow components like notebook release, profile controller etc. But if there's separate WG takes care of those applications, I think `wg-control-plane` could be lightweight.

[2020-08-26 01:03] animeshsingh commented on #400
+1 `wg-control-plane`

And Istio+Dex combination as well.

[2020-08-27 03:20] #372 closed

[2020-08-28 00:02] swiftdiaries commented on #400
Proposal for `wg-deployment`: https://github.com/kubeflow/community/pull/402
I wanted to keep this WG's scope narrow and create a broader working group `wg-control-plane` for the core Kubeflow applications that don't necessarily fall into any specific working groups.

[2020-08-28 01:51] animeshsingh commented on #400
@swiftdiaries each workgroup involves meetings, syncup infra, slack channels et all. More we have, less attendance we have. Control plane covers the key things (kfctl/manifests/istio+dex) as key repos, with deployment and management of deployed kubeflow as key goal, and also gets a critical mass of attendees.

[2020-08-28 02:27] theadactyl commented on #316
hi all, was there a resolution on the doc topic? Should we finalize the recommendation and documentation in the next community meeting?

[2020-08-28 03:06] PatrickXYS commented on #400
I think the `wg-controlplane`'s scope should come with a smaller one first.

That means, we need to first take a small scope of areas that `wg-controlplane` need to take, after we prove we have ability/capacity to handle the small scope of areas, we move forward to integrating more Kubeflow Components.

Per say, we can start from:

[code]

After that, we can gradually move forward with large scope

[2020-08-28 13:33] terrytangyuan commented on #316
@theadactyl The process is now in place and there's instruction in the README of this repo: https://github.com/kubeflow/blog

[2020-08-28 13:56] jlewi commented on #316
Thanks @terrytangyuan

[2020-08-28 13:56] #316 closed

[2020-08-28 14:48] jlewi commented on #400
I don't think jupyter should be in scope for a controlplane or deployment wg. I believe there is thinking around having a wg focused either on notebooks or more broadly the datascientist user experience see #379

[2020-08-28 15:57] swiftdiaries commented on #400
+1 on `jupyter-web-app` being separate.

To @animeshsingh and @PatrickXYS comments, I was under the impression that since Istio+Dex is maintained underneath the `kubeflow/manifests` repo it automatically falls within the scope of `wg-deployment`

[2020-08-28 15:58] #398 closed

[2020-08-28 16:08] theadactyl commented on #316
Thanks!

On Fri, Aug 28, 2020 at 6:56 AM Jeremy Lewi <notifications@github.com>
wrote:

[2020-08-28 16:51] animeshsingh commented on #400
other than the name, I am fine with scope, which is kfctl/manifests/istio+dex.

The reason 'deployment' doesn't cover the nuance of istio+dex is because that's a common service for load balancing/ingress/authentication/authz, hence the name 'control-plane' would be more conducive.

If it's only kfctl/manifests, then the name captures it fine.

[2020-08-28 16:53] animeshsingh commented on #400
other point to note is that kfctl also includes _Operator_ now, which is not only 'deployment', but lifecycle management of deployed Kubeflow. Which means it's watching the deployed Kubeflow, and taking corrective actions when things go south.

[2020-08-28 17:43] andreyvelich opened #403 "Kubeflow calendar was not updated with the new meeting"
I added AutoML WG meeting in this PR: https://github.com/kubeflow/community/pull/396.

Calendar doesn't seems to be updated with the new meetings: https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com.

@jtfogarty @karlschriek @nicholas-abad @yuzliu Is there any way to check logs from the [update script](https://github.com/kubeflow/communi

[2020-08-28 19:16] jlewi commented on #400
@swiftdiaries I wouldn't overindex on current code locations. Where code is located is often due to organic evolution and may not be a good indication of appropriate owner/governance. We should figure out appropriate ownership and then fix code location when needed.

ISTIO and dex is similar to PodPresets(kubeflow/community#381) in that is fairly generic K8s infrastructure and not clear what the p

[2020-08-28 19:48] jlewi commented on #403
@andreyvelich the script is not run automatically. The calendar admins need to run the sync. Can you please update the docs to make this clear if it isn't already?

[2020-08-28 20:03] andreyvelich commented on #403
@jlewi Sure, I will submit the PR.

[2020-08-28 22:32] Jeffwan commented on #400
@swiftdiaries
I feel good about current scope of `wg-deployment`. I agree we can start with narrow scope. The questions I have is will community create `wg-control-plane` later, if so, what's the relationship between `wg-deployment` and `wg-control-plane`?

[2020-08-28 22:39] Jeffwan commented on #400
In order to deploy kubeflow, I think following are minimum assets needed to maintain in long term.

Manifests (kubeflow doesn't own codes, they are upstream or third party components):
- istio
- cert-manager
- dex & auth service
- application-controller
- spartakus
- Kubeflow-roles

Components (with corresponding manifest)
- access-management
- profile-controller
- adminission-webhook (podpreset)

[2020-08-31 02:53] Bobgy commented on #403
@jlewi @james-jwu Can you help me understand how to set up the env to be ready for the script?
I installed some pypi packages and currently stuck at
[code]

How do I get this oauth_client.json?

[2020-08-31 03:58] james-jwu commented on #403
I sync'd the calendar. @andreyvelich please verify.

@Bobgy I did it by creating the oauth json file. You can create oauth credential in one of you GCP projects.

[2020-08-31 16:28] andreyvelich commented on #403
@james-jwu @Bobgy Thanks, now I can see the AutoML meeting in Kubeflow calendar.

[2020-08-31 16:28] #403 closed

[2020-09-01 13:56] jlewi opened #409 "Define process/templates for SIGs"
There are a couple proposals floating around for SIGs. These are coming up in contexts where we'd potentially like to establish a mechanism for collaborating around issues that cut across WGs and don't necessarily involve owning one or more repositories

Examples include

* On prem (cc @jtfogarty @lalithvaka )
* Data/Feature management (cc @woop)

This is what SIGs are for.

It looks like we haven

[2020-09-06 03:16] #338 closed

[2020-09-14 16:01] jlewi opened #411 "8am Community Call Is Not Showing Up on the calendar beginning 09/15"
8am community meetings are no longer showing up.
https://calendar.google.com/calendar/u/0/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com&ctz=America/Los_Angeles

@jtfogarty

[2020-09-14 16:03] jlewi commented on #411
calendar admins (@jtfogarty @karlschriek @nicholas-abad @yuzliu) could one of you please investigate and fix?

[2020-09-14 19:44] jtfogarty commented on #411
@jlewi The yaml file has not changed in 18 days.  Can you rerun the job that pulls in the yaml and updates the calendar?  I don't know how to do this and I don't think I have permissions to either. Thanks

[2020-09-15 05:43] thesuperzapper commented on #400
Here is link to my proposal for `kubeflow/manifests`, as this Issue probably has most of the people who want to see it:
https://github.com/kubeflow/manifests/issues/1554#issuecomment-692459952

[2020-09-15 15:23] jlewi commented on #411
@jtfogarty @Bobgy ran it and fixed the issue.
Moving forward I will not be running the calendar sync. Can you and the other calendar admins please look into either getting the permissions needed to run the sync or else automating the sync.

[2020-09-15 15:23] #411 closed

[2020-09-16 01:32] thesuperzapper commented on #344
Agree that Notebook WG should manage the Notebook images, and however they are released.

FYI, I put a JupyterLab (With Spark) image here:
https://github.com/kubeflow/kubeflow/issues/5305#issuecomment-693115489

[2020-09-16 21:26] andreyvelich opened #413 "AutoML meeting doesn't have reminder"
[AutoML WG meeting](https://github.com/kubeflow/community/blob/master/calendar/calendar.yaml#L350-L365) was added by @james-jwu (ref: https://github.com/kubeflow/community/issues/403#issuecomment-683536291).
For some reason, this meeting doesn't have reminder in [Kubeflow community calendar](https://calendar.google.com/calendar/u/0/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.g

[2020-09-17 01:09] jlewi commented on #413
I'm not a calendar admin; please work with the calendar admins to resolve this:
https://github.com/kubeflow/community/blob/master/calendar/OWNERS

[2020-09-17 13:57] andreyvelich commented on #413
/cc @nicholas-abad @yuzliu

[2020-09-22 14:19] karlschriek commented on #413
Hi @andreyvelich does the popup work for other calendar events or does it in general not work?

[2020-09-22 14:25] karlschriek commented on #274
Is there any progress on this? I'd be happy to help, but I have no access to any of the systems that need to be used here.

[2020-09-22 14:26] karlschriek commented on #274
Also wondering why we need a cron job here? Couldn't we simply solve this with Github Actions (or whatever else we are using a CI/CD tool) and have it trigger whenever a commit comes on master where calendar.yaml has been changed?

[2020-09-22 14:34] karlschriek commented on #359
Is this still relevant? Seems pretty stale

[2020-09-22 14:37] karlschriek commented on #342
@jlewi officially we have additional calendar admins now, but most of us don't actually know how to update the calendar. Since https://github.com/kubeflow/community/issues/274 is still open it still needs to be done manually. I would actually prefer just taking on https://github.com/kubeflow/community/issues/274 getting the automation up and running, but also for that we would need access and inst

[2020-09-23 13:20] jlewi commented on #274
@karlschriek Why use GitHub actions as opposed to Kubernetes? All of Kubeflow's infra runs on Kubernetes and everyone in the project should be familiar with Kubernetes. GCP has built in support for IAM (e.g. workload identity) which makes working with sensitive data easier.

@karlschriek You can use https://github.com/kubeflow/community-infra to provision a cluster and GCP service account.

My rec

[2020-09-23 13:39] DavidSpek commented on #344
A while back I created a dockerfile which uses the `jupyter/scipy-notebook` and essentially creates `jupyter/datascience-notebook` with support for R and Julia 1.5 (python version is 3.8, if used with ml-metadata version 0.24.0 is required). The r-base is version 4.0.2 instead of 3.6.3 and as such rpy2 is not compatible and has been removed and a few extra packages from the `r-notebook` have been

[2020-09-24 06:25] Bobgy commented on #413
It might be the same problem as [my comment here](https://github.com/kubeflow/community/pull/412#issuecomment-692634176).

My fix: log in as gongyuan@kubeflow.org, remove the invite to kubeflow-discuss@ first. Then fix permission issues and rerun the calendar sync script.

[2020-09-25 18:30] karlschriek commented on #274
Yeah, sorry, could have maybe phrased the question better. I was wondering specifically about the cron job suggestion, not about running on Kubernetes, since this seems like a straightforward CI case to me. Anyway it's not really that important. I've opened a PR as suggested and will scratch around abit to get to know the current infrastructure.

[2020-09-28 13:49] jlewi commented on #274
@karlschriek using cron to periodically run a sync which pulls the latest changes is simpler and in many more ways secure then configuring it to accept webhooks from GitHub.  One pattern that works pretty well is running https://github.com/kubernetes/git-sync in a sidecar to keep a sync'd copy of the repo. Your main container can then be a persistent daemon that watches for changes and runs the sy

[2020-09-29 09:08] kimwnasptd opened #415 "Can't run make generate for wgs.yaml"
Running `make generate` fails with the following error:
[code]

cc @jlewi

[2020-09-29 15:04] jlewi commented on #415
@kimwnasptd  @StefanoFioravanzo @thesuperzapper @elikatsis I don't think we can merge the notebooks WG #417 is fixed; so you might want to volunteer to fix this. I'm guessing its a simple fix to the go code to remove the check that sigs have subprojects.

[2020-09-30 03:29] #340 closed

[2020-09-30 08:27] kimwnasptd commented on #415
@jlewi sure, looking into it.

Quoting Jeremy's [comment](https://github.com/kubeflow/community/pull/408#issuecomment-692396749) for more context wrt sigs and subprojects:

So the proposed solution I'll implement will be to change [this line](https://github.com/kubeflow/community/blob/abb090d9af844354ee1c71b93c58f713b3961ece/generator/app.go#L290) that expects a SIG to have subprojects.

[2020-09-30 08:41] kimwnasptd opened #416 "SIG/UG templates reference kubernetes and not kubeflow"
While working on #415 and #407 I noticed that SIG/UG template files for automatically generating files are referencing kubernetes instead of kubeflow.
https://github.com/kubeflow/community/blob/abb090d9af844354ee1c71b93c58f713b3961ece/generator/sig_readme.tmpl#L51
https://github.com/kubeflow/community/blob/abb090d9af844354ee1c71b93c58f713b3961ece/generator/ug_readme.tmpl#L39

We should change this

[2020-09-30 08:41] kimwnasptd commented on #416
I can take a stab at this
/assign kimwnasptd

[2020-09-30 08:41] kimwnasptd commented on #415
/assign kimwnasptd

[2020-09-30 11:56] kimwnasptd commented on #415
I'm trying to understand when this broke to make sure that this issue will be resolved with the above fix.

@woop when you were preparing the PR for the `sig-feature-store` #408 how did you run the `make generate`?

[2020-09-30 13:17] woop commented on #415
Yea this is my bad. I was on my phone so I edited the PR directly using the UI.

[2020-10-01 13:34] #415 closed

[2020-10-01 14:04] #416 closed

[2020-10-02 14:05] DavidSpek commented on #344
@misteliy
Here is a dockerfile that has both VS Code and RStudio in it. It is based on the upstream datascience-notebook so includes Python, R and Julia.

[code]

[2020-10-02 22:05] andreyvelich commented on #413
@karlschriek For other events it is working. I can see the problem only with the AutoML meeting.

[2020-10-02 22:08] andreyvelich commented on #413
@Bobgy Does it mean that after re-run script with correct permission invite should be sent to kubeflow-discuss?

[2020-10-06 12:50] jlewi commented on #380
It looks like we haven't made much progress on finding owners.

Per: https://github.com/kubeflow/kubeflow#4889 it looks like @avdaredevil and @prodonjs only have cycles to help out occasionally.

Per kubeflow/kubeflow#4889 it looks like we need someone to take responsibility for releases.
@SachinVarghese and @StefanoFioravanzo it looks like you joined the reviewers list back in July. Are you inter

[2020-10-06 12:51] jlewi opened #420 "Missing group kubeflow/wg-pipeline-leads"
We are missing a GitHub group containing the leads for the pipelines wg

@Bobgy @rmgogogo @james-jwu @neuromage @animeshsingh Could one of you take care of this please?

[2020-10-06 12:53] jlewi opened #421 "Missing GitHub group kubeflow/wg-notebooks-leads"
@kimwnasptd @StefanoFioravanzo @elikatsis @thesuperzapper Could one of you create the PR to add the group please?

[2020-10-07 00:16] thesuperzapper commented on #380
@jlewi I am pretty sure the central dashboard also has the hamburger menu for the pages (pipleines, jupyter, etc), so we cant just remove it.

[2020-10-07 00:45] Jeffwan commented on #380
It talks to profile controller and access management as well.  This maybe part of WG-control-plane.. However, we only have WG-deployment proposal

[2020-10-07 06:17] StefanoFioravanzo commented on #380
Yes @jlewi Centraldashboard is definitely important to ensure Kubeflow shows itself as a cohesive product. I am interested in taking responsibility

[2020-10-07 08:14] SachinVarghese commented on #380
@jlewi I am also happy to take up responsibility for the centraldashboard project and releases. I agree with @StefanoFioravanzo on showing kubeflow as a cohesive product and centraldashboard can also be a point of other custom integrations.

[2020-10-07 09:37] kimwnasptd commented on #421
@jlewi what would this PR need to change?
Is there any other similar PR for the other WGs so I can have an idea of what needs to be done?

[2020-10-08 13:01] jlewi commented on #421
https://github.com/kubeflow/internal-acls/blob/be09e92e81692161f38fc46db0a21ea85d605e75/github-orgs/kubeflow/org.yaml#L999

[2020-10-12 09:01] Bobgy commented on #420
/assign
I'll take a look

[2020-10-12 09:03] Bobgy commented on #413
@andreyvelich no, I think you need to first remove kubeflow-discuss and add it back by running the script.
(because simply running the script makes no change to invited people)

[2020-10-12 15:37] andreyvelich commented on #413
@Bobgy I don't have access to run this script.
Can you help with it, please?

[2020-10-13 07:01] Bobgy commented on #413
/assign
OK, I'll take a look soon

[2020-10-14 17:38] jtfogarty opened #424 "calendar_import.py sync fails"
I'm attempting to run the calendar_import.py but am getting forbidden errors;
[code]
I am in the OWNERS file
[code]
Do I need to have a G Suite account?

Has anyone run this successfully outside of google?

@karlschriek
@nicholas-abad
@yuzliu

@jlewi Any guidance on this is greatly appreciated.

[2020-10-15 01:23] jlewi commented on #342
Closing in favor of #274.

I believe we will need to implement automation as I believe an @kubeflow.org account is needed and needs admin privileges on the calendar.

I believe when @james-jwu tried adding his account it didn't work.

[2020-10-15 01:23] #342 closed

[2020-10-15 01:24] jlewi commented on #424
See:  https://github.com/kubeflow/community/issues/342#issuecomment-708833122

Duplicate of #274

[2020-10-15 01:24] #424 closed

[2020-10-15 01:27] jlewi commented on #274
I might suggest the following as next steps

1. Create a GCP service account in the project created in kubeflow/community-infra#21
    * Preferably via GitOps
1. Download the service account key for this GCP SA
1. Grant the GCP SA permissions need to administer the calendar
1. Run calendar_import.py locally using the GCP SA

This would provide a mechanism for the calendar admins to run the sync.

[2020-10-15 23:29] #420 closed

[2020-10-16 12:28] karlschriek commented on #274
Alright, sound good. For the GitOps process I will set up something along these lines:

GitHub (IaC declaration) -> GCP Cloud Build (CI/CD) -> GCP Deployment Manager (IaC rollout)

Haven't worked with Deployment Manager before, but it seems straightforward enough. Any experience to the contrary? Could also substitute with Terraform though, it has pretty good GCP support.

[2020-10-16 15:22] jlewi commented on #274
I think we can do something simpler.

* Create GKE cluster
* Containers the calendar sync code
* Deploy the calendar sync code
* When the calendar sync code runs get the latest data from GitHub

A very simple solution here is to use https://github.com/kubernetes/git-sync to run a sidecar that clones the repository and then modify calendar sync so it runs in a loop on some time interval

You can al

[2020-10-16 15:50] annajung opened #425 "Slack invitation link broken"
https://www.kubeflow.org/docs/about/community/#slack-community-and-channels
link for "invitation to our Slack workspace" result in a server error message from slack

Can someone share a valid link to join the kubeflow slack workspace?

[2020-10-16 18:34] annajung commented on #425
looks like it was a problem with the slack system! (https://status.slack.com/)
closing this issue as no further action is required!

[2020-10-16 18:34] #425 closed

[2020-10-16 19:14] karlschriek commented on #274
What did you have in mind with creating the service account "preferably via
GitOps" then? That is what I was referring to, i.e. provisioning the needed
GCP infrastructure (service account, GKE cluster etc.).

On Fri, 16 Oct 2020 at 17:22, Jeremy Lewi <notifications@github.com> wrote:

[2020-10-16 21:56] jlewi commented on #274
@karlschriek We use  Cloud Config Connector to declaratively manage GCP infra. The GitOps part is already configured.

You create a service account using the [IAMServiceAccount resource](https://cloud.google.com/config-connector/docs/reference/resource-docs/iam/iamserviceaccount)

At this point you can download a service account via gcloud or pantheon and use that to run the script (once we get th

[2020-10-19 21:11] jlewi commented on #379
Closing this because the notebook work group has been formed.

[2020-10-19 21:11] #379 closed

[2020-10-19 21:14] jlewi commented on #421
@kimwnasptd @StefanoFioravanzo @elikatsis @thesuperzapper could one of you please prioritize this? Without the group it is difficult to communicate with the leads effectively.

[2020-10-20 00:05] thesuperzapper commented on #421
@jlewi I have created PR https://github.com/kubeflow/internal-acls/pull/358

[2020-10-20 03:16] #421 closed

[2020-10-21 00:05] Jeffwan opened #426 "Create WG-testing"
We have a few discussion in past two month on the approach owning and maintaining test/release infrastructure.
@PatrickXYS and I will like to proposal a WG to handle common test/release infra.

The WG-testing proposal will come later.

/cc @PatrickXYS

[2020-10-21 13:21] jlewi commented on #274
@jtfogarty Since you were asking about the calendar; this is the issue.

[2020-10-21 21:28] jlewi commented on #342
It looks like the issue with non kubeflow.org accounts was a permission setting.
 https://support.google.com/a/answer/60765

Specifically for secondary calendars we needed to modify the gsuite settings to allow editing of events by people outside the org.

[2020-10-21 21:40] jlewi commented on #342
@jtfogarty @karlschriek @yuzliu Can you check whether you are able to edit the Kubeflow calendar now?

/cc @james-jwu @Bobgy

[2020-10-21 22:38] jtfogarty commented on #342
@jlewi I have NOT able to add or modify they calendar from the webpage.  Did you want me to try to run the python script?
As a side note, the Tuesday 8AM pst meeting is no longer on the calendar.

[2020-10-22 02:09] jlewi commented on #342
@jtfogarty Thanks for the info. I'm in the process of automating the syncs so no need to keep trying it.

Can you file a bug about the Tuesday community meeting? It looks like there might be something wrong with the config.

[2020-10-22 03:46] jlewi commented on #274
The calendar should now be sync'ing automatically whenever there is a change.

We can close this as soon as #428 is merged

[2020-10-22 03:49] jlewi opened #429 "calendar_import.py needs to handle pruning and generate unique ids"
According to @Bobgy calendar_import.py may not handle pruning. i.e. when we delete events from calendar.yaml we aren't actually deleting them from the calendar.

Per: https://github.com/kubeflow/community/issues/430#issuecomment-716782210
I think we also want to generate the IDs automatically for the calendar events; maybe by hashing them?
This will avoid future problems caused by people reusing I

[2020-10-22 11:27] karlschriek commented on #274
Ok, so the sa now exists. How can grant it permission to administer the calendar?

[2020-10-22 11:38] karlschriek commented on #429
I could look at it as soon as the sa we created (https://github.com/kubeflow/community-infra/pull/22) has permission to edit the calendar.

[2020-10-22 11:57] jlewi commented on #274
@karlschriek I took care of all the automation; the calendar is now being sync'd automatically.

[2020-10-22 11:58] jlewi commented on #429
@karlschriek The calendar sync is fully automated now; So we just need to

1. Update calendar_import.py
1. Rebuild the docker image
1. Redeploy

[2020-10-22 12:00] jlewi opened #430 "Tuesday Community meeting isn't showing up in community calendar; calendar_import.py should not create a meeting if there is already a meeting with that id"
After the latest calendar sync's the tuesday meeting
https://github.com/kubeflow/community/blob/39e7498dd9c628bbb6dda25db55933171c5b0acf/calendar/calendar.yaml#L18

No longer shows up
https://calendar.google.com/calendar/u/0/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com&ctz=America/Los_Angeles

The script doesn't appear to be showing any errors

@jtfogarty and @karlsc

[2020-10-23 21:07] jlewi commented on #430
@jtfogarty  @karlschriek  @nicholas-abad @yuzliu ping? This is P0 as we'd like to ensure the meeting is up to date before next week's meeting. Could someone try submitting a PR with a new meeting entry (i.e. same meeting details but new id).

[2020-10-24 02:59] #363 closed

[2020-10-25 11:25] #369 closed

[2020-10-26 03:10] thesuperzapper commented on #430
Its almost certainly related to PR #412

It caused two meetings to have the same id `kf029`, we should make it `kf002` again, and re-sync.

[2020-10-26 05:49] #274 closed

[2020-10-26 14:41] jlewi commented on #430
Its showing up again. I'm not sure what happened.
I reran the script.

Looking at the logs. It looks on the last sync an error might have occurred while updating the calendar

[code]

I'm not sure why that would have caused the meeting to disappear though. It looks like one problem is that we don't periodically rerun the sync; we only rerun when a change is detected. So we won't correct for any dr

[2020-10-26 17:20] jtfogarty commented on #430
@jlewi I accepted the invite but now the meeting is gone

[2020-10-26 19:23] jlewi commented on #430
The logs have a link to the event;
https://www.google.com/calendar/event?eid=a2YwMjlfMjAyMDA4MThUMTUwMDAwWiBrdWJlZmxvdy5vcmdfN2w1dm5ibjhzdWoyc2UxMHNlbjgxZDk0MjhAZw

When you navigate to it it says the event has been canceled and removed from the calendar.

[2020-10-26 19:28] jlewi commented on #430
@thesuperzapper 's message just clicked for me. I believe he is on the money. We have two meetings with the same id; kf029.

@jtfogarty Can you please put together a PR to change the ID of the community meeting?

Can someone also update calendar_import.py to detect and avoid creating duplicate entries?

[2020-10-26 19:43] jtfogarty commented on #430
@jlewi done

[2020-10-26 19:46] jlewi commented on #430
Thanks @jtfogarty #432 should hopefully provide us a quick fix. But I think we need a longer term solution from the calendar admins to prevent this from reoccurring in the future.

[2020-10-27 12:31] jlewi opened #433 "Notebook WG leads need to take ownership of release infrastructure, processes, and artifacts"
Every work group needs to take ownership of its release process and artifacts.

This issue is tracking the work for notebooks

@kubeflow/wg-notebook-leads

[2020-10-27 14:20] jlewi commented on #430
It looks like the meeting is now on the community calendar but I'm not getting an invite. Even though kubeflow-discuss is listed as an attendee.

Unlike the 5:30 pm meeting, for the 8am meeting the group is listed as a single attendee.

My conjecture is that this  might be because the calendar invite was created by autobot@kubeflow.org which is not a manager of kubeflow-discuss@googlegroups

[2020-10-27 14:30] jlewi commented on #430
I made autobot@kubeflow.org  as a manager of kubeflow-discuss@googlegroups
I deleted the calendar invite and kicked the bot.

That doesn't appear to have fixed.

@jtfogarty @karlschriek Can one of the calendar admins investigate this further and figure out what we need to do? Would be great to get a separate issue filed.

[2020-10-28 13:41] jlewi commented on #430
https://support.google.com/calendar/answer/172013?hl=en

https://support.google.com/a/answer/167094?hl=en

So I would expect manager permissions to be sufficient.

[2020-10-28 13:42] jlewi commented on #430
Maybe try bumping the KF id so we create a new unique calendar invite?

[2020-10-28 22:27] #345 closed

[2020-10-29 13:41] jlewi opened #437 "Create a GitHub group for the calendar admins"
@jtfogarty @karlschriek @nicholas-abad @yuzliu

You are currently listed as OWNERs of the calendar
https://github.com/kubeflow/community/blob/master/calendar/OWNERS

Could you please define a GitHub group in
https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml#L651

This way its easy to mention all of the calendar admins on groups

[2020-10-29 13:45] jlewi opened #438 "calendar events are added but invites are not sent to kubeflow-discuss"
see: https://github.com/kubeflow/community/issues/430#issuecomment-717277759

The Tuesday 8am community meeting got added to the calendar but members of kubeflow-discuss@googlegroups.com are not getting invites.

These articles about permissions and groups seem relevant

https://support.google.com/calendar/answer/172013?hl=en

https://support.google.com/a/answer/167094?hl=en

Per: https://github.c

[2020-10-29 13:46] jlewi commented on #430
Filed #438 to deal with invites not getting sent.

[2020-10-29 13:48] jlewi commented on #430
Lets use #438 and #439 to track follow on work.

[2020-10-29 13:48] #430 closed

[2020-10-29 13:53] jlewi opened #439 "Track P0/P1 backlog for each WG"
Now that we have WGs formed. It would be good to track the backlog of P0/P1 issues for each workgroup (based on area labels).

We'd like to make sure WGs are keeping.

@jtfogarty what is the current status of the [reports](https://groups.google.com/g/kubeflow-discuss/c/1o2ig0ZIzyg/m/47k_xpBEAAAJ) that you used to send out?

* Is it possible to break down issues by priority and area?
* Are the dash

[2020-10-29 13:54] jlewi commented on #439
WG leads what are you currently doing if anything to track whether you are keeping up with your backlog?

@kubeflow/wg-automl-leads
@kubeflow/wg-notebook-leads
@kubeflow/wg-notebook-leads
@kubeflow/wg-serving-leads
@kubeflow/wg-training-leads

[2020-10-29 13:55] jlewi commented on #439
@kubeflow/wg-pipeline-leads

[2020-10-30 02:59] gaocegege commented on #439
Where should we keep our backlog for WGs?

[2020-10-30 15:37] jlewi commented on #439
@gaocegege I'm not sure I understand the question. I assume people are filling GitHub issues in appropriate repos and labeling them. Issue labels should allow grouping issues by WG; e.g. area/jupyter maps to the notebook leads.

[2020-10-30 15:45] jlewi commented on #439
In addition to @jtfogarty 's code we also have this notebook
https://github.com/kubeflow/community/blob/master/scripts/project_stats.ipynb

Which I believe is computing time series for each label have number of open and closed issues.

@GauravSarkar if you are interested in contributing I think some pointers are

* Update the notebook to generate plots (use Altair instead of PlotLy) to actually sh

[2020-10-31 19:55] jtfogarty commented on #439
@jlewi yes this link is to the public dashboard https://gitmetrix.007ba7.us/
The code is here https://github.com/docure/git-metrics
I will look into adding priority and area to the dashboard

[2020-11-02 03:01] Bobgy commented on #413
Sorry, I don't have enough time to take this investigation.
I remember some calendar admins have been granted calendar permissions, can they look into this?
/unassign

[2020-11-02 13:02] andreyvelich commented on #413
@jlewi @jtfogarty  Do you have any ideas how we can fix it ?
Kubeflow discuss members still don't have invite for this meeting.
I believe Kubeflow community meeting has the same issue.

[2020-11-02 13:40] jlewi commented on #413
Duplicate of #438

[2020-11-02 13:40] #413 closed

[2020-11-02 13:44] jlewi commented on #439
Thanks @jtfogarty It looks like the [backlog graphs] (https://gitmetrix.007ba7.us/#/backlog) are per repo. Could we generate back logs by label and aggregate across repos.

[2020-11-02 15:10] jlewi commented on #438
I tired bumping autobot@kubeflow.org from a manager to owner of kubeflow-discuss@ just to see if that would change things. I also deleted the existing calendar invite.

I think we should try bumping the calendar ids as well to ensure we aren't updating an existing calendar invite.

[2020-11-02 15:25] jlewi commented on #438
I conducted an experiment; I created two calendar invites manually one using the account autobot@kubeflow.org and one as jlewi@google.com.

Both show up on the community calendar but neither get invites on my calendar. So it doesn't look like this has anything to do with the automation.

Anyone want to do a bit of Googling to figure out if this is some permission setting?

[2020-11-02 15:30] jlewi commented on #438
I take that back it looks like the manually added events by jlewi@kubeflow.org and autobot@kubeflow.org both eventually showed up they just took a while.

So looks like an issue with the automation.

[2020-11-02 16:11] Bobgy commented on #438
Did you let autobot@kubeflow.org join kubeflow-disciss group?
I think it doesn't need to be manager or owner, just member is enough.

I used to see the same problem, but after I joined the Google group, it works.

And, to add to that, after joining the group I had to delete kubeflow-discuss from the invite and add it back again to properly invite.

[2020-11-02 18:48] jlewi commented on #438
@Bobgy Yes autobot@kubeflow.org is a member of the Google group.

The problem appears to be specific to the automation because when I login as autobot@kubeflow.org and manually add calendar invites the invites are added to the individual calendars.

My conjecture is that this an OAuth scope issue. The docs don't list any other scopes
https://developers.google.com/calendar/auth

However, I'm going

[2020-11-02 19:25] jlewi commented on #438
I created a Google group kf-test-calendar@googlegroups.com to experiment with.

Looking at code commit history it doesn't look the scopes has changed.
https://github.com/kubeflow/community/commit/8df8fcf1f5a57887af61325d25feb78503331e57#diff-0e5a0a9fa5b75131386c0d5890ed3013c42519fbcaea40dbaf0915472673fce9L34

It also looks like when human users ran the sync manually the invites were added.

[2020-11-02 19:56] jlewi commented on #438
I tried creating a fake calendar invite: #438 and it correctly shows up on my calendar. So my hypothesis is that this is an issue with updating existing calendar invites.

[2020-11-02 20:15] jlewi commented on #438
That didn't work the new updated calendar invite doesn't show up my calendar.

I wonder if there is some sort of protection in place to prevent spamming large groups.

I'm still puzzled by the fact that calendar_import.py appears to have worked correctly when run manually.  I wonder if there was a difference in the OAuth client secrets.

[2020-11-02 20:52] jlewi commented on #438
It started showing up but then disappeared when I deleted the existing duplicate invite. So it looks like

1. We need to bump the IDs
1. Give it some time for the invites to be sent

We probably need to fix #429 as well

[2020-11-02 22:53] jtfogarty commented on #439
we could, I'm not sure how well it would perform.  there is no backend database and it is all client side scripting so we would have to pull all issues from all repos and group.  We need to close all the issues for 0.7.0  and earlier.

[2020-11-03 00:07] jlewi commented on #439
Would the notebook approach work better? That is pulling the data from BigQuery which should scale better.

[2020-11-03 00:27] jlewi opened #445 "Make Each WG Responsible For Their Own Calendar"
Back in June we asked for additional volunteers to administer the Kubeflow Calendar; kubeflow/community#342

The goal here was to offload the work from Google. The expectation was the new admins would take responsibility for automating the calendar and performing any maintenance.

While the admins were gracious in volunteering their time this has simply not achieved the desired outcome as Google c

[2020-11-03 19:27] jlewi commented on #438
I deleted the AutoML meeting and now after some delay it is showing up on my calendar. As are the community meeting.

Next step is probably to implement pruning per #429 so that its easy to bump the calendar id to force creation of a new event.

[2020-11-03 19:36] andreyvelich commented on #438
Thank you for help with this @jlewi!
Should this meeting be visible for other `kubeflow-discuss` members?
I still can't see invitation/notification for this meeting on my calendar.

I see only one that created in [`Kubeflow community calendar`](https://calendar.google.com/calendar/u/0/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com).

[2020-11-03 19:38] jlewi commented on #438
@andreyvelich What day are you looking at? Are you looking at 11/25? I wonder if there is some rate limiting that happens with really large groups. See also #445

[2020-11-03 19:42] jlewi opened #446 "remove kubeflow-discuss from calendar invites"
Per #438 we put a lot of effort into making calendar invites show up by inviting the group  kubeflow-discuss@googlegroups.com

I'm not sure we actually want to do that.

* kubeflow-discuss@ is probably not the right mailing list to invite folks to all the meetings
  * Most meetings will be specific to WGs and not of broader interest
  * We might want to have specific groups if people really wanted

[2020-11-03 19:43] andreyvelich commented on #438
Oh, now I see it, it appears on my calendar on 11/25, thanks!
I was looking for the 11/11 (11am UTC, 3am PST). Does it have some restrictions ?

About https://github.com/kubeflow/community/issues/445, can we discuss about it on today's community meeting ?
/cc @gaocegege @johnugeorge @Jeffwan

[2020-11-04 00:38] james-jwu commented on #359
This is already done. Closing.

[2020-11-04 00:38] #359 closed

[2020-11-05 01:36] #341 closed

[2020-11-05 08:36] thesuperzapper commented on #381
The PodDefaults controller (also known as `admission-webhook`) is owned by `wg-notebooks`

[2020-11-05 08:36] thesuperzapper commented on #381
/close

[2020-11-05 08:37] #381 closed

[2020-11-05 14:33] terrytangyuan commented on #326
This can be closed now. Thanks @mameshini!

/close

[2020-11-05 14:33] #326 closed

[2020-11-07 00:33] animeshsingh opened #449 "adding tech leads on wg-list.md file"
is this being generated or hand-crafted?
https://github.com/kubeflow/community/blob/master/wg-list.md

would be good to have a column for tech-leads (in some cases they are redundant with chairs, but also different). As a community good to highlight the tech-leads.

[2020-11-08 20:14] PatrickXYS opened #450 "Optional-Test-Infra Documentation"
Given some of the kubeflow repositories have migrated to optional test-infra, which requires documentation to help them debug and onboard.

Changes need to be make against this doc

https://github.com/kubeflow/community/blob/master/repository-setup.md

/cc @jlewi @Bobgy

[2020-11-11 06:45] Bobgy commented on #438
I think all problems solved, current work around is bumping calendar id and removing the existing calendar item.
A PR example to update a calendar event: #444

[2020-11-11 06:45] #438 closed

[2020-11-11 07:03] Bobgy commented on #437
@jtfogarty @karlschriek @nicholas-abad @yuzliu
friendly ping

[2020-11-11 07:05] Bobgy commented on #426
https://github.com/kubeflow/community/pull/427 has been closed

[2020-11-11 07:05] #426 closed

[2020-11-11 07:09] Bobgy commented on #409
@jlewi is there anything left for this issue?
Looks like we have formed a SIG already

[2020-11-11 07:13] Bobgy commented on #380
centraldashboard has been added to notebooks WG: https://github.com/kubeflow/community/pull/447/files#diff-11b55409b3d27f083915bd4b910672caaf0e9550cf34d77fe76e8b6b9515023dR281

[2020-11-11 07:13] #380 closed

[2020-11-11 07:13] Bobgy commented on #399
We've added this for all the teams

[2020-11-11 07:13] #399 closed

[2020-11-11 08:49] Bobgy opened #451 "[Proposal] Each Kubeflow distribution should have its GitHub team"
Hi community,

I think each Kubeflow distribution should have its POCs on www.kubeflow.org. When people report issues specific to some distribution, other WGs should be able to know who to assign the issue to.

Because we have decided that distributions should be outside of Kubeflow (https://github.com/kubeflow/community/pull/434), so the POCs won't be WGs. They will be ~individuals that represent

[2020-11-11 08:53] Bobgy commented on #451
distribution | POC
-- | --
Existing Kubernetes cluster using a standard Kubeflow installation | @swiftdiaries said he doesn't have bandwidth, who can we put here?
Existing Kubernetes cluster using Dex for authentication | @krishnadurai
Amazon Web Services (AWS) using the standard setup | AWS (@Jeffwan  @PatrickXYS)
Amazon Web Services (AWS) with authentication | AWS (@Jeffwan  @PatrickXYS)
Microso

[2020-11-11 08:54] Bobgy commented on #451
also
/cc @jbottum @yanniszark

[2020-11-11 16:45] PatrickXYS commented on #451
I think "Existing" should be replaced by "On-prem" because `Existing Kubernetes cluster` is not clear to users

Besides mentioning individual names on the POC column, how about making one specific team?

E.g, for AWS, we specify @kubeflow/aws team, this should be more maintainable and scalable if one folk left or not responsive anymore.

[2020-11-11 17:17] cvenets commented on #451
@Bobgy

For the Istio+Dex configuration @yanniszark from our team is responsible, but I agree with @PatrickXYS. I think assigning teams will be easier to handle and maintain in the future. We can do @kubeflow/arrikto from our side for the Istio+Dex config for now. Note that this will change with the new Manifests WG after 1.2.

Also note that most probably this page needs to get updated altogether

[2020-11-11 20:10] jtfogarty commented on #437
@Bobgy It's my understanding that all working groups and SIGs will have their own calendar managed outside the Kubeflow Org. Is this github group still needed?

[2020-11-11 22:03] Jeffwan commented on #451
In the past, we assign labels to those issues. However, this needs some manual triage and won't /cc to right POC. We probably need a mechanism to improve that. Creating teams like @kubeflow/aws is one option but we still need some one to triage issues.

[2020-11-11 23:14] thesuperzapper commented on #451
@PatrickXYS I think we could call it something like "Base Kubernetes", "Minimal Kubernetes", "Compliant Kubernetes", becuase there is nothing about that distro which is specific to "on-prem".

[2020-11-11 23:17] thesuperzapper commented on #437
I think someone still needs to be admin for the kubeflow-discuss calendar?

[2020-11-16 17:16] PatrickXYS commented on #449
The point that we put chairs / tech-leads is to provide users POC (point-of-contact) to get in touch with.

If you check out kubernetes sigs-list, they also only list chairs though they also have tech-leads.

https://github.com/kubernetes/community/blob/master/sig-list.md

[2020-11-16 17:34] PatrickXYS opened #454 "[Proposal] Create Kubeflow Roadmap for feature requests"
As of now, I've noticed some end-users want to send feature request but posted in wrong repository, application, and didn't get enough attention / feedback from community side.

Creating Kubeflow Roadmap **centralized** github repository / project for Kubeflow feature requests, is helpful for end-users to find the right place for feature-requests and get enough attention from WGs.

Here is an exam

[2020-11-17 11:26] Bobgy commented on #451
Thanks, updated contacts. That makes sense to me.

I didn't find a github team for IBM folks, @animeshsingh is there an existing one or can you create one?

[2020-11-17 11:29] Bobgy commented on #451
@cvenets for clarification, right now manifests WG do not own the distribution itself, it's only supporting the catalog that helps every distribution.
and in spirit of https://github.com/kubeflow/community/pull/434, we should keep the existing kubernetes distribution out of Kubeflow org like all other distributions.

[2020-11-17 13:04] jlewi commented on #454
* Is the problem triaging and routing issues to appropriate wgs?
* Is the problem wgs aren't paying attention to their issues?

When an issue is filed it should get labeled with appropriate area/<area> labels which can be used to route issues to the appropriate WG. In principle we can transfer issues between repos but we haven't done much of that.

I suspect WGs are only monitoring certain reposit

[2020-11-17 19:32] PatrickXYS commented on #454
I think your words touched some of the pain points.

Imagine one scenario:

End-user created a Katib-related issue in `kubeflow/kubeflow` or `kubeflow/manifests` repository, labeling the issue with `/area AutoML` will be able to get attention from `WG-AutoML`, but what happened next is also a pain point.

After `WG-AutoML` discussed and decide to develop/fix this issue, there might be no way for e

[2020-11-17 22:39] cvenets commented on #451
@Bobgy I agree. What I meant is that the new Manifests will be clean from kfct. Currently this config contains kfctl, as does the AWS one if I'm not mistaken. The manifests will be pure kustomize as KFP does now for example, and then everyone can build whatever they want, including distros, on top of them, independently.

[2020-11-17 22:47] BenTheElder commented on #451
aside: in the future please consider escaping team mentions with backticks if you're discussing the team versus intending to notify the team like `@kubeflow/aws` which will NOT subscribe everyone in the team to the thread.

[2020-11-17 23:06] PatrickXYS commented on #451
@BenTheElder What's the reason for this desired behavior? What I can tell is it might be annoying to have 1000+ members's github team got notified for one single command `@kubeflow/aws`. But what about some small github teams want to notified as a whole? It would be nice to have you elaborated a little bit.

However, I think this should be fine given current proposal, what @Bobgy said is to create

[2020-11-17 23:25] Bobgy commented on #451
I think Ben is making a right point that not everyone in `@kubeflow/google` is actively maintaining the kubeflow on GCP.

So for us, I think making another team called @kubeflow/oncall-gcp specifically would be better.

But it's purely for us. You can decide what team scope works for you.

[2020-11-17 23:39] Bobgy commented on #454
I think we should mechanisms that encourage users to directly create an issue on katib repo directly instead.

Can we disable issues on kubeflow/kubeflow and put a map there where people should create issues?

[2020-11-17 23:53] BenTheElder commented on #451
I mean for this very thread right here I don't know that it was intended to subscribe everyone in all of the teams in the table above to this discussion but they are now.

That looks unintentional to me, and can be avoided using backticks around the team if you just want to reference a team for the purposes of creating a table of teams without actually subscribing everyone to the thread 🤷‍♂️
Not a

[2020-11-18 00:03] PatrickXYS commented on #454
It's our infinite goal but as I can see, it's too difficult to achieve. Especially end-user might meet some problems like istio / notebook-controller, not all the end-users know where to create github issues.

This is good idea, but question is how can we make sure end-user aware of where the map is?

Besides training end-user to get familiar with our architecture / mapping, I'd like to train / in

[2020-11-18 01:21] andreyvelich commented on #454
I also like this approach if it is possible. That will simplify the tracking process for the WG leads.

[2020-11-18 04:02] Jeffwan commented on #454
There won't be perfect solution.

`kubeflow/kubeflow` plays role of `kubeflow/roadmap`.  we don't need to create another one.

That would not be a good experience on the user side. As I know, most of them are not familiar the sub-projects. Some users just like to raise issues there. At the same time, most control plane related components are still hosted in `kubeflow/kubeflow`

I would suggest to

[2020-11-18 04:20] thesuperzapper commented on #454
As a partial solution, we could improve the GitHub issue template on `kubeflow/kubeflow` to include links to the sub projects.

But this still has the problem of users not necessarily knowing what version of each sub-app they are on, as each distribution will have different versions.

[2020-11-18 04:44] Bobgy commented on #454
I think we need to guide users from the most obvious option "raise an issue in kubeflow/kubeflow" to what will help WGs manage the community -- "raise an issue in the corresponding repo". This also helps the user because their questions/issues have a higher chance to get responded to and fixed faster.

People may make mistakes, that's totally fine. If they raised an issue against the wrong repo. T

[2020-11-18 04:45] Bobgy commented on #454
It's each application's responsibility to make it clear what version it is.

[2020-11-18 16:39] cvenets commented on #454
@Bobgy wrt Notebooks, the only solution I see, at least for the near future, is to either create a new repo under kubeflow/notebooks and treat it the same way we do for any other component (KFP, KFServing, Katib), or rename the current repo. I don't think we should rush to do any of the two right now, since we have bigger problems to solve.

I think these are too many changes to do at once. Let's

[2020-11-18 16:58] PatrickXYS commented on #454
I agree with @cvenets , let's finish 1.2 release. And I think @kubeflow/wg-manifests-leads need to discuss and collaborate to bring up a proposal / plan for kubeflow community.

This is 1st priority, other breaking changes should wait / collaborate with us to be made.

[2020-11-18 18:24] Jeffwan commented on #454
@Bobgy  +1

What's the kubeflow/kubeflow positioning? Should we deprecate it once notebook and control plane components move out of it?

[2020-11-18 23:40] jbottum opened #455 "Kubeflow 1.2 Blog post"
**Announcing Kubeflow v1.2 release**

**David’s First Draft**: Three years (!!) ago, we (Jeremy Lewi, Vish Kannan and David Aronchick) [stood on stage at Kubecon](https://www.youtube.com/watch?v=R3dVF5wWz-g) to introduce Kubeflow for the first time. We could not have possibly imagined what would have come about - thousands of GitHub stars, tens of thousands of commits and a community that has buil

[2020-11-18 23:55] jbottum commented on #455
@hamelsmu Hey Hamel - might you potentially help with some formatting of this post.   some of the images aren't copying in either .   Here is the original doc.   I just copied and pasted but maybe that was wrong.   https://docs.google.com/document/d/1fMAqZ9hv0p22TA6uMM2gpii65pMPiKJAKxSQ6e6RFho/edit?ts=5fb4991b

[2020-11-19 00:04] hamelsmu commented on #455
@jbottum do you have an open PR with the blog post you are trying to publish?

[2020-11-19 00:20] jbottum commented on #455
@hamelsmu thanks for your reply, not yet, I thought the instructions said to open an issue 1st.    Also, I lost all the hyperlinks.

[2020-11-19 00:27] hamelsmu commented on #455
Yeah someone needs to help you convert it into markdown and open a PR

[2020-11-19 00:37] jbottum commented on #455
@hamelsmu got it converted to .md and pasted in

[2020-11-20 09:56] gaocegege commented on #454
Same question here.

[2020-11-20 14:38] jlewi commented on #454
@PatrickXYS it looks like the problem you are trying to address is how can we do a better job of routing issues to WGs

I agree this is a problem. Regarding your proposed solution

In general Kubeflow is becoming more decentralized with each WG in charge of its own resources/destiny. Creating a centralized repo for ROADMAP doesn't seem aligned with that.

Here are some alternatives I can think of

[2020-11-20 14:41] terrytangyuan commented on #454
I'd suggest not to archive the kubeflow/kubeflow repo as it has gained quite a large number of stars which is one of the characteristics of popularity. Should we use it to feature and highlight all the WGs/projects within kubeflow and serve as an entry point for community?

[2020-11-20 15:02] #409 closed

[2020-11-20 15:31] jlewi commented on #450
If a new repository is going to be using the AWS CI infrastructure that's probably a good indication that it shouldn't be created in the Kubeflow GitHub org. The Kubeflow GitHub org will continue to be administered by Google. If a repo is using AWS CI that's an indication that Google doesn't want to take on the cost of providing engprod resources to that project which includes administering repos.

[2020-11-20 15:55] animeshsingh commented on #454
+1 on not archiving it. Beyond the popularity, stars are a means for of people to come back to the project.

[2020-11-20 21:20] cvenets commented on #454
+1 on not archiving it. There needs to be an entry point for users.

On Fri, Nov 20, 2020 at 7:55 AM Animesh Singh <notifications@github.com>
wrote:

[2020-11-20 23:46] Bobgy commented on #454
Issues can be disabled (or limited to contributors independently from archiving the repo).
So I don't like archiving it either, same as reasons above.

[2020-11-22 23:30] thesuperzapper opened #456 "New GitHub org: kubeflow-wgs"
Given there is discussion about moving away from the centralised [kubeflow](https://github.com/kubeflow) GitHub org, I have registered [kubeflow-wgs](https://github.com/kubeflow-wgs).

I propose that this new org will be controlled by a panel of people from the established Working Groups. I believe this approach is preferable to fragmenting into our own GitHub organisations.

For reference, kubern

[2020-11-22 23:31] thesuperzapper commented on #450
@jlewi I have a proposal (which needs to be fleshed out), which will address what you are saying: https://github.com/kubeflow/community/issues/456

[2020-11-23 00:00] PatrickXYS commented on #450
We'll try our best to make the test-infra neutral, and it's weird that WG use optional-test-infra should be created in other org. Since we won't do the same thing to other testing tools/frameworks including Github Actions / Circle CI / Travis, what's the difference between optional-test-infra and those tools?

The goal of optional-test-infra is to provide community WG with another option for the t

[2020-11-23 08:50] Bobgy commented on #437
It seems the existing calendar admins either prefers moving to separate calendars or didn't reply. I think we can close this only continue moving to individual calendars.

[2020-11-23 08:50] #437 closed

[2020-11-23 08:51] Bobgy commented on #437
https://github.com/kubeflow/community/issues/445

[2020-11-23 19:37] #450 closed

[2020-11-24 00:14] thesuperzapper commented on #437
@Bobgy I assume we still want the community meeting to be in `kubeflow-discuss` as its targeted at everyone?

If so, we still need an admin group for that.

[2020-11-24 08:23] Bobgy commented on #437
@thesuperzapper you can still contact them via https://github.com/kubeflow/internal-acls/blob/bf392a1a643b36ac0285ee03530db26946579fad/google_groups/groups/calendar-admins.yaml#L3

[2020-11-24 09:51] karlschriek commented on #445
I would agree pretty strongly with this. Apologies, I am one of the volunteers, but have been mainly a bottleneck. It makes sense to put control of the calendar(s) directly with the working groups that need the

[2020-11-24 16:51] jtfogarty commented on #429
This is no longer needed since we are moving off the Kubeflow.org calendar onto individual SIG and WG calendars
If anyone needs help removing calendar items, please reach out to me.
Please close this issue.

[2020-11-24 17:00] #429 closed

[2020-11-25 13:34] jlewi commented on #456
@thesuperzapper  thanks for opening this unfortunately  I think this is problematic. Please go back to [Chris' email](
https://groups.google.com/g/kubeflow-discuss/c/v6iS6F_iZSI/m/RTWodi8DBgAJ)

I would not recommend people use this new GitHub org as that seems likely to cause problems down the line.

If you want to setup new governance structures I think per Chris' email then you need to create a

[2020-11-25 13:34] #456 closed

[2020-11-25 22:35] thesuperzapper commented on #456
@jlewi  this proposal is not about creating a new governance structure for Kubeflow, but addressing the fact Google is unwilling to maintain the `kubeflow` GitHub org from an engineering perspective.

Nothing about moving the repositories (which are owned by the working group leads) into `kubeflow-wgs` will affect the current governance structure, it just gives the code a home.

All the governance

[2020-11-25 23:38] PatrickXYS commented on #456
Let me clarify something first, from our AWS side; we'd like to provide an **optional-test-infra** for kubeflow WG.

We'll focus on the engineering work afterwards, and leave governance and steering work for Google.

[2020-11-30 06:00] Bobgy commented on #456
@thesuperzapper I've fixed the configuration and it's now visible from public. I speak for this group, but there's nothing decided that I can share publicly right now. The latest update is what I shared in last community meeting, that we are working on trademark guidance, so before that's settled, I'd recommend not creating any new org in the name of `kubeflow`.

[2020-12-02 03:00] thesuperzapper opened #459 "Working Group Status Check"
Hi all,

As discussed in the latest community meeting, I want to check how the establishment of each Working Group is going. Most groups have had a month since they were formally established, so now is a good time for a check in.

### Questions for WG Leads:

1. Have you setup a regular meeting in the [kubeflow/community -- calander.yaml](https://github.com/kubeflow/community/blob/master/calendar/

[2020-12-02 06:04] Bobgy commented on #459
For `@kubeflow/wg-pipeline`, we've done 1. and 3, 2. is WIP and there are a few pieces not settled yet.

[2020-12-02 21:18] thesuperzapper opened #460 "Proposal: unbundle common cluster services"
Hi all,

I want to propose that we unbundle common cluster services from our [kubeflow/manifests](https://github.com/kubeflow/manifests) repo, and encourage users to install them independent of Kubeflow. This will help users upgrade Kubeflow without impacting the rest of their cluster, and make it much easier to install Kubeflow on existing clusters.

### NOTE:
* obviously our end-to-end tests wil

[2020-12-02 21:18] thesuperzapper commented on #460
I think this decision lies with the manifests working group: @kubeflow/wg-manifests-leads

[2020-12-02 21:32] howardjohn commented on #460
FWIW, Istio recently did essentially the same thing: https://istio.io/latest/blog/2020/addon-rework/

[2020-12-02 21:42] PatrickXYS commented on #460
@thesuperzapper Thanks for proposal

I think this is a well-known issue, community folks already feel the pain.

The point is, how to efficiently unbundle dependencies and meanwhile avoid breaking existing components.

But I think this should be one of the important item on our roadmap

[2020-12-03 01:05] Jeffwan commented on #459
for @kubeflow/wg-training-leads We have not scheduled the weekly meeting, I think we will have some conclusion end of this month. There're a few training repos in Github, 2 is not done yet. we will probably use kubeflow/common but need some discussion. 3 is done.

[2020-12-03 03:12] Bobgy commented on #460
I agree with the spirit of this proposal -- and the problem that dependency management in Kubernetes is unsolved.

I think this is a tradeoff, the more stuff we ask users to install and configure, the more likely they will face problems in manually integrating another system with Kubeflow (and it's absolutely hard troubleshooting these cases, because there's deep knowledge required). This will mak

[2020-12-03 03:28] yuzisun commented on #459
for @kubeflow/wg-serving
1) We have been doing biweekly regular meeting
2) We have slack channel `kfserving` for handling user issues, github project board to track the work. Currently we have two active projects [KFServing 0.5](https://github.com/kubeflow/kfserving/projects/2) and [Multi Model Serving](https://github.com/kubeflow/kfserving/projects/3).
3) OWNERS files are setup with @kubeflow/wg-

[2020-12-03 04:33] PatrickXYS commented on #454
/close

Close the issue, will re-open until we feel the pain

[2020-12-03 04:33] #454 closed

[2020-12-03 11:06] gaocegege commented on #459
for @kubeflow/wg-automl-leads

1. We have it /cc @andreyvelich
2. No, we can setup it in the next meeting
3. Yes

[2020-12-03 15:09] yanniszark commented on #459
For @kubeflow/wg-manifests-leads:
1. Not yet, we are in the process of deciding the meeting times (https://kubeflow.slack.com/archives/C01EY3L525N/p1606879566011400)
2. We have a Slack channel. We will use a google doc for the meeting notes and track our work as issues in the manifests repo.
3. I believe we have:
https://github.com/kubeflow/manifests/commit/855d7e996238f22c9107d39e7d9b1089be3e408a

[2020-12-03 17:11] yanniszark commented on #460
@thesuperzapper thanks for taking the time to make this proposal. I am inclined to agree with @Bobgy that this is a balance between ease of installation and configurability. I believe we want both: it should be easy to deploy with little configuration AND it should be possible to swap out dependencies if necessary. We will achieve this by:
- Executing on the stated goal of wg-manifests, to provide

[2020-12-03 17:32] andreyvelich commented on #459
Thanks @gaocegege.
In addition to 2)
AutoML slack channel: https://kubeflow.slack.com/archives/C018PMV53NW.
AutoML meeting notes: https://docs.google.com/document/d/1MChKfzrKAeFRtYqypFbMXL6ZIc_OgijjkvbqmwRV-64.

[2020-12-03 22:37] thesuperzapper commented on #460
Lets keep discussing this, but I want to highlight some things:
* I don't think making this change will significantly reduce the 'ease of use', because:
   1. distribution owners can still cater to the "clean kuberntes cluster" if they want, (which is good for people who want to play around with kubeflow)
   1.  for users who have an "existing kubernetes cluster" (which will be most prod deploymen

[2020-12-04 00:57] terrytangyuan commented on #459
Thanks @Jeffwan. Yes we can use kubeflow/common but we'll probably need additional labels for different training operators. Let's discuss this together soon.

[2020-12-04 02:02] thesuperzapper commented on #459
For @kubeflow/wg-notebook-leads:

1. We have setup a weekly meeting for now (will be made bi-weekly after a while):
   * Wednesday 11:00pm PT (https://github.com/kubeflow/community/pull/462)
2. We have created two places for people to see what the Notebook WG is doing:
   * Google Doc: https://bit.ly/kf-notebooks-wg-backlog
   * Kanban: https://bit.ly/kf-notebooks-wg-kanban
3. Given there are so m

[2020-12-07 12:24] yanniszark commented on #459
For @kubeflow/wg-manifests-leads:

| Description | Link |
| - | - |
| Notes | https://arrik.to/kf-wg-manifests-notes |
| Calendar | https://arrik.to/kf-wg-manifests-cal |
| Meeting | https://arrik.to/kf-wg-manifests-meet |

For the @kubeflow/wg-notebook-leads:

| Description | Link |
| - | - |
| Notes | https://arrik.to/kf-wg-notebooks-notes |
| Calendar | https://arrik.to/kf-wg-notebooks-cal |
|

[2020-12-07 17:33] PatrickXYS commented on #455
I think this issue is resolved since we have 1.2 blog post released last couple of weeks ago.

/close

[2020-12-07 17:33] #455 closed

[2020-12-09 00:30] shawnzhu commented on #345
FYI: GitHub Discussions is available for all public repositories now. see https://github.blog/2020-12-08-new-from-universe-2020-dark-mode-github-sponsors-for-companies-and-more/#%e2%9c%a8-improved-daily-experience

[2020-12-12 18:52] PatrickXYS commented on #451
@Bobgy When I was cleaning up kubeflow/kubeflow issues, I found users continue reporting issues based on different platforms including AWS, AKS, IKS, GCP.

But I found it might be a bother to @ one github team per issue, especially when the folks of that team increases to 10+.

So each team/platform, if they are releasing their manifests in `kuebflow/manifests` repo, they need to establish their o

[2020-12-15 05:10] Bobgy opened #466 "[Pipelines WG] some information is missing in charter"
Additionally @Bobgy couple of comments on this
1. Charter has disappeared from the WG folder https://github.com/kubeflow/community/tree/master/wg-pipelines
2. Would like to add my name there for KFP-Tekton project, so that folks know who to connect for that

_Originally posted by @animeshsingh in https://github.com/kubeflow/kubeflow/pull/5430#discussion_r540384797_

[2020-12-15 05:10] Bobgy commented on #466
/cc @kubeflow/wg-pipeline-leads

[2020-12-15 05:10] Bobgy commented on #466
I'll take a look

[2020-12-15 06:13] Bobgy commented on #451
@PatrickXYS Totally agree, to add to that, I'd say moving manifests to everyone's own repos is more important, so each platform has its own issue board and backlog.

[2020-12-26 07:10] #400 closed

[2020-12-31 19:48] DavidSpek commented on #344
/lifecycle frozen

[2021-01-28 09:19] denis-angilella opened #473 "Kubeflow Slack invitation requires email address from limited domains"
Link [invitation to our Slack workspace](https://join.slack.com/t/kubeflow/shared_invite/zt-cpr020z4-PfcAue_2nw67~iIDy7maAQ) from https://www.kubeflow.org/docs/about/community/#slack-community-and-channels allows only email addresses from limited domains:
[code]
Could you remove this restriction to allow open access from the community or as a workaround indicate how to contact the Slack workspace

[2021-01-29 15:31] castrojo opened #474 "Centralize working group boards/status in wgs.yaml"
It's difficult to find the kanban boards for different working groups, we should consider a field in wgs.yaml so that we can track and then generate appropriate READMEs. Something like `tracking_document:` or `planning_document:` perhaps?

[2021-02-01 11:22] kimwnasptd commented on #433
This is a work in progress. We are tracking the use of the Optional-test infra in https://github.com/kubeflow/kubeflow/issues/5482.

[2021-02-01 17:54] castrojo commented on #473
K8s uses https://github.com/rauchg/slackin to manage invites, might be worth investigating.

[2021-02-02 19:12] mameshini commented on #473
@denis-angilella To join Kubeflow Slack, you are welcome to use and share the following link:
[https://join.slack.com/t/kubeflow/shared_invite/zt-lhkwrmkh-JPT2g9eva1oPkS00~VHZDQ](https://join.slack.com/t/kubeflow/shared_invite/zt-lhkwrmkh-JPT2g9eva1oPkS00~VHZDQ)

However, that link will expire in 22 days, therefore we do not publish the link in the slack guidelines to reduce administrative effort.

[2021-02-02 23:21] thesuperzapper commented on #473
The Kubernetes Slack has some kind of bot to automate the invites: https://slack.k8s.io/

This seems to the be bot they are using https://github.com/rauchg/slackin, we should consider setting it up.

[2021-02-03 00:19] thesuperzapper commented on #473
I think @mameshini is the admin of slack, he would have to setup the bot token.

[2021-02-03 00:24] mameshini commented on #473
I also updated the documentation site with a new `Join Slack` link: https://github.com/kubeflow/website/pull/2480

[2021-02-03 04:10] Bobgy opened #476 "Proposal: configure kubeflow/kubeflow issue template to redirect to other repos"
I just realized it's possible to configure issue template as generic uris, they can be links to other repos too.

https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository#configuring-the-template-chooser

I think we should set it up, so that kubeflow/kubeflow issues have urls for each WG and each distribution. That will redirect users directly t

[2021-02-03 04:11] Bobgy commented on #476
/cc @kubeflow/wg-notebooks-leads
What do you think?

[2021-02-03 04:11] Bobgy commented on #476
I remember there was some earlier discussion about this, but I didn't find the thread/issue

[2021-02-03 04:12] Bobgy commented on #476
/cc @PatrickXYS
who helped ping me about issues in kubeflow repo a few times

[2021-02-03 04:48] PatrickXYS commented on #476
I think it's a good idea, we should have some redirect link to other WGs.

E.g,

![image](https://user-images.githubusercontent.com/23116624/106699509-e3212780-6597-11eb-9799-194e3f00f3b8.png)

[2021-02-03 08:46] denis-angilella commented on #473
Thanks @mameshini, I was able to join the Kubeflow Slack using the new link and approved your kubeflow/website#2480 PR.
Note that the [invitation link in Slack guidelines](https://github.com/kubeflow/community/blob/master/slack/README.md#slack-guidelines) needs update too.

As @castrojo and @thesuperzapper suggested, setting up a bot to automate the invites would save time and avoid confusion.

I

[2021-02-03 14:57] knkski commented on #473
I recently created the #microk8s room on matrix.org, and bridged it to the #microk8s channel on the Kubeflow Slack. This made it very easy for people to join the #microk8s channel on Slack without having to go through the Slack signup process. Is it worth doing that with other channels in the Kubeflow Slack?

It might also be worth maintaining Kubeflow rooms on matrix.org in general; there's alrea

[2021-02-03 17:28] nehakapila94 commented on #220
I would like to join the channel. Please someone send me link

[2021-02-03 18:22] PatrickXYS commented on #476
@Bobgy  Only one question here, how can we do if users are filing issues for specific cloud-providers / distributions?

[2021-02-03 18:54] PatrickXYS commented on #476
Sent a PR to kubeflow/kubeflow https://github.com/kubeflow/kubeflow/pull/5585

[2021-02-04 08:33] Bobgy commented on #476
I think we should also add redirects for distributions, a problem might be not all distributions have their own issue board yet. I think each distribution should have a separate one though.

[2021-02-04 10:22] kimwnasptd commented on #476
@Bobgy this is really exciting!

[2021-02-04 17:06] PatrickXYS commented on #476
Yes that's what I was thinking, as a follow, we may need to inform cloud-providers of creating their own one.

[2021-02-11 23:19] thesuperzapper commented on #476
As discussed in https://github.com/kubeflow/kubeflow/pull/5585, we should consider setting up an https://issues.kubeflow.org web-app for a longer term solution, the basic idea is:
- I think the right way to go is labels, and a single main repo (`kubeflow/kubeflow`) which stores issues
- this is because lots of issues are not specific to any one part of kubeflow, and need visibility across the Work

[2021-02-11 23:44] thesuperzapper commented on #439
This is related to https://github.com/kubeflow/community/issues/439

[2021-02-11 23:44] thesuperzapper commented on #474
This is related to: https://github.com/kubeflow/community/issues/439

[2021-02-13 15:05] theofpa commented on #220
For future visitors of this issue, the invitation link to our slack workspace can be found in https://www.kubeflow.org/docs/about/community/

[2021-02-14 03:19] gaocegege commented on #220
https://www.kubeflow.org/docs/about/community/#slack-community-and-channels

[2021-02-15 23:16] animeshsingh opened #479 "Archive inactive Kubeflow repos"
There are multiple repos in the Kubeflow github organization where no code is being checked in. We shall identify and archive and/or move those repos. I will follow up with a subset of the list, and then we can expand from there.

[2021-02-18 16:47] theadactyl opened #481 "Add SIG governance docs/dirs"
We have SIGs but are lacking governance docs & SIG-specific directories in kubeflow/community. Should be added to clean things up.

[2021-02-18 16:51] theadactyl commented on #481
/assign @theadactyl

[2021-02-18 20:40] thesuperzapper opened #482 "Proposal: Calendar Refactor"
__I have two goals with this proposal:__
1. prevent random event invites reaching members of `kubeflow-discuss`
2. have all invites except the official community meeting be opt-in after joining `kubeflow-discuss`

__My proposal:__
I have found that all we need to prevent random events being auto added to your calendar through `kubeflow-discuss` is to restrict non-admins from seeing the members of

[2021-02-18 21:51] thesuperzapper commented on #459
Closing this issue at it was a one-time thing

[2021-02-18 21:51] #459 closed

[2021-02-18 21:52] thesuperzapper commented on #476
/close

This was done in https://github.com/kubeflow/kubeflow/pull/5585

[2021-02-18 21:52] #476 closed

[2021-02-18 22:00] thesuperzapper commented on #474
We need to ensure `wgs.yaml` is updated for each working group:
- to include a kanban link
- to include the correct calendar times (and meeting notes)
- to include the correct members
- to remove random links like "Open Community Issues/PRs", "Mailing list"

Note, these pages are now linked to from the [README.md of kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/blob/master/README.md), so

[2021-02-18 22:01] thesuperzapper commented on #446
/close

This would be addressed by the proposal https://github.com/kubeflow/community/issues/482, lets discuss it more there.

[2021-02-18 22:01] #446 closed

[2021-02-24 02:23] thesuperzapper commented on #479
@animeshsingh @Bobgy please list the repos to archive when you are ready

[2021-02-24 08:41] theadactyl opened #487 "Improve Twitter contribution workflow"
*Tracking ideas & feedback here in preparation for a formal proposal*

I've been mulling the best way to unblock contributions to the Twitter channel while following current Google guidelines around social channels. I think it would be best to require at least 2 LGTMs from a representative set of community reviewers and an approval from at least 1 kubeflow/community OWNER for publishing to @kubefl

[2021-02-24 08:42] theadactyl commented on #487
/assign @theadactyl

[2021-02-24 14:18] castrojo commented on #487
I've used that tool to [contribute a tweet](https://github.com/kubernetes-sigs/contributor-tweets/blob/master/tweets/08-31-2020-slack-channel-tip.tweet) and while it is awkward compared to direct access, it beat the alternative of not being able to do it at all.

Also even if it clunky it's transparent and every tweet has a record of submission and review. I can take a stab at doing a draft set of

[2021-02-24 16:12] theadactyl commented on #487
That would be fantastic -- whichever solution we use, that would be helpful
to have.

Also interested in hearing from @bogby about how challenging that
automation would be to implement.

---------- Forwarded message ---------
From: Jorge O. Castro <notifications@github.com>
Date: Wed, Feb 24, 2021 at 6:19 AM
Subject: Re: [kubeflow/community] Improve Twitter contribution workflow
(#487)
To: kubeflo

[2021-02-24 16:54] theadactyl commented on #482
Thanks for this proposal. This looks overall good, with a couple of caveats:

1) It prevents us from having a viewable calendar with all community meetings displayed. I suppose this could be managed by the list you mentioned with updated date & times with links to individual WG calendars.
2) Seems like this might work better as a wiki page on kubeflow/community that is linked to from docs for easi

[2021-02-24 16:56] castrojo commented on #487
The automation seems to want it's own repository, so PRing a draft in here is probably putting the cart before the horse, however I have taken the K8s instructions, modiified them and mashed them together here: https://gist.github.com/castrojo/c02dcda1f3a630e524edcd5138a3b9aa

The automation and submissions instructions are straightforward and can be changed/adapted, the meat will be the policies

[2021-02-24 17:04] theadactyl commented on #487
That's a great start, thank you! Will wait on proposed edits until we have a clear home for that and you can submit a PR.

[2021-02-24 17:23] theadactyl opened #488 "Proposal: Improve blog contribution process"
Similar to what we're working on for Twitter: https://github.com/kubeflow/community/issues/487, but more around documenting the process and adding a layer of community reviewers.

## Context
Though the [blog contribution flow](https://github.com/kubeflow/blog) is now based on GH and Fast pages, we need a more robust set of reviewers and clearer review process.

## Proposal
To unblock blog contribu

[2021-02-24 17:32] castrojo commented on #488
Similar to the twitter guidelines I'd be happy to to adapt the k8s guidelines and styleguide for this and submit them as a PR.

[2021-02-24 18:18] animeshsingh commented on #479
https://github.com/kubeflow/metadata
https://github.com/kubeflow/fairing
https://github.com/kubeflow/triage-issues
https://github.com/kubeflow/reporting
https://github.com/kubeflow/marketing-materials
https://github.com/kubeflow/batch-predict
https://github.com/kubeflow/example-seldon
https://github.com/kubeflow/homebrew-core

[2021-02-24 20:27] theadactyl commented on #488
Another framework for consideration: https://github.com/knative/docs/tree/master/blog

[2021-02-25 01:57] gaocegege commented on #482
Will we maintain the community calendar like this https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428%40group.calendar.google.com&ctz=America%2FLos_Angeles ?

[2021-02-25 23:30] animeshsingh commented on #488
makes sense to me.

[2021-02-26 15:49] jbottum commented on #488
I like the direction of the proposals. We might look at current state and work on desire future state.    Some comments on Current State: 1) If you are not a GitHub user, creating and formatting a blog in FastPages can be a learning event (that does not improve content). 2) Shorter blogs are better..I am the long post king!.  3) Approvals often go in a circle (technical correction, to final approv

[2021-02-26 16:01] castrojo commented on #488
I've taken an initial stab at this:

https://github.com/kubeflow/community/pull/492

Josh, one thing I've seen done in the past is you can have a submission via something more friendly to non-technical users, say a google doc submission or a form or something. The only problem with that someone in the project would have to volunteer to work with the author to translate that to github/markdown/hugo

[2021-02-26 16:55] theadactyl commented on #488
I think this can be pretty easily done in GitHub through assignments in a way that makes it transparent who's court the ball is in. A GitHub project with some automation could make it easier to visualize blog states.

I'd definitely prefer to have things more spaced out -- it improves blog readership overall to have a more consistent publishing rate. I think it's also important to validate the qua

[2021-02-26 20:24] jbottum commented on #487
@castrojo I like this proposed process. Tweets seem like a good fit for a GitHub approval process i.e. tweets are short and easier to review/edit/approve.  How hard would it be to set-up a POC?   @theadactyl I would propose that a simplified GitHub-based approval process for Kubeflow tweeting has a measurable ROI on Community growth in '21 (# of tweets, impressions, profile visits).

[2021-02-26 23:33] Bobgy commented on #479
Not sure about fairing, @jinchihe said he wanted to keep maintaining it.

Currently, WGs are paused for expansion of scope. So shall we reconsider that later

[2021-02-26 23:37] Bobgy commented on #479
https://github.com/kubeflow/kubebench
Is this ready to archive? @kubeflow/wg-training-leads

[2021-02-26 23:40] Bobgy commented on #479
https://github.com/kubeflow/frontend
KFP should move it's content to KFP repo, then it can be archived

[2021-02-26 23:42] Bobgy commented on #479
https://github.com/kubeflow/features

[2021-02-26 23:58] Bobgy commented on #474
I'd be happy to help with review and approval.

Any volunteers on updating the generator script to support this new field?

[2021-02-27 02:17] gaocegege commented on #479
cc @xyhuang

[2021-02-27 02:19] gaocegege commented on #479
https://github.com/kubeflow/caffe2-operator

[2021-02-27 02:20] gaocegege commented on #479
https://github.com/kubeflow/chainer-operator

Is it ready to archive?

@everpeace

[2021-03-01 10:34] thesuperzapper commented on #474
You interested @castrojo?

[2021-03-01 15:31] castrojo commented on #474
Updating the script for the new field is outside my skill tree, however I'd be happy to update the wgs.yaml.

[2021-03-01 19:15] theadactyl commented on #487
Sounds like the k8s contributor tweets repo will soon allow automated PR creation from Issues -- this looks to be ideal. @castrojo do you know when that's likely to hit?

What I need help with:
- figuring out how difficult this would be to implement in our own GitHub org (cc @Bobgy) and update according to our own approval process
- repo setup once we decide to move forward

Can we get 2 folks to

[2021-03-01 20:49] jbottum opened #493 "Kubeflow Community User Survey Blog Post for Kubeflow Release 1.3"
**Kubeflow Community User Survey Blog Post for Kubeflow Release 1.3**

The Kubeflow Community conducts a User Survey every 6 to 12 months.   We would like to provide the results to the Community in conjunction with the Kubeflow 1.3 Release (the RC is due March 15).    We have 167 responses.   Our target ~180 responses (which would be a ~50% increase year over year).

We are working on a blog post

[2021-03-01 23:34] jbottum commented on #493
@theadactyl Hey Thea - Would the Kubeflow twitter team please consider issuing a tweet on the "last call" for responses to the annual Kubeflow Community User Survey ?   We have 167 responses in need 12 more to make our goal (showing 50% yr/yr growth).

[2021-03-01 23:46] theadactyl commented on #493
Can you draft tweet?

On Mon, Mar 1, 2021 at 3:35 PM Josh Bottum <notifications@github.com> wrote:

[2021-03-02 03:17] jbottum commented on #493
@theadactyl proposed tweet....The Kubeflow Community User Survey is closing soon. This is your last chance to help the Kubeflow open source contributors.  Please take a few minutes tonight to answer the Survey.  Your input keeps the Community strong.   Thanks!  https://forms.gle/5LfCuEPdKFfJo3e2A

[2021-03-02 11:48] thesuperzapper opened #494 "Proposal: have CHANGELOG and ROADMAP on kubeflow.org"
__Goals:__
* Create a place where users can see changes between Kubeflow releases (1.3, 1.4, ...)
* Create a a place where users can see the roadmap of future Kubeflow feature milestones
* Remove the need for `kubeflow/kubeflow` root OWNERS to aprove updates to the ROADMAP/CHANGELOG

__Background:__
* Our current [CHANGELOG.md](https://github.com/kubeflow/kubeflow/blob/master/CHANGELOG.md) and [RO

[2021-03-02 11:50] thesuperzapper commented on #494
Would the working group leads appreciate this CHANGELOG on https://kubeflow.org as a place to list new/upcoming features?

@kubeflow/wg-automl-leads
@kubeflow/wg-deployment-leads
@kubeflow/wg-manifests-leads
@kubeflow/wg-notebooks-leads
@kubeflow/wg-pipeline-leads
@kubeflow/wg-serving-leads
@kubeflow/wg-training-leads

[2021-03-02 11:53] thesuperzapper commented on #494
Also CC for @RFMVasconcelos as he is effectively the lead of docs these days.

[2021-03-02 12:11] thesuperzapper commented on #482
I think there is something seriously wrong with the current calendar, the US time community meeting has dropped off both of my Google accounts (which are members of kubeflow-discuss). Possibly we should just delete the existing calendar and make a new one during the refactor.

[2021-03-02 12:13] thesuperzapper commented on #482
Does anyone know a reason why specific events might disappear from a google group calendar (but only for some invitees)?

For example, is there some limit of users in google group calendars, and we just hit it?

[2021-03-02 13:15] thesuperzapper commented on #445
I have formalised this into proposal: https://github.com/kubeflow/community/issues/482

[2021-03-02 13:20] thesuperzapper commented on #473
Can someone please confirm if this issue is permanently resolved?

It still seems like [the invite on kubeflow.org](https://www.kubeflow.org/docs/about/community/#slack-community-and-channels) requires an `@google.com` domain.

Should I create an issue tracking the setup of an invite bot?

[2021-03-02 13:37] denis-angilella commented on #473
@thesuperzapper from the discussion above, the issue was fixed for 22 days

[2021-03-02 13:42] RFMVasconcelos commented on #494
Thank you @thesuperzapper for this and for looping me in!

[2021-03-02 14:37] thesuperzapper opened #495 "Proposal: form the "Technical Steering Committee""
## Goals
* Ensure Kubeflow gets back-on-track to implement the community-accepted [governance structure](https://docs.google.com/document/d/1HKB662Ju6URVdzw0Neq9OFnxM6RMXFu4Dd04q9E3kGk/edit)

## Background:

Back on 2019-05-02, the community accepted a governance structure proposal:
https://docs.google.com/document/d/1HKB662Ju6URVdzw0Neq9OFnxM6RMXFu4Dd04q9E3kGk

This governance structure defined a

[2021-03-02 14:39] thesuperzapper commented on #495
Hey @kubeflow/project-steering-group, here is my proposal which was spawned out of the discussion in kubeflow-discuss:
https://groups.google.com/g/kubeflow-discuss/c/WlAtv8yBwGE

The main purpose of this issue is to track progress on the roadmap.

[2021-03-02 14:40] thesuperzapper commented on #495
CC all current Working Group leads:
@kubeflow/wg-automl-leads
@kubeflow/wg-deployment-leads
@kubeflow/wg-manifests-leads
@kubeflow/wg-notebooks-leads
@kubeflow/wg-pipeline-leads
@kubeflow/wg-serving-leads
@kubeflow/wg-training-leads

[2021-03-02 14:47] thesuperzapper commented on #495
I believe the primary google contact for this work is @theadactyl

[2021-03-02 17:14] theadactyl commented on #495
Hi there, as mentioned in the thread on kubeflow-discuss, this isn't something the PSG is working on at the moment. For now we'll be prioritizing work on the items in our roadmap, including items which would be required for any TSC to meaningfully administer central processes: https://github.com/kubeflow/community/blob/master/psg/ROADMAP.md This is in line with PSG scope to "establish the procedur

[2021-03-02 17:18] theadactyl commented on #482
These calendars have been notoriously challenging to administer (in other
communities as well). Do we have examples from other communities about how
to do this the right way?

On Tue, Mar 2, 2021 at 4:14 AM Mathew Wicks <notifications@github.com>
wrote:

[2021-03-02 17:24] theadactyl commented on #493
Done: https://twitter.com/kubeflow/status/1366801231113457666

On Mon, Mar 1, 2021 at 7:17 PM Josh Bottum <notifications@github.com> wrote:

[2021-03-02 20:59] castrojo commented on #487
The PR is in flight for K8s here, keeping an eye on it: https://github.com/kubernetes-sigs/contributor-tweets/pull/33

[2021-03-03 00:28] aronchick commented on #495
Thanks for pulling this together @thesuperzapper!

One thing that I think would be incredibly helpful, is for us to identify a set of things between now and establishment of the TSC (and break them out into their own individual issues). A small list for this, I can think of is:
- Establish a diversely lead "social committee" that can approve all social media publications
- Automate publication soc

[2021-03-03 01:52] theadactyl commented on #494
Interesting idea! To play devil's advocate, I think we should first work to ensure we're updating these regularly before we publish them to the website. It's my experience that website typically lags behind GitHub SOT, not the other way around, so wouldn't want stale docs to be exposed to the average website user. WDYT?

[2021-03-03 01:52] theadactyl commented on #493
@jbottum is this good to close?

[2021-03-03 01:57] terrytangyuan commented on #494
My only concern is that a combined change log or roadmap doc would get really big. I am uncertain others would keep them up to date. In addition, the release cycles are totally different for each working group and for each project. I think it's a good idea to have a centralized place that provides links to roadmap/change log for all the projects, but probably not the content itself though.

[2021-03-03 01:57] theadactyl opened #496 "Create label kind/tweet-request"
In advance of us making progress on https://github.com/kubeflow/community/issues/487, can we create label for tweet requests for easier tracking? cc@bobgy

I haven't added labels before, and not being a prow expert don't want to bash around without help.

[2021-03-03 02:54] jbottum commented on #493
@theadactyl  Not yet :) I wanted to use this issue to track the progression of the blog post itself.  David Aronchick and I have completed a draft but we are blocked from finishing by 2 things.   1) We want to have a 50% yr/yr increase ...now at 172 responses...only need 7 more.   2) we will need to update the charts in the blog post (to show the new numbers) and fix any of the commentary to match

[2021-03-03 06:18] thesuperzapper commented on #494
The current [CHANGLOG.md](https://github.com/kubeflow/kubeflow/blob/master/CHANGELOG.md) hasn't been updated in over 2 years, so I can't see a way we could make the situation worse.

@theadactyl the issue is that the CHANGELOG/ROADMAP are very unlikley to be updated in thier curren location, because:
* The `kubeflow/kubeflow` repo no longer hosts most Kubeflow components (except the Notebooks & UI

[2021-03-03 06:30] thesuperzapper commented on #473
/reopen

Users cannot currently join the slack.

I can verify the "invite" link under https://www.kubeflow.org/docs/about/community/#slack-community-and-channels still requires an @google.com email:
![Screen Shot 2021-03-03 at 17 27 22](https://user-images.githubusercontent.com/5735406/109763141-c71baf00-7c45-11eb-9d49-563d4b924c0e.png)
![Screen Shot 2021-03-03 at 17 28 15](https://user-images.git

[2021-03-03 06:45] thesuperzapper commented on #494
I see that there is a small section for ROADMAP (not CHANGELOG) already on kubeflow.org, but it can definitely be improved:
https://www.kubeflow.org/docs/about/kubeflow/#roadmaps

[2021-03-03 12:22] thesuperzapper commented on #460
@yanniszark just wanted to check how much of the unbundling work will be completed with the `kubeflow/manifests` refactor in Kubeflow 1.3?

[2021-03-03 13:28] thesuperzapper commented on #479
Here is my reading of the final list to be actioned in the next few days.

Please like if you agree, or comment if you disagree.

## To DELETE:
* https://github.com/kubeflow/fastpages
* https://github.com/kubeflow/features
* https://github.com/kubeflow/frontend (move content to `kubeflow/pipelines`)
* https://github.com/kubeflow/homebrew-cask
* https://github.com/kubeflow/homebrew-core
* https://g

[2021-03-03 13:46] terrytangyuan commented on #479
I am not sure about https://github.com/kubeflow/fate-operator. @gaocegege @jiahaoc1993 @LaynePeng Is this project still active?

@thesuperzapper Please archiving instead of deleting. We should never delete a repo.

[2021-03-03 13:53] thesuperzapper commented on #479
The the ones I propose to delete are either forks (with no actual commits from us), or effectively empty repos.

[2021-03-03 14:01] terrytangyuan commented on #479
What about this one? https://github.com/kubeflow/frontend Even though the content will be moved to another repo, there can be lessons learned from history/discussions as well as people's contributions/commits in the past.

[2021-03-03 14:13] LaynePeng commented on #479
yes, it still active. And it is supporting the latest FATE. Furthermore, we are planning a big refactoring.

Sent from iPhone

在 2021年3月3日，下午9:46，Yuan Tang <notifications@github.com> 写道：

﻿

I am not sure about https://github.com/kubeflow/fate-operator. @gaocegege<https://github.com/gaocegege> @jiahaoc1993<https://github.com/jiahaoc1993> @LaynePeng<https://github.com/LaynePeng> Is this project sti

[2021-03-03 14:35] gaocegege commented on #479
https://github.com/kubeflow/fate-operator is active, please keep it.

[2021-03-03 15:53] skmaingi commented on #220
To join the channel one needs to have an email from only 3 domains (google.com, microsoft.com and caicloud.io)

[2021-03-03 23:33] Bobgy commented on #479
https://github.com/kubeflow/frontend

Should be archived, there were real work there

[2021-03-04 03:05] gaocegege commented on #220
@Bobgy Can you have a look at it?

[2021-03-04 05:49] thesuperzapper commented on #473
@mameshini kind of funny question, can we just add @gmail.com as one of the options?

[2021-03-04 05:49] thesuperzapper commented on #220
The issue of Slack invites is tracked here: https://github.com/kubeflow/community/issues/473

[2021-03-04 06:08] jinchihe commented on #479
personally I suggest keep Fairing, that's used and active. Thanks.

[2021-03-04 06:34] mameshini commented on #473
Yes adding @gmail.com is an easy change.  I will implement it and update
Slack signup to the fresh link.

On Wed, Mar 3, 2021 at 9:49 PM Mathew Wicks <notifications@github.com>
wrote:

[2021-03-09 04:05] thesuperzapper commented on #473
@mameshini please can you make that change to add @gmail.com !!!

[2021-03-09 05:43] mameshini commented on #473
Still working on it.   I raised a support issue with Slack support.  For some reason they don't allow white-listing of `gmail.com` domain.
![slackerr](https://user-images.githubusercontent.com/6588364/110424105-1eab8780-8057-11eb-9ba1-0b53170f260a.png)

[2021-03-09 11:23] thesuperzapper commented on #473
@mameshini then can we please just remove the domain limit, lol

[2021-03-09 19:17] cspavlou commented on #473
I don't know if this helps, but we had faced the same issue in the past, here is a relevant issue: https://github.com/kubeflow/website/issues/1793

 Note that @sarahmaddox mentions that

[2021-03-10 00:26] mameshini commented on #473
Yes the issue is that Slack invite links expire after 30 days.  Here is a new link:
https://join.slack.com/t/kubeflow/shared_invite/zt-n73pfj05-l206djXlXk5qdQKs4o1Zkg

The message about limited list of domains appears when Slack link has expired.  Sorry it's a misleading message but that's how Slack works.

I have updated the community website with a new link (PR #2534) - please approve it.

[2021-03-10 08:29] thesuperzapper commented on #473
The invite link was updated with https://github.com/kubeflow/website/pull/2534, and will never expire.

However, only 2000 users can join with any given invite, so we should consider setting up an invite bot.

[2021-03-10 17:56] #473 closed

[2021-03-10 22:57] thesuperzapper opened #497 "Setup invite bot for Community Slack"
Currently, we have a [hard coded Slack invite link on kubeflow.org](https://www.kubeflow.org/docs/about/community/#slack-community-and-channels), this link is limited to 2000 uses, meaning we will have to update it regularly to ensure users can join the slack.

To address this, we need someone to plan out how we will setup a bot to send invites, [like how Kubernetes does it](https://slack.k8s.io/)

[2021-03-15 11:20] zw0610 opened #500 "Propose blog for elastic training with mpi-operator"
After adding support for Elastic Horovod for MPI-Operator ([proposal](https://github.com/kubeflow/mpi-operator/pull/335)), @gaocegege and I composed a post elaborating the idea and experiments ([Chinese-Version](https://mp.weixin.qq.com/s?__biz=Mzg5NjA1MjkxNw==&mid=2247492919&idx=1&sn=48491e1d55f32b69f7b5523ca171e1ff&chksm=c0045eedf773d7fb8c73e1ee5a790abb79b6e786f93e771325b7ed8f533ce2aa9feae86cd09

[2021-03-17 12:25] tizhou86 opened #503 "Proposal for a Paddle Operator"
The related PR is #502

## Motivation

[PaddlePaddle](https://github.com/paddlepaddle) is a widely used machine learning framework in China. However there is no easy way to launch PaddlePaddle training jobs on Kubernetes. By providing a CRD and a custom controller, we can make PaddlePaddle distributed training simple for end users. For more information about PaddlePaddle, please check our [website

[2021-03-18 09:14] gaocegege commented on #503
/assign @kubeflow/wg-training-leads

[2021-03-19 20:25] Jeffwan commented on #503
@gaocegege I am thinking if we want to accept more new coming operators as standalone repos or have a generic umbrella one. Let me draft a doc and share in next WG-automl and training meeting.

@tizhou86 You probably already look at the implementation of other training operators. Do you think current api define in `kubeflow/common` can support paddle case? Do you plan to implement it from scratch

[2021-03-19 20:39] terrytangyuan commented on #503
There’s also a PR and I’ve asked a similar question. Perhaps we can discuss there in a central place? https://github.com/kubeflow/community/pull/502

[2021-03-19 22:06] jbottum commented on #503
@tizhou86 thanks for this proposal, I find it interesting.   Question - could this architecture support access to PaddlePaddle's Quantum computing features ?

[2021-03-22 11:17] tizhou86 commented on #503
Currently it does not support PaddlePaddle quantum computing, if you are concerning of using PaddlePaddle quantum computing on Kubernetes, please let me know, thanks!

[2021-03-24 17:23] yanniszark opened #504 "calendar: Remove obsolete entries"
### Problem Statement

Starting with 1.3, WGs are responsible for their own calendar. Serving and AutoML WGs have already removed their calendar from the calendars YAML. However, the calendar hasn't been synced, so the old meetings still show up in peoples' calendars, ALONG with the new ones, making for a confusing experience.

### Proposed Solution

Sync the calendar.

cc @kubeflow/wg-automl-lead

[2021-03-25 01:59] thesuperzapper commented on #504
Please review my proposal for a calendar refactor: https://github.com/kubeflow/community/issues/482

[2021-03-25 15:53] castrojo commented on #494
I've been investigating tools in this space and `release-notes` is what k8s and knative use, here's an example of their setup:

https://github.com/knative/serving/blob/main/.github/workflows/knative-release-notes.yaml

And here's the homepage: https://github.com/kubernetes/release/tree/master/cmd/release-notes

[2021-03-25 16:09] castrojo commented on #494
Looks like they have it set up with just an action, one of them pointed me to this: https://github.com/knative/serving/actions/runs/572125726

Then it spits out a release-notes.md and then they use that as the basis for their release notes.

[2021-03-27 00:03] Bobgy commented on #494
@thesuperzapper what do you propose should be the content of the overarching CHANGELOG?

Should it be manually maintained? Because I think no repo's commit history can represent kubeflow project.

Given the project organization of moving development into WGs, I think it's best to add an application version matrix of what version was included in what kubeflow release and then a link to the project'

[2021-03-27 00:09] Bobgy commented on #504
/assign
I will remove them from central calendar.

[2021-03-27 00:14] Bobgy commented on #504
Btw, there is an existing issue -- kubeflow calendar sync doesn't support prune semantics

[2021-03-27 00:27] Bobgy commented on #504
I deleted automl events, but I cannot find kfserving ones. Can you point to where they are?

[2021-03-27 00:39] andreyvelich commented on #504
Thank you for your help @Bobgy!
Did you delete US and Asia friendly meeting for the AutoML?
I still can see US friendly meetings on the calendar: https://calendar.google.com/calendar/u/0/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com

[2021-03-27 00:47] Bobgy commented on #504
I tried to delete a few more I found, thanks for the link. Can you confirm?

[2021-03-27 01:05] andreyvelich commented on #504
No I can't see the KFServing and AutoML on the calendar. Thank you @Bobgy!

[2021-03-27 01:08] Bobgy commented on #504
Happy to help!

[2021-03-27 01:08] #504 closed

[2021-03-27 04:45] thesuperzapper commented on #494
@Bobgy I agree a version matrix is needed (assuming each component of kubeflow has a version independent of kubeflow itself, which is not the case for notebooks right now).

I think we can do something similar to kubernetes for the over-arching release notes, with "major themes" etc.

For reference: https://kubernetes.io/docs/setup/release/notes/

[2021-04-16 14:37] geekygirldawn opened #508 "Working Group list - duplicated list and empty lists"
The [wg-list.md](https://github.com/kubeflow/community/blob/master/wg-list.md) file has a few issues that I think are related to it being copied over from Kubernetes, which has SIGs, WGs, UGs, and Committees.

Here are the specific issues:
* Title is currently "SIGs and Working Groups" but should probably just be "Working Groups"
* The first sentence mentions SIGs.
* The WGs are listed twice - und

[2021-04-16 14:39] geekygirldawn commented on #508
One more thing while we're fixing stuff ... in light of all of the recent inclusive naming conversations floating around, I think we can remove the word "master" from the headings and just say "Working Group List"

[2021-04-16 19:44] swiftdiaries commented on #508
This is exactly what I followed. You're right and that sounds like a good plan to me

[2021-04-18 22:38] thesuperzapper commented on #508
@geekygirldawn I am not super familiar with these files, but perhaps @jlewi can clarify if your barking up the right tree?

[2021-04-19 08:17] geekygirldawn commented on #508
This turned out to be a pretty easy fix, so I went ahead and opened a PR for it. Everything seemed to work as expected when I ran make generate, and I ended up with markdown files that look correct.

However, I uncovered a related issue that is probably worth thinking about after this first PR gets merged. It looks like there are 2 SIGs - SIG Feature Store and SIG On-Prem that are not currently in

[2021-04-19 10:09] geekygirldawn commented on #508
I did notice that there is a related issue #481, and since the sigs are in wgs.yaml, it probably makes sense to update the templates to pull them into wg-list.md. However, there does need to be some cleanup because at least for sig-onprem, the README for that SIG isn't being properly generated because the yaml file defines the dir as "sig-on-premises", but PR #475 created the dir as 'sig-onprem' -

[2021-04-19 23:32] jbottum opened #510 "Create Slide Presentation for Kubeflow 1.3"
The Community should create a slide presentation for the Kubeflow 1.3 release.

/assign @jbottum

[2021-04-20 02:39] jbottum commented on #510
draft slide deck, https://docs.google.com/presentation/d/15fsCJ4Q57n61UrYexFcouS0jkZT7OZCXfjg79nmsrC8/edit#slide=id.gcdbf7ac38a_0_16

[2021-04-20 02:40] jbottum commented on #510
@yanniszark please review the installation slide, (slide 9)

[2021-04-20 02:41] jbottum commented on #510
@kimwnasptd please review notebooks and tensorboard/volume manager slides (slides 11, 12)

[2021-04-20 02:45] jbottum commented on #510
@andreyvelich please review operator and training slides (slides 13, 14), thanks!

[2021-04-21 08:54] geekygirldawn commented on #508
I went ahead and fixed the SIG issues described above in PR #509, so we can close this issue when the PR merges.

[2021-04-21 23:13] thesuperzapper commented on #482
@geekygirldawn do you have any thoughts or idea for this?

[2021-04-22 10:31] geekygirldawn commented on #482
I'll think about this a bit more, but every other project I'm involved in has issues keeping calendars /  invites up to date and in sync, so I'm not sure there is a great solution to this.

I do have one question ... With the existing solution, I can't find any integration between the list of meetings in [calendar/calendar.yaml](https://github.com/kubeflow/community/blob/master/calendar/calendar.y

[2021-04-22 20:58] jbottum commented on #510
@animeshsingh would you please review slide 16 on KFServing ?

[2021-04-22 20:59] jbottum commented on #510
@james-jwu James, would you please review slide 15 on KFP ?

[2021-04-23 02:07] james-jwu commented on #510
@Bobgy to take a look as well.

[2021-04-23 17:08] #508 closed

[2021-04-27 09:18] geekygirldawn commented on #482
It sounds like people want to:
* keep a single Google calendar with all of the meetings in one place
* stop posting all of the WG meetings to the mailing list.

I think that to do this, we would need to remove or re-write some of the automation currently found here: https://github.com/kubeflow/community/tree/master/calendar

@jtfogarty @nicholas-abad @yuzliu - As OWNERS of the calendar folder, you

[2021-04-28 05:08] GT-ZhangAcer opened #513 "Kubeflow vector file application"
Dear,

In order to enhance the communication between PaddlePaddle and KubeFlow, and catch the eyes of developer on the open source projects, we kindly apply your authorization to display your community Logo at the official site on PaddlePaddle.（https://www.paddlepaddle.org.cn/）

Display format: There will be a KubeFlow Logo displayed in the “Cooperate community” block in our new landing page calle

[2021-04-30 05:00] thesuperzapper commented on #513
@GT-ZhangAcer Review if your usage meets the requirements set out in https://github.com/kubeflow/community/blob/master/KUBEFLOW_BRAND_GUIDELINES.pdf

[2021-05-01 23:55] jbottum commented on #510
**Request to WG contributors**- We would like to validate the KF 1.3 slide deck by Thu, May 6 and need your help... @Bobgy @james-jwu Would you please review the Kubeflow PIpeline slide 15?   @RFMVasconcelos Would you please provide your edits on the documentation slide  (slide 10) ? @gaocegege @Jeffwan @terrytangyuan @andreyvelich Would you please review slide 13  (training operators) ? @animeshs

[2021-05-03 06:07] Jeffwan commented on #510
I can help take a look.

[2021-05-03 19:42] james-jwu commented on #510
I added @zijianjoy to review KFP slide 15. It looks good from my end.

[2021-05-04 23:18] thesuperzapper commented on #433
This has been done.
/close

[2021-05-04 23:18] #433 closed

[2021-05-05 01:12] thesuperzapper commented on #495
Since we have shipped Kubeflow 1.3, I think forming the elected "Technical Steering Committee" should be priority number 1 for the current Google-run "Project Steering Group".

The current [ROADMAP](https://github.com/kubeflow/community/blob/master/psg/ROADMAP.md) isn't working towards this goal, but I think Google can start to make process by:
1. Formalising the TSC election process (and requirem

[2021-05-05 06:30] GT-ZhangAcer commented on #513
Thank you very much.

[2021-05-05 06:30] #513 closed

[2021-05-12 16:29] jbottum commented on #510
@pvaneck Hey Paul, if you could help approved the KFServing slide in this presentation, I would appreciate it.    (slide 16)

[2021-05-12 16:31] jbottum commented on #510
@RFMVasconcelos Hey Rui, if you could review / improve slide 10 on 1.3 docs, I would appreciate it.   Thanks. https://docs.google.com/presentation/d/15fsCJ4Q57n61UrYexFcouS0jkZT7OZCXfjg79nmsrC8/edit#slide=id.gcdbf7ac38a_0_541

[2021-05-12 18:39] jbottum commented on #510
@yuzisun Hey Dan - would you please look at the KFServing slide (slide 16) of this kubeflow 1.3 presentation ?   Thanks.  https://docs.google.com/presentation/d/15fsCJ4Q57n61UrYexFcouS0jkZT7OZCXfjg79nmsrC8/edit#slide=id.gcdbf7ac38a_0_541

[2021-05-14 08:11] RFMVasconcelos commented on #510
@jbottum done!

[2021-05-19 01:31] thesuperzapper commented on #482
@RFMVasconcelos I think the easiest way to move forwards, is to make a new section on the website for calendars (to link to the WG calendars)

[2021-06-01 01:31] Bobgy commented on #466
Resolved missing charter issue

[2021-06-01 01:31] #466 closed

[2021-06-01 01:33] Bobgy opened #516 "[Pipelines WG] contact page missing key information"
https://github.com/kubeflow/community/tree/master/wg-pipelines

Missing information:
* community meeting link and time
* open community issue and PRs link is wrong
* github teams links are wrong
* a link to repo
* slack channel is empty

[2021-06-02 01:46] thesuperzapper opened #517 "Kubeflow 1.4 Release Team"
As discussed in the community meeting, we have taken nominations for the Kubeflow 1.4 release team in a [kubeflow-discuss thread](https://groups.google.com/g/kubeflow-discuss/c/qIMNsJDqF2Q).

There have been 3 nominations:
* Kimonas Sotirchos (@kimwnasptd)
* David van der Spek (@DavidSpek)
* Rui Vasconcelos (@RFMVasconcelos)

---

To formally establish all the above members as the "Kubeflow 1.4 Re

[2021-06-03 05:53] thesuperzapper commented on #460
I believe most of this work has been completed with the refactor of `kubeflow/manifests` which was released in Kubeflow `1.3`
/close

[2021-06-03 05:53] #460 closed

[2021-06-07 10:22] Bobgy commented on #479
I'm going to act on the following list based on request, please comment ASAP if you disagree with anything:

## To DELETE:
* https://github.com/kubeflow/fastpages
* https://github.com/kubeflow/features
* https://github.com/kubeflow/homebrew-cask
* https://github.com/kubeflow/homebrew-core
* https://github.com/kubeflow/triage-issues

## To ARCHIVE:
* https://github.com/kubeflow/batch-predict
* http

[2021-06-07 12:16] Bobgy commented on #517
All the three members have strong contribution history, I look forward to working with them for 1.4 release!
: )

/lgtm
for both @kubeflow/wg-pipeline-leads @kubeflow/project-steering-group

[2021-06-07 15:46] jbottum commented on #479
@Bobgy the fastpages (https://github.com/kubeflow/fastpages) was set-up to help people post to blog.kubeflow.org.   I think we might keep it.

[2021-06-07 17:19] animeshsingh commented on #517
Congrats guys

/lgtm

[2021-06-07 18:21] terrytangyuan commented on #479
@jbottum I don't think we need it anymore. The new repo for blog is in https://github.com/kubeflow/blog now.

[2021-06-07 18:50] jbottum commented on #479
@Bobgy ok, the newer repo looks good.   I agree.

[2021-06-09 05:49] johnugeorge commented on #517
/lgtm

[2021-06-11 01:09] #451 closed

[2021-06-11 01:09] #449 closed

[2021-06-11 01:09] #439 closed

[2021-06-11 01:09] #481 closed

[2021-06-11 01:09] #445 closed

[2021-06-11 01:09] #488 closed

[2021-06-11 01:09] #493 closed

[2021-06-11 02:21] thesuperzapper opened #518 "Restructure of Kubeflow Slack Channels"
Hey all, I believe the Slack would be much easier for new (and existing) users if we instituted a standard set of "prefixes" for the channel names.

Prefixes are very standard practice on Slack and allow you to effectively "group" channels into sections.

__Channels Layout:__
* `#announcements`
   * CHANNEL - for community announcements
   * DEFAULT - yes
   * NOTE - must be the original `#general

[2021-06-11 03:52] johnugeorge commented on #518
Adding Kubeflow prefix looks redundant to me.
Also, it is confusing to have Kubeflow-operator-tensorflow mapped to tf-operator, Is there real need for this change at this point?

[2021-06-11 06:06] thesuperzapper commented on #518
@johnugeorge thanks for your comments!

### Re: the `kubeflow-*` prefix

Adding this prefix has a few main benefits:
* Allows us to distinguish things are "officially part of Kubeflow"  (that is, maintained" by a Kubeflow WG)
* It groups all the component discussions together on the side menu
* `#kubeflow-pipelines` has stronger brand recognition than `#pipelines` (as does `#kubeflow-notebooks` vs

[2021-06-11 06:14] thesuperzapper commented on #496
/reopen

[2021-06-11 06:15] thesuperzapper commented on #487
/reopen

This issue is not resolved.

[2021-06-11 06:17] thesuperzapper commented on #474
/reopen

We should still discuss this.

[2021-06-11 06:43] thesuperzapper commented on #497
If we want to make the slack more visible on kubeflow.org, we really need to do this, as its going to be annoying to have to replace the link after every 2000 users who join the slack.

[2021-06-14 21:55] aniruddhachoudhury opened #519 "Kubeflow integration of feast end to end example and setup"
The use case will contain Kubeflow with Feast feature store. And leveraging the feast online and offline store to train pipeline and deploy. Monitor the model performance in Grafana. And check the metrics with Prometheus. Building a production grade pipeline with Kubeflow.

[2021-06-15 16:15] kimwnasptd commented on #518
Why would we need to have both `wg-*` channels as well as `kubeflow-*` channels since both of these are owned by WGs?

I think this is very confusing and would propose we do the opposite. Lets only have one channel for software owned by a WG, so that people know that they can discuss software with the corresponding WGs.

[2021-06-16 00:25] thesuperzapper commented on #518
@kimwnasptd I think I might not have described the distinction between `wg-*` and `kubeflow-*` very well.

* `wg-*`:  for __the working group itself__ to discuss WG related stuff, like meetings and discussions of new features/issues
* `kubeflow-*`: for __users of Kubeflow__ to discuss and ask questions

I believe the distinction is important, as it prevents users getting confused by the working gr

[2021-06-19 01:51] #500 closed

[2021-06-21 04:29] Bobgy opened #520 "Process to adopt paddle/operator"
Because we accepted https://github.com/kubeflow/community/pull/502 paddle operator proposal.

Now we can start the process to adopt the external repo.

[2021-06-21 04:30] Bobgy commented on #520
/cc @kubeflow/wg-training-leads @tizhou86

[2021-06-21 04:46] Bobgy commented on #520
Plan:
1. Stage current https://github.com/PaddleFlow/paddle-operator repo into google internal git.
2. Google internal release process (there might be back and forths on repo requirements, I'll sync with @tizhou86 to resolve them).
3. Once the repo is public, I can add OWNERS for @tizhou86 and @kubeflow/wg-training-leads.

Note, I cannot rename the existing github repo directly

[2021-06-21 04:52] Bobgy commented on #520
That's my rough plan. Any concerns?

[2021-06-21 06:01] Bobgy commented on #520
@tizhou86 May I confirm, is all the code in https://github.com/PaddleFlow/paddle-operator currently wrote by your company? Are there snippets or files copied from other projects?

If yes, it's not a big problem, but you'll need to move them into a "third_party" folder at the root of the repo and mention original copyright and license.

[2021-06-21 06:03] Bobgy commented on #520
The copyright headers do not reference a company name. @tizhou86 do you want to update?
example:
https://github.com/PaddleFlow/paddle-operator/blob/0f1bab781dcd45059fd3e336a3aa7ecab9eaf601/controllers/paddlejob_controller.go#L2

[2021-06-21 06:11] Bobgy commented on #520
For new open source projects, we will be enforcing inclusive language policies.
I found that there are several occurrences of "master" in the repo: https://github.com/PaddleFlow/paddle-operator/search?q=master.

reference: https://developers.google.com/style/word-list#master

Can you investigate whether it's possible to avoid using "master" in code and API?

[2021-06-21 06:30] Bobgy commented on #520
These are problems I found for the initial pass.

[2021-06-21 07:18] tizhou86 commented on #520
/cc @kuizhiqing

[2021-06-21 13:02] tizhou86 commented on #520
Hi @Bobgy , All mentioned problems above are resolved in PRs: https://github.com/PaddleFlow/paddle-operator/pull/48 and https://github.com/PaddleFlow/paddle-operator/pull/49 , please let us know if anything is needed from our side, thanks!

[2021-06-22 18:02] DavidSpek commented on #496
/cc @Bobgy
I'm not sure if this is setup with prow, or created in each repository separately. Somewhat related, does anybody know where the prow config lives that is setup with the Google OSS Prow Robot? I'd like to view this config while I'm exploring some things related to the release.

[2021-06-22 18:38] DavidSpek commented on #496
I believe the label should be added in this prow config: https://github.com/google-oss-robot/test-infra/blob/3ac644aa4271af7c8c2e19646fd8e625ba8309f6/config/prow/plugins.yaml#L101

[2021-06-24 09:47] Bobgy commented on #520
@tizhou86 thanks!
LGTM except  some minor problems:
* See two comments in https://github.com/PaddleFlow/paddle-operator/pull/49

[2021-06-24 11:38] Bobgy commented on #520
Another Q: did anyone file any patents around paddle-operator?

[2021-06-25 02:28] kuizhiqing commented on #520
Hi @Bobgy , No, no patent is filed for paddle-operator now.

[2021-06-25 09:59] kuizhiqing commented on #520
Hi @Bobgy , I've add license for the yaml files with https://github.com/PaddleFlow/paddle-operator/pull/53 .
BTW, can you also add me as OWNERS in third step of your Plan.

[2021-06-25 16:20] mkbhanda commented on #517
Having problems on Google Groups to respond. Thank you @Diana for the nomination and @kimwnasptd and @rui for the warm seconds. It would be an honor to serve the KF community.

Some valuable points were brought uo.
voting ties:  some alternatives might be one vote per company, bring in a tie breaker vote by having the largest sub-project lead also vote, one of us having no vote, could be me.
multi

[2021-06-27 22:47] thesuperzapper commented on #494
Bump, I think this idea is still relevant, and will help users understand our goals.

[2021-06-27 23:28] thesuperzapper commented on #517
@mkbhanda what are you responding to in your comment?

This issue is just about getting lazy consensus for the 1.4 release team.

[2021-06-28 08:09] tizhou86 commented on #520
Hi Bobgy, please also add kuizhiqing as the owner of this project, thanks! :-）

[2021-06-28 11:20] kimwnasptd commented on #517
/reopen

@thesuperzapper her comment was in continuation to the mailing-list discussion about adding @mkbhanda to the release team https://groups.google.com/g/kubeflow-discuss/c/vLCxh01t_WM.

[2021-06-28 11:23] Bobgy commented on #520
Sure, updated plan

[2021-06-28 15:21] DavidSpek commented on #517
@jtfogarty Mentioned he was available to shadow. I thought it is probably a good idea to have this stated here as well.

[2021-07-02 13:38] #503 closed

[2021-07-03 23:17] Bobgy commented on #496
https://github.com/GoogleCloudPlatform/oss-test-infra
This is the actual repo for google oss prow.

Besides that, I can create the label manually too

[2021-07-03 23:20] Bobgy commented on #496
Created the label

[2021-07-03 23:20] #496 closed

[2021-07-05 02:47] tizhou86 commented on #503
FYI, the process for paddle operator adoption is under: https://github.com/kubeflow/community/issues/520

[2021-08-22 22:18] thesuperzapper commented on #495
I strongly believe that this issue should be persued further, in the interest of having a neutral and elected governance structure for the Kubeflow project.

/lifecycle frozen

[2021-08-24 06:45] Bobgy commented on #520
A required process after paddle-operator is migrated to Kubeflow org:
All released images should comply with open source licenses of its dependencies: https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md#docker-images.

There were some documentation for how this can be done for go binaries in https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go

[2021-08-24 22:45] thesuperzapper commented on #482
We are working on this change for the website, see issue: https://github.com/kubeflow/website/issues/2807

We are planning to create pages under `about` called `Kubeflow Working Groups` and `Kubeflow Community Meeting` which provide information about the calendars and link to the WG folders in `kubeflow/community` (like [wg-pipelines](https://github.com/kubeflow/community/tree/master/wg-pipelines)

[2021-08-24 23:38] Jeffwan commented on #520
@Bobgy Thanks for the update. Is it project owner's responsibility or WG's responsibility to make sure license files are included in all the images? Do you know if there's way we can scan images just like vulnerability scanner for docker images?

[2021-08-25 04:46] Bobgy commented on #520
Hi @Jeffwan, I'd say it's primarily project owners' responsibilities.

[2021-08-25 04:49] Bobgy commented on #520
I am not aware of such tools like vulnerability scanning, because it's a little hard understanding how each binary was built.

So far existing tools are around integrating license compliance process in dev/release process.

[2021-08-25 05:28] kuizhiqing commented on #520
Hi @Bobgy @Jeffwan , thanks for your clarification. We are working on it now.

[2021-09-01 06:37] kuizhiqing commented on #520
Hi @Bobgy , I've add licenses file in the repo and copy it into image, cf pr https://github.com/PaddleFlow/paddle-operator/pull/73.

For the image issue, kubebuilder provide us with base image *gcr.io/distroless* which we are replacing with *bitnami/minideb:stretch* due to the accessibility.

Is it ok or maybe we should use *registry.access.redhat.com/ubi8/ubi* as base image just like pytorch-oper

[2021-09-01 16:56] Jeffwan commented on #520
@kuizhiqing What's your plan on kubeflow/paddle-operator? Seems you still use PaddleFlow/paddle-operator as main dev repo?

[2021-09-01 16:58] terrytangyuan commented on #520
Should we aim to migrate the paddle-operator code base to the unified operator instead of standalone new repo?

[2021-09-07 03:00] kuizhiqing commented on #520
Hi all, we are aware of your advance in working on unified operator, we would like to making paddle work under unified operator, though, we are now working on repo paddle-operator and it's on the process of adoption. I'm considering that shall we possibly continue the process and plan to work with unified operator later ?

[2021-09-07 21:08] Jeffwan commented on #520
@kuizhiqing Please have a look at tf-operator code base and see if that's possible to make it easily. We heavily reuse codes from kubeflow/common

[2021-09-08 09:28] kuizhiqing commented on #520
Hi @Jeffwan ,  I've read your recent code in tf-operator, it make sense for paddlepaddle to take a place in it but I am afraid maybe we can do it later since it is not straight forward to make it right away.

[2021-09-08 12:23] Bobgy commented on #520
I'm not opinionated on whether @kuizhiqing wants to merge paddle operator into the unified operator directly. We can start with a standalone repo and consider the merge too.

For the PR that adds license info to the image, I just did a quick review.

What do you mean by accessibility? Is it because gcr.io is not accessible from China?

[2021-09-08 12:49] Bobgy commented on #520
@kubeflow/wg-training-leads as you may understand, Training WG should be responsible for security of paddle-operator.
Can we take one of the options below?
1. @tizhou86 @kuizhiqing give admin permission to paddle-operator container image repo to some representatives from @kubeflow/wg-training-leads
2. host paddle-operator images on the same container registry as other Training WG images.

[2021-09-09 04:13] kuizhiqing commented on #520
Hi @Bobgy , yes gcr.io is not always reachable from China.

So for base image, is bitnami/minideb:stretc is just ok or we should use
gcr.io/distroless  or registry.access.redhat.com/ubi8/ubi instead ?

For container registry, we can push our images in the same registry as other images, please help with the permission.

[2021-09-09 07:20] Bobgy commented on #520
Understood, I don't think we have a strong opinion on the base image. At the end, users will only care about whether there can be vulnerabilities in the base image, I think you can decide by yourself based on this.

[2021-09-15 04:01] Bobgy commented on #520
Hi @Jeffwan @gaocegege, what's your opinion on https://github.com/kubeflow/community/issues/520#issuecomment-915209894?
This is the remaining blocker.

[2021-09-16 08:42] gaocegege commented on #520
I think we could give admin permission. The security issues can be guaranteed by code reviews. WDYT @Jeffwan @johnugeorge

[2021-09-23 07:38] Jeffwan commented on #520
@gaocegege Just to double confirm. Do you mean you prefer second option and would like to grant permission to paddle maintainers? Our training operator image is hosted in AWS ECR and we use our own CI pipeline to build images.

We also own kubeflow dockerhub but that's a free account with rated limited issue

[2021-09-23 07:49] gaocegege commented on #520
I mean that we can grant docker hub permission.

@kuizhiqing WDYT

[2021-09-23 08:47] kuizhiqing commented on #520
OK, it works for us.

[2021-10-11 22:36] terrytangyuan commented on #520
I don't have a strong opinion on the registry as long as Training WG has permission and can take actions when necessary. Any objections from others?

[2021-11-02 17:51] zijianjoy commented on #479
https://github.com/kubeflow/frontend is ready for archive

[2021-11-02 21:11] smsperitus opened #550 "Kubeflow and Peritus Slack Assistant"
/kind feature

**Why you need this feature:**
Thanks for the opportunity to present and demonstrate Peritus.AI to the [Kubeflow Community on Tuesday, October 26, 2021](https://docs.google.com/document/d/1Wdxt1xedAj7qF_Rjmxy1R0NRdfv7UWs-r2PItewxHpE/edit#bookmark=kix.62nytt47c27m). Pursuant to the recommendation at the meeting, I am opening this GitHub Issue to request the inclusion of the Peritus S

[2021-11-04 21:10] zijianjoy commented on #479
Hello everyone, I am targeting Nov 30th 2021 for archiving the repos mentioned in https://github.com/kubeflow/community/issues/479#issuecomment-855805631, as well as the deletion of repos in the same comment.

Please let me know if:
1. Any personnel you want to notify about the deletion/archive plan.
2. Any alternative you suggest people to use after certain repo is archived.
3. Any change you wan

[2021-11-05 02:45] jbottum opened #529 "Document process to create blog post and slide presentation for each Kubeflow release"
Purpose: The Kubeflow Product Management Team has been asked to document the Kubeflow Community’s process for the blog post and the recorded presentation, which are delivered with each Kubeflow release.

Goal: The blog post and presentation are used to increase the Community’s understanding of new features in a Kubeflow release.

The current process has been documented in this doc: https://docs.go

[2021-11-06 10:33] terrytangyuan commented on #479
@zijianjoy The Training WG has added archival notice and decided to archive operator repos for PyTorch, XGBoost, and MXNet. Could you archive this repos as well? Thanks. See context in https://github.com/kubeflow/training-operator/issues/1423

[2021-11-08 04:38] zijianjoy commented on #479
Hello @terrytangyuan , sounds good to me for archiving XGBoost, MXNet, PyTorch operators repos.

[2021-11-08 05:25] zijianjoy commented on #529
That is awesome, thank you Josh for leading this effort! Would you like to share doc access to my account(jamxl@google.com) for review? Thank you!

[2021-11-08 16:09] jbottum commented on #529
@zijianjoy you should have access now.

[2021-11-09 19:09] theadactyl commented on #529
@jbottum can we make sure this ends up in GH once published? Will TAL by Thursday.

[2021-11-10 12:16] everpeace commented on #479
Hi, @Bobgy. sorry for the late response. https://github.com/kubeflow/chainer-operator is not maintained actively anymore. please go archive it.

[2021-11-10 17:28] zijianjoy commented on #479
Hello @everpeace, would you like to put on deprecation notice on README.md file for chainer-operator using format https://github.com/kubeflow/metadata#warning-kubeflowmetadata-is-not-maintained, and suggest an alternative for this tool? Please let me know once you have added this notice, thank you!

[2021-11-10 22:04] zijianjoy commented on #529
Thank you @jbottum, the process documentation is awesome!

[2021-11-10 22:20] jbottum commented on #529
@theadactyl yes, but I will need some help.   For instance, it has a table, which might need to be re-formatted once we have agreement on content.   I would like to finish on the content in the next week or so.   I think we have a decent version after incorporating James' input.  I will ask for more comments in the next Community meeting and try to close up by Thanksgiving.

[2021-11-10 22:28] zijianjoy commented on #529
@jbottum If you want to convert table to markdown, you can use tools like https://tabletomarkdown.com/convert-spreadsheet-to-markdown/ for your convenience.

[2021-11-11 15:07] jbottum opened #530 "Kubeflow User Group Contributor Role for Kubeflow 1.5 Release"
### Kubeflow User Group Contributor Role for the Kubeflow 1.5 Release

**Goals: The goals of the Kubeflow User Group Contributor position(s) are:**

- The User Group Contributor is a short term position (~12-17 weeks), which allows Kubeflow users to provide input and important contributions to the next Kubeflow Release.
- The User Group Contributors will help the Working Groups by providing a user

[2021-11-11 16:51] jbottum commented on #530
/area community
/priority p2
/kind feature

[2021-11-14 05:09] js-ts commented on #479
Hi, @zijianjoy what about https://github.com/kubeflow/kfctl its not actively maintained, last release was a year ago https://github.com/kubeflow/kfctl/releases/tag/v1.2.0

[2021-11-14 09:36] everpeace commented on #479
@zijianjoy I added a deprecation notice on chainer-operator repo.

[2021-11-15 17:28] james-jwu commented on #530
Thanks Josh for the proposal. Is there a limit on size of KF User Group per Working Group?

[2021-11-15 17:41] jbottum commented on #530
@james-jwu Currently, there is not a pre-defined limit.     The Leads of Each Working Group will accept User Group Contributor Role submissions, so each Working Group Leads will decide how many.     I think 1-2 contributors per WG would be success.

[2021-11-15 20:37] zijianjoy commented on #479
@everpeace Thank you! I have added chainer-operator repo to archive list

[2021-11-16 17:06] annajung opened #531 "Add Kubeflow release related documentation to the community repo"
Based on the [1.4 release retrospective discussion](https://docs.google.com/document/d/119PCr2h3Wwm7XA_qHqtda017Q--yWPF9u7nuUWo0ZnY/edit#), the 1.4 release team would like to propose that all release-related documentation be moved to the community repo and be managed by the release team members.

Currently, release-related documentations are located in the [manifest/docs](https://github.com/kubefl

[2021-11-16 17:11] annajung commented on #531
cc @Bobgy @james-jwu @theadactyl @kimwnasptd

[2021-11-16 20:02] zijianjoy commented on #479
Notification has been sent to kubeflow-discuss email list: https://groups.google.com/g/kubeflow-discuss/c/GZw4LsPfrcY

[2021-11-16 20:15] terrytangyuan commented on #479
Thank you! @zijianjoy

[2021-11-17 02:23] thesuperzapper commented on #529
I think this should be included under the `releases` folder created by; https://github.com/kubeflow/community/issues/531

[2021-11-17 02:37] thesuperzapper commented on #530
I think this idea is great (getting users more directly involved in owning new features of components they use).

I think that changing the name to "User Feature Sponsor" would help clarify the purpose of this role, that is, to sponsor a specific feature/change for one of the components.

This change would clarify that the role is for a specific feature and (in my mind) people who become "User Fea

[2021-11-17 22:19] jbottum opened #532 "Kubeflow Pipelines Roadmap Review on Nov 23, 30 or Dec 7 Community Meeting"
@james-jwu Per the discussion in the Nov 16 Community call, I would like to request that a Kubeflow Pipelines Working Group representative would please present the KFP roadmap to the Community during one of these Community calls - Nov 23, 30, or Dec 7.   As discussed, this can be a short presentation ~15 minutes and does not need to be limited to the features that align to KF 1.5 (Jan/Feb).  As ou

[2021-11-17 22:20] jbottum opened #533 "Kubeflow Notebook and Manifest Roadmap Review at Community Meeting on Nov 23, 30 or Dec 7"
@kimwnasptd Per the discussion in the Nov 16 Community call, I would like to request that a Kubeflow Notebooks and Manifests Working Group representative would please present their roadmaps to the Community during one of these Community calls - Nov 23, 30, or Dec 7.   As discussed, this can be a short presentation ~15 minutes and does not need to be limited to the features that align to KF 1.5 (Ja

[2021-11-17 22:24] jbottum opened #534 "AutoML roadmap presentation to Community on Nov 23, 30 and Dec 7"
@andreyvelich Per the discussion in the Nov 16 Community call, I would like to request that an AutoML Working Group representative would please present the AutoML roadmap to the Community during one of these Community calls - Nov 23, 30, or Dec 7.   As discussed, this can be a short presentation ~15 minutes and does not need to be limited to the features that align to KF 1.5 (Jan/Feb).  As our nor

[2021-11-17 22:26] jbottum opened #535 "Training Operator Roadmap presentation at Kubeflow Community meeting on Nov 23, 30 or Dec 7"
@johnugeorge @Jeffwan Per the discussion in the Nov 16 Community call, I would like to request that a Kubeflow Training Operator Working Group representative would please present the Training Operator roadmap to the Community during one of these Community calls - Nov 23, 30, or Dec 7.   As discussed, this can be a short presentation ~15 minutes and does not need to be limited to the features that

[2021-11-17 23:58] james-jwu commented on #532
I'd be happy to present KFP roadmap on Nov 30. I added an agenda item to the community notes.

[2021-11-18 01:58] theadactyl commented on #529
@thesuperzapper agreed. Otherwise LGTM

[2021-11-18 01:59] theadactyl commented on #531
/lgtm

[2021-11-18 02:46] james-jwu commented on #531
/lgtm

[2021-11-18 03:04] thesuperzapper commented on #531
@annajung are you planning to make a PR?

[2021-11-18 13:56] kimwnasptd commented on #529
Yep, we discussed about it in the release team meeting this Monday. We will move these here once we move our release docs over this repo cc @annajung

[2021-11-18 13:58] kimwnasptd commented on #533
Awesome! I'm going over and creating the issues, which will help organize this.

I'll present this to the Community Meeting

[2021-11-18 18:05] theadactyl commented on #529
/lgtm for the bots

[2021-11-18 18:15] theadactyl commented on #530
I like this idea. I'm also wondering how we can simplify this to reduce overhead, or try it as a more informal pilot before adopting a lot of formal structure. WDYT @jbottum

[2021-11-18 19:43] annajung commented on #531
Thanks for the reminder @thesuperzapper
Since there is no opposition to the proposal, I went ahead and created a pull request https://github.com/kubeflow/community/pull/536 to move the release-related docs to the community repo. Please review when you can. Thanks!

[2021-11-18 20:12] shannonbradshaw commented on #531
Thanks, @annajung !

[2021-11-18 20:18] annajung commented on #531
PR merged https://github.com/kubeflow/community/pull/536, closing the issue! thanks everyone

[2021-11-18 20:18] #531 closed

[2021-11-18 20:51] jbottum commented on #530
@theadactyl I propose that the Kubeflow Community will become stronger as we increase user contributions. From the Release Handbook implementation, we have seen that defining process, roles and responsibilities has improved the Community's quality and deliveries.   It helps set expectations.   I think:

- that user contribute so that their ideas are implemented.
- being specific (at least one cont

[2021-11-19 01:22] Jeffwan commented on #535
Sounds good. I think let's discuss it internally and reply the thread with proposed date. /cc @kubeflow/wg-training-leads

[2021-11-19 07:03] johnugeorge commented on #535
Sounds good

[2021-11-19 07:05] johnugeorge commented on #534
In the last AutoML meeting, we have planned to create a priority list of issues targeted for 1.5.  Once we create that, we can present it in the community meeting.
/cc @andreyvelich

[2021-11-19 16:33] andreyvelich commented on #534
Thank you for driving this @jbottum!
Let's target December 7th to present the ROADMAP for the community, since we are going to finalise our list on December 1st in the next AutoML community meeting.

[2021-11-23 04:14] thesuperzapper commented on #517
Kubeflow 1.4 has been released.

/close

[2021-11-23 04:14] #517 closed

[2021-11-23 22:26] thesuperzapper opened #540 "Formally agree on release team for Kubeflow 1.5"
I see that @annajung, @jbottum, @kimwnasptd, @shannonbradshaw are [taking actions](https://docs.google.com/document/d/1Cs9XYl_SHfGP9vs1eHyqb6JAcpE3ilM-5iRuBnV9AB4/edit) under the banner of a “Kubeflow 1.5 release team”. I don't see how this is possible, as no release team has been endorsed by the Working Groups or @kubeflow/project-steering-group.

I am concerned that having 75% members of the "Ku

[2021-11-23 22:52] thesuperzapper commented on #540
I have raised the same concerns on `kubeflow-discuss` in this thread:
- https://groups.google.com/g/kubeflow-discuss/c/ZD3pqGCiTMU

[2021-11-23 23:28] annajung commented on #540
I am not against publicly requesting nominations for the release team. I just want to clarify a few things that may have been missed.

- There was a [nomination started for 1.5](https://groups.google.com/u/1/g/kubeflow-discuss/c/0VTSUTMM8tY/) which didn’t get a lot of volunteers or endorsement.
- There was a discussion during retro/release team meetings on the best way to move forward with choosin

[2021-11-24 00:47] aronchick commented on #540
Hi @thesuperzapper - thank you so much for raising your concerns. I'm not as plugged in as I used to be, but I do remember the call for nominations a few weeks ago that @annajung called out. I think your #1 issue was addressed via this concern (it's been 2 weeks).

Unfortunately, everything here is still volunteer only and, while it's never ideal to have concentration around a single company (not

[2021-11-24 01:42] thesuperzapper commented on #540
@aronchick I note that [the thread](https://groups.google.com/u/0/g/kubeflow-discuss/c/0VTSUTMM8tY/) from @kimwnasptd only has one nomination (a self-nomination of @shannonbradshaw), I also note that https://github.com/kubeflow/internal-acls/pull/511 is proposing multiple people who were never nominated publicly.

----

__I think the best steps forwards are:__
1. Formally agree that the current "K

[2021-11-24 02:19] aronchick commented on #540
I think this is very fair - I would like to hear from other folks. If we don’t hear any objections by midnight  on Monday (Pacific Time), I propose the below goes into effect, with the closing of the release team occurring one week from when this goes into effect.

Any thoughts?

[2021-11-24 02:30] lalithvaka commented on #540
It's a fair observation and proposal from @thesuperzapper . I concur @aronchick .

[2021-11-24 06:36] james-jwu commented on #540
The proposal from @thesuperzapper looks reasonable to me.

[2021-11-24 14:12] ca-scribner commented on #540
There's both good practical and ideological points in here.

Ideologically, I'm with @thesuperzapper that an open project that can be driven by a single entity has at a minimum a perception problem, but could also have a real takeover problem (I am **not** suggestion that's happened here, just saying it could happen).  Release management picking future management has the same issue - someone with

[2021-11-24 16:07] DomFleischmann commented on #540
@DnPlas and I, would like to join the Release team as members representing Canonical. For now, we have added the Release Team meeting to our calendars and will join the next one. If there are any further steps required please let us know.

[2021-11-24 22:28] kimwnasptd commented on #540
First off some clarifications:
https://github.com/kubeflow/community/issues/540#issuecomment-977915428

The release team does not have any authority over any asset of the project. The team leads are only there to coordinate the effort and ensure the manifests and docs of different components will be ready within a timeline agreed to by the WG leads.

The release team does not control the roadmap o

[2021-11-24 22:37] kimwnasptd commented on #540
Regarding nominations, @annajung  described in the release team meetings a handful of valid reasons why we shouldn't be doing just nominations, but have the previous team select the next release team from people who have nominated themselves, which is the exact same things that the K8s community does. And I agreed when I heard her arguments.

But even before discussing process and nominations, @th

[2021-11-25 00:33] james-jwu commented on #540
My read of proposal from @thesuperzapper is that the current process can be improved when there is a significant concentration of one company in release team. I am super appreciative of the work done by the 1.4 release team, and the people who stepped forward to volunteer for 1.5 release.

I can see that the invitation for 1.5 release team was [publicly announced](https://groups.google.com/g/kubef

[2021-11-29 15:01] Jeffwan commented on #535
Sorry for late response. Can we make it on Dec 7?  @jbottum.

[2021-11-29 15:02] Jeffwan commented on #535
I am kind of busy with internal stuff and didn't get chance to attend community meeting. Is the date finalized?

[2021-11-29 23:01] kimwnasptd commented on #540
We discussed about this extensively during today's [Release team meeting](https://docs.google.com/document/d/1Cs9XYl_SHfGP9vs1eHyqb6JAcpE3ilM-5iRuBnV9AB4/edit#heading=h.csmdrkclc4ar) and all current members @kimwnasptd @annajung @DomFleischmann @DnPlas @js-ts @jbottum @shannonbradshaw  unanimously agreed to the following process, after taking into consideration all the feedback:

We will keep bein

[2021-11-30 02:17] thesuperzapper commented on #540
I see that @kimwnasptd has created the new nomination thread on `kubeflow-discuss`, which you can find here:
- https://groups.google.com/g/kubeflow-discuss/c/KDTXp49Mk48

Please raise your nominations and seconds on that thread.

[2021-11-30 20:10] kimwnasptd commented on #540
@thesuperzapper  we believe the same way the WGs are deciding on their direction, by the people that put in the effort, should be the case with the release team.

The above plan I posted is something we've been going on iteratively with everyone in the release team meetings for over a month, and also updated it to include feedback from this discussion.

So unless the @kubeflow/project-steering-gro

[2021-11-30 20:59] terrytangyuan commented on #520
Ping @kubeflow/project-steering-group. Let's move forward with this. Please provide instructions on the next steps.

[2021-12-01 01:39] zijianjoy commented on #479
Hello everyone,

Quick update that I will be taking the action to deprecate inactive repos today.

Archive:

- https://github.com/kubeflow/batch-predict
- https://github.com/kubeflow/example-seldon
- https://github.com/kubeflow/reporting
- https://github.com/kubeflow/code-intelligence
- https://github.com/kubeflow/caffe2-operator
- https://github.com/kubeflow/metadata
- https://github.com/kubeflow

[2021-12-01 02:33] gaocegege commented on #535
/cc @zw0610

[2021-12-01 02:53] thesuperzapper commented on #540
After a relatively lengthy discussion in today's Kubeflow Community Meeting (2021-11-30), the general consensus was:
1. In the interest of releasing Kubeflow 1.5 in a timely way, we should allow the current "Release Team" to manage the release:
   - (This is in recognition that more diverse representation has already been added to the proposed "Kubeflow 1.5 Release Team")
   - (However, we still e

[2021-12-01 17:55] terrytangyuan commented on #535
Actually, I will be available on Dec 7 (originally thought it conflicts with my two other talks on Dec 8th) so can present on Dec 7.

[2021-12-01 18:09] zijianjoy commented on #479
Update: The deprecation is finished. Thank you everyone for your help.

[2021-12-01 18:09] #479 closed

[2021-12-01 19:53] jbottum commented on #535
@terrytangyuan Dec 7 sounds good.

[2021-12-01 20:52] jbottum commented on #535
@terrytangyuan @Jeffwan @johnugeorge You three are on the agenda of the Kubeflow Community call for Dec 7. See you there: https://docs.google.com/document/d/1Wdxt1xedAj7qF_Rjmxy1R0NRdfv7UWs-r2PItewxHpE/edit#

[2021-12-02 03:36] Bobgy commented on #479
Thank you for driving this!

[2021-12-02 04:59] thesuperzapper commented on #479
🎉

[2021-12-02 07:11] james-jwu commented on #540
@thesuperzapper On point #2 regarding formation of "Release Working Group", I can't agree that there was general consensus during KF community meeting on 11/29. Besides you and @jbottum, the people who offered opinions were myself and @andreyvelich (sorry if I missed someone). I was satisfied with one of the main contention points being addressed, which was more diversity and participation from th

[2021-12-02 13:49] andreyvelich commented on #540
I think it was @thesuperzapper who proposed the Release WG.
For me it is not clear why do we need Release WG.

What will be the main difference between Release WG and [Manifests WG](https://github.com/kubeflow/community/tree/master/wg-manifests) ?
How we will define part of Kubeflow project that Release WG maintains ?

cc @kubeflow/wg-manifests-leads

[2021-12-02 23:18] thesuperzapper commented on #540
@andreyvelich @james-jwu

The agreed [charter of `Kubeflow Manifests WG`](https://github.com/kubeflow/community/blob/master/wg-manifests/charter.md)  limits them to providing the `kubeflow/manifests` repository, there are many other aspects to creating a release that are out of their scope.

A great reference point for `Kubeflow Release WG` will be the `Kubernetes SIG Release` whose [charter](http

[2021-12-02 23:26] jbottum commented on #532
@james-jwu thank you for presenting the KFP roadmap to the community!

[2021-12-02 23:27] jbottum commented on #533
@kimwnasptd Please let me know if you can present on Dec 7 or 21.   Thanks!

[2021-12-02 23:29] jbottum commented on #534
@andreyvelich I have added you to the agenda for Dec 7.

[2021-12-02 23:30] andreyvelich commented on #534
Thank you @jbottum, I will present our updates.

[2021-12-02 23:33] james-jwu commented on #532
It's a pleasure!

[2021-12-02 23:33] #532 closed

[2021-12-02 23:35] jbottum opened #542 "KServe roadmap presentation to KF Community"
@animeshsingh @yuzisun Per the discussion in the Nov 16 Community call, I would like to request that a KServe representative would please present the KServe roadmap to the Kubeflow Community during one of these Community calls - i.e. Dec 7, 14 or 21. As discussed, this can be a short presentation ~15 minutes and does not need to be limited to the features that align to KF 1.5 (Jan/Feb). As our nor

[2021-12-03 17:01] jbottum opened #543 "Update Kubeflow's Published Roadmap to include the 1.5 Release"
The Kubeflow Roadmap should be updated to reflect our plans for Kubeflow 1.5.   /assign @jbottum

[2021-12-03 17:19] jbottum commented on #543
Here is the current roadmap: https://github.com/kubeflow/kubeflow/blob/master/ROADMAP.md

[2021-12-07 21:45] zijianjoy commented on #529
Hello @jbottum , would you like to create a PR for this process in Markdown format? Thank you again for your work on documenting the media workflow!

[2021-12-07 22:29] terrytangyuan commented on #520
Also cc @zijianjoy

[2021-12-07 23:00] jbottum commented on #529
@zijianjoy this is on my to-do list and will get it going, thanks for the reminder.

[2021-12-07 23:09] terrytangyuan commented on #535
This can be closed. The slides to today's presentation can be found here: https://docs.google.com/presentation/d/17VDIjzlnqByR3bpnYeSeZ3mre32Z825cuu_Uh584eio/edit?usp=sharing

/close

[2021-12-07 23:09] #535 closed

[2021-12-08 17:43] jbottum commented on #542
@pvaneck fyi, here is the request for KServe to present their roadmap to the Kubeflow Community.     If you can pick a Tuesday that works, we will get you on the agenda.

[2021-12-13 09:10] pvaneck commented on #542
Possible to this early January? 4th or the week after?

[2021-12-15 06:00] thesuperzapper opened #545 "PROPOSAL - create a "pool" of cloud credits for Kubeflow testing"
This proposal is pretty simple, the general idea is that we have use-cases that require us to spin up full Kubeflow clusters and perform manual testing.

Logistically, I think the easiest way to do this is a "pool" of cloud credits which can be accessed by some designated list of people within the Kubeflow community for the purposes of testing Kubeflow.

I would love to hear from the main cloud pr

[2021-12-15 10:14] terrytangyuan commented on #545
We already have test infrastructure on AWS: https://github.com/kubeflow/testing/tree/master/aws

[2021-12-15 11:04] js-ts commented on #545
Thanks @thesuperzapper for raising this issue , Earlier there was  [Kubeflow Auto Deploy Infrastructure](https://github.com/kubeflow/testing/blob/master/test-infra/auto-deploy/README.md#kubeflow-auto-deploy-infrastructure)
[It provided option to run both manual and automated tests](https://github.com/kubeflow/testing/blob/master/test-infra/auto-deploy/README.md)

since the option has been disconti

[2021-12-15 18:51] theadactyl commented on #479
Thanks James!

On Wed, Dec 1, 2021 at 9:00 PM Mathew Wicks ***@***.***>
wrote:

[2021-12-16 00:28] thesuperzapper commented on #545
@terrytangyuan is that infrastructure available for "manual testing" or only "automated testing"?

[2021-12-16 02:25] thesuperzapper opened #546 "PROPOSAL - review & clean up OWNERS"
## Overview:

Many OWNERS files across repos in the Kubeflow org display common red-flags, therefore it is critical for the health of the project that we __make a concerted effort to improve them__.

In this proposal, I aim to lay out the problem and propose how we can begin to review and clean up our OWNERS files in line with the [community agreed method of maintaining OWNERS files on `kubeflow.o

[2021-12-16 02:26] thesuperzapper commented on #546
cc @kubeflow/project-steering-group

[2021-12-16 02:30] thesuperzapper commented on #546
cc @kubeflow/wg-automl-leads @kubeflow/wg-deployment-leads @kubeflow/wg-manifests-leads @kubeflow/wg-notebooks-leads @kubeflow/wg-pipeline-leads @kubeflow/wg-training-leads

[2021-12-16 02:38] gaocegege commented on #546
BTW, how about other projects like https://github.com/kubeflow/arena and https://github.com/kubeflow/kfp-tekton

[2021-12-16 02:45] thesuperzapper commented on #546
@gaocegege In my (very quick) glance:
- [kubeflow/arena - `./OWNERS`](https://github.com/kubeflow/arena/blob/master/OWNERS)
   - looks OK
- [kubeflow/kfp-tekton - `./OWNERS`](https://github.com/kubeflow/kfp-tekton/blob/master/OWNERS)
   - seems to suffer from "Issue 1 and "Issue 2" (so I have added it to the list above)

[2021-12-16 04:50] theadactyl commented on #546
This sounds like a great thing to take on after the winter holidays. Let's
hold on it in the meantime so we have time to review the proposal and
collect feedback.

On Wed, Dec 15, 2021 at 6:45 PM Mathew Wicks ***@***.***>
wrote:

[2021-12-16 19:43] terrytangyuan commented on #545
They can be triggered by PR comments. If that's considered "manual", then yes it's available for both.

[2021-12-18 17:49] js-ts commented on #545
@terrytangyuan can you [test this example](https://github.com/js-ts/kfp-spark)

[2021-12-18 18:47] terrytangyuan commented on #545
Please first check out the relevant documentation and raise an issue if you have questions in kubeflow/testing.

[2022-01-17 22:35] smsperitus commented on #550
@theadactyl, thanks for making time to share your feedback. I understand that the tool "as is" is not approved for installation on the Slack channel. I appreciate the opportunity to address your feedback and hopefully be approved pending your review.

[2022-01-18 14:58] theadactyl commented on #550
Hi @smsperitus - apologies for the late notice, but I'll have to punt this
conversations to the following community meeting for family reasons.
Looking forward to discussing further.

On Mon, Jan 17, 2022 at 2:35 PM smsperitus ***@***.***> wrote:

[2022-01-22 23:22] zijianjoy commented on #529
Thank you so much @jbottum , I am following up on this topic and see if there is any update?

[2022-01-23 00:35] terrytangyuan commented on #520
Since @Bobgy is no longer in the team, @zijianjoy would you be able to take over from here?

[2022-01-23 00:44] Bobgy commented on #520
Thanks for the reminder!
@theadactyl and @kramachandran in @kubeflow/project-steering-group will be the main POCs for this.

[2022-01-24 16:42] jbottum commented on #529
I copied the doc, then I edited the chart in the new doc and converted it to markdown (using google doc add-on).
 The work is here: https://docs.google.com/document/d/18jIr1oy_hW0xC9JDR4stA56jAN_WsgaJHkeIhhN9pLI/edit?usp=sharing

I have asked @shannonbradshaw to help me with the PR creation and provided him with the markdown.   I expect a last round of edits once the PR is created and formatting l

[2022-01-25 18:25] zijianjoy commented on #529
That is awesome! Thank you Josh and looking forward to the next step.

[2022-01-25 19:10] smsperitus commented on #550
Hi @theadactyl , is today's community meeting (Tuesday, 5:30 PM Pacific) a good time for you?

[2022-01-25 21:35] theadactyl commented on #550
Hi there, I think I'll have to push to next week's meeting as I wasn't able
to get kindergarten pickup coverage.

On Tue, Jan 25, 2022 at 11:10 AM smsperitus ***@***.***>
wrote:

[2022-01-25 21:38] smsperitus commented on #550
Thanks for the heads up. I can empathize having been in that situation.

[2022-01-27 04:31] anencore94 commented on #530
Is this program fixed ?

[2022-01-27 16:38] jbottum commented on #530
@anencore94 This program is being used informally by a few contributors to the AutoML/Katib WG.   These folks raised their hands and said they wanted to help.   They had a PR they wanted to write/merge.    Are you interested in contributing ?   Do you have a specific issue that you would like to work on ?

[2022-01-28 15:55] jbottum commented on #529
@shannonbradshaw let's post this on this page: https://github.com/kubeflow/community/tree/master/releases

I think it could fit under resources :

Resources

Release Handbook
Meeting Recordings
Please add ->  Process to publish a Blog Post and Video Presentation for a Kubeflow Release

[2022-02-01 00:33] smsperitus commented on #550
Hi @theadactyl , does tomorrow's community meeting (Tuesday,  8 AM Pacific) work for you?

[2022-02-02 00:42] theadactyl commented on #550
Hi! I think we should have a short one-off meeting about this during PT working hours as it will be much easier for me to attend. What is your availability? I will share a meeting invite here when we agree on a time.

[2022-02-02 04:38] smsperitus commented on #550
Hi @theadactyl , I appreciate the flexibility. Pacific Timezone working hours are perfect. Will any of the following time(s) work for you?

Thursday (2/3) 11:30 AM - 2:30 PM
Friday (2/4) 10:30 AM - 2:30 PM

[2022-02-03 01:05] theadactyl commented on #550
Can you propose some times for next week? I don't see a time in those two days where we'd have a PSG quorum.

[2022-02-03 05:06] smsperitus commented on #550
Hi @theadactyl , I have a suggestion and hopefully, it can make this easier. I wasn't aware that you were trying to coordinate with other PSG members. If you could suggest a couple of slots next week I can try to work my schedule around that.

[2022-02-08 21:43] theadactyl commented on #550
Hi there, I added a review slot to the Kubeflow Community Calendar for Thursday, February 17⋅10:30 – 11:00am