[2018-02-08 13:57] jlewi opened #3 "Setup kubeflow.org domain"
We need to setup the kubeflow.org domain.

The domain was purchased by @DjangoPeng and Caicloud and contributed to the community. Thank you very much.

The domain has been transferred to Google Domains to facilitate setup.

Current owners:
@DjangoPeng (CaiCloud)
@jlewi (Google)
@aronchick (Google)

There were a bunch of custom resource records defined
![custom_resource_records](https://user-images

[2018-02-08 13:59] jlewi commented on #3
@DjangoPeng I think the MX records are configuring the domain to use namecheap for email; I'd like to get rid of those and switch to using gsuite.

[2018-02-08 14:15] jlewi opened #4 "Shared Kubeflow deployment for project contributors"
I'd like to setup a shared kubeflow deployment for project committers. The goal is to enable project contributors who need access to K8s resources. Examples:

1. People demoing/evangelizing Kubeflow.
1. Contributors working on examples
1. Contributors testing the deployment.

An explicit non-goal is providing non-contributors a way try out Kubeflow.

I suggest hosting the deployment at  `dev.kubef

[2018-02-08 14:32] DjangoPeng commented on #3
@jlewi LGTM.

Please go ahead.

[2018-02-09 03:45] jlewi commented on #3
gsuite is enabled; admins

@DjangoPeng (CaiCloud)
@jlewi (Google)
@aronchick (Google)
@mattf (Red Hat)

[2018-02-09 04:30] jlewi commented on #4
Created project:
kubeflow-dev in org: kubeflow.org

Various members of the Google devrel team our owners.

[2018-02-15 02:14] mitake opened #9 "RFC: expanding `build/boilerplate/boilerplate.py` for automatically inserting a correct boilerplate"
As discussed in https://github.com/kubeflow/kubeflow/pull/204, it would be useful if we can expand `build/boilerplate/boilerplate.py` for automatically inserting a correct boilerplate to source files which don't have the boilerplate.

I'd like to know that the kubeflow developers think the feature is useful or not. cc @jlewi

[2018-02-15 12:41] jlewi commented on #9
What does it do right now? Does it just print out files that don't have correct boiler plate?

A tool to automatically add the boilerplate seems useful.

Might also be useful to turn it into a check that we could run as part of our prow jobs like
https://github.com/kubeflow/tf-operator/blob/master/py/py_checks.py

[2018-02-15 22:23] jlewi commented on #3
The domain is all setup.

[2018-02-15 22:23] #3 closed

[2018-02-15 22:26] jlewi opened #10 "Spread PR review/approve workload around"
The number of contributors/contributions is growing quite rapidly.

We need to spread the review/approve workload around or we won't be able to continue to scale.

Kubernetes has a lot of processes and associated tooling for assigning reviewers and approvers. I think Kubernetes uses owners files.

Also prow provides a PR dashboard that I think helps Kubernetes contributors see PRs that need their

[2018-02-16 01:29] gaocegege commented on #10
/cc @DjangoPeng @ddysher @Jimexist @ScorpioCPH

[2018-02-16 02:26] mitake commented on #9
Currently the script prints out files w/o correct boilerplate like below:
[code]

Probably inserting the correct boilerplate to the files wouldn't be complicated if the files are just lacking the boilerplates. So I think it can be a good starting point. The difficult case would be dealing with files which have incorrect boilerplates (e.g. spelling errors). Detecting and removing the incorrect boil

[2018-02-16 03:52] ddysher commented on #10
We are using prow and kubernetes owners file internally for our dev workflow. Kubernetes is a large community while we are a small group of developers, so we've simplified things a little bit.

#### deploy kubernetes prow job

we start by deploying prow job into a kubernetes cluster. i'm not responsible to deploy prow, but IIUC, there are two features that are important to us

- to allow the bot t

[2018-02-16 13:45] jlewi commented on #9
My suggestion would be

1. Add it as a presubmit failure
2. Add some utilities to add the correct boiler plate.

I think #1 is the most important because of #1; I don't think we have to worry to much edge cases for #2 since people can handle that manually.

For #1, I'd suggest start by adding it as a check in our testing Argo workflow for kubeflow/testing
https://github.com/kubeflow/testing

Then

[2018-02-16 14:17] jlewi opened #11 "Generate reports with interesting GitHub metrics"
It would be useful to have dashboards for things like

  - Number of committers
  - Number of PRs
  - Number of issues open/closed

Does Kubernetes do anything like this?

It looks like GitHub provides some insights but this appears to be per repository. It would be nice to aggregate across all repositories in the Kubeflow org.

Is there an easy way to do this?

One possible option might be to use

[2018-02-16 15:11] ddysher commented on #10
SGTM.  A trial run is non-intrusive as long as we don't remove any existing permissions.

[2018-02-16 17:35] erikerlandson commented on #10
SGTM. Would it be a good idea to somehow mirror the contents of these OWNER files on the `community` repo?  Possibly just a table of links to those files would suffice.

[2018-02-16 18:07] jlewi commented on #10
@erikerlandson Why do we need to mirror OWNERS files? My understanding is that every repo should have an OWNERS file at the root and then this can be overwritten/extended by placing OWNERS files in other parts of the repository source tree.

So my expectation is that once we socialize the convention and document it in the community repository, everyone would know exactly where to look to find the

[2018-02-16 18:10] jlewi opened #12 "Define common issue labels for all repositories"
See kubeflow/tf-operator#326 for an initial discussion of common labels for issues.

I think most of the labels are uncontroversial e.g. labels for different priorities and furthermore should be applied consistently across all repositories.

Opening this issue to track defining those labels across all our current repositories.

Is there any easy way to enforce a common set of labels across multipl

[2018-02-16 18:27] erikerlandson commented on #10
@jlewi that is the question; are OWNERS files self documenting? I haven't used them. The argument for "mirroring" would be maximizing discoverability, but documenting "look for the OWNER file with most specific scope" might be fine.

[2018-02-17 04:03] ddysher commented on #10
@erikerlandson prow will suggest appropriate assignee, point folks (pr author, etc) to correct documentation and interact with them in some cases.  Let's see if it works for us.

@jlewi what do you suggest for next step?  if we start from tf-operator, we need to setup prow job as mentioned above, and draft OWNERS files.

note it seems we use `k8s-ci-bot`, but we'd better use our own account?

[2018-02-21 14:33] jlewi commented on #10
@ddysher I think setting up tf-operator to use OWNERS and K8s  tooling seems like a good next step. If you think we should setup our own bot; I'm fine with that. Not sure what that actually entails.

[2018-02-21 14:34] jlewi commented on #4
@ankushagarwal set this up.

[2018-02-21 14:34] #4 closed

[2018-02-21 14:50] jlewi commented on #12
We should be able to do this programmatically using the GitHub API.
https://developer.github.com/v3/issues/labels/#create-a-label

Here's a shell script that is similar
https://gist.github.com/rentzsch/4540430

The shell script deletes all labels first; which is probably not what we want to do.

I think I'd prefer a python script so we can do things like check if label already exists and if it doe

[2018-02-21 18:48] jlewi opened #14 "[Mini proposal] for structuring python code"
Most of our repositories have some python code. I suggest we adopt the following conventions

All python code should be located in

[code]

The advantage of this layout is we can just  add the py directory to our PYTHONPATH and then we can import code as

[code]

Giving each repository a unique package based on its name name should avoid name conflicts.

Starting this as a GitHub issue. I can turn

[2018-02-22 20:24] amitkumarj441 opened #15 "Add slack auto-generates invites - Open for everyone"
# Why auto-generates invites?
It helps user to get its own invite link and anyone can easily join without searching for a shared / invitation link.

Ongoing PR - #13

[2018-02-22 20:26] jlewi commented on #15
It looks like we have the slackin APP enabled for kubeflow.slack.com
https://github.com/rauchg/slackin

We also have a shared invite link in our Getting Involved page
https://github.com/kubeflow/kubeflow#get-involved

@aronchick Is that link sending a request each time someone wants to join?

[2018-02-22 20:34] amitkumarj441 commented on #15
Actually https://github.com/kubeflow/kubeflow#get-involved is a shared invite link (I hadn't have a chance to be in trouble) and shared invite (means token) used to get access. It basically let's users to have a token in their hand (not [legacy token](https://api.slack.com/custom-integrations/legacy-tokens)).

[2018-02-22 23:12] elsonrodriguez opened #16 "Create kubeflow/experimental-kvc to house an S3 data management utility"
We have a use-case where we'd like data local to the training processes to maximize throughput, but the datasets are in s3.

We've written a controller to manage these datasets and download them to nodes, which can then be bindmounted into a container, and would like to open source it under the kubeflow org.

Please  create `kubeflow/experimental-kvc` to house this project.

Also proposing that we

[2018-02-23 02:28] jlewi commented on #16
I've created the repository to unblock you.

I also created the team Intel and given it write access to the repository. You are a maintainer so you should be able to add any colleagues at Intel.

I'll leave this issue open for now to give folks an opportunity to comment in case they think there should be more process before creating experimental projects.

My two cents is we should have a pretty l

[2018-02-23 13:46] jlewi commented on #16
Kubeflow should be Cloud agnostic and K8s native. So eventually we will need to make the tool work everywhere K8s runs and not just with S3.

I believe Pachyderm does something similar; i.e. copies data to/from the pod to Pachyderm's data store.

Could this be implemented as volume plugins? So pods could just mount a volume or PVC and the volume plugin/controller would take care of actually making

[2018-02-23 13:54] dwhitena commented on #16
Indeed @jlewi. Here's what Pachyderm already does, which might help put some of this in context based on our experience trying this:

Pachyderm's data is backed in any generic object store (we have an internal object store package that utilizes one of a few object store clients under the hood, for Azure, GCS, and any S3 compatible API). That gives us the flexibility to back the data for data pipel

[2018-02-23 19:22] elsonrodriguez commented on #16
Thanks for the repo!

As @dwhitena mentioned s3 is the lingua franca when it comes object stores, which is why we chose it. For the first pass a https://github.com/kubeflow/examples/issues/2 we're just using the aforementioned simple utility to sync the data, but we'd be happy to checkout or help with Pachyderm for a follow-up example.

[2018-02-26 21:52] jlewi commented on #10
So I think the next steps are

1. Ensure k8s-ci-bot has appropriate permissions on the repo (is write sufficient) or is admin needed?
2. Ensure appropriate prow plugins are enabled for Kubeflow
https://prow.k8s.io/command-help

[2018-02-26 22:06] foxish commented on #10
On K8s, we started with contrib first as testing ground. https://github.com/coreos/findowner was helpful in finding recent contributors and getting a set of reviewers and approvers for each level in the tree. I think k8s-ci-bot just needs write for reading owner files.

[2018-02-27 12:56] jlewi opened #17 "Add links to good first issue and help wanted"
Our docs for contributions should provide links for searching for all issues labeled with "help wanted" and/or "good first issue".

We'd like the search results to search across all repositories in the Kubeflow org.

[2018-02-27 18:43] chrisheecho commented on #12
Hi team, @texasmichelle and I worked on the [first iteration of the labels.](https://docs.google.com/spreadsheets/d/1u1jelEPca6-S8Ozcq4snDOBy4q4--J7Ois2YV59PNS4/edit?usp=sharing) Please take a look and review by next community meeting. would love to get feedback if you are interested

I've added comments access to everyone who have access to kubeflow-discuss@googlegroups.com

[2018-02-27 20:37] jlewi commented on #10
I found these great directions for the Kubernetes PR process.
https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#code-review-using-owners-files

The plugins were enabled so we can now do /approve, /assign, /lgtm etc..

blunderbuss is not enabled so we don't auto-suggest reviewers; that could be very useful for spreading the workload around.

Auto merging of code doesn

[2018-02-27 20:44] jlewi commented on #10
Here are some docs about automatic merge:
https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#the-testing-and-merge-workflow

We probably don't need that right now.

[2018-02-27 20:46] jlewi opened #18 "Document the PR workflow"
Some background in #10 .

We should document the PR workflow; e.g. how to assign reviewers/approvers etc...

As a starting point we can use the Kubernetes docs
https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#code-review-using-owners-files
https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#the-testing-and-merge-workflow

But we p

[2018-02-27 20:49] jlewi opened #19 "Enable blunderbuss plugin to automatically assign reviewers"
If we use Prow's blunderbuss plugin we should be able to automatically assign reviewers based on OWNERs files.

https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#the-code-review-process

This could be useful for spreading the review workload around and also ensuring PRs are handled in a timely fashion.

For more background see #10 .

[2018-02-27 20:49] jlewi commented on #10
We have opened up issues for follow on work.
So I'm closing this one.

[2018-02-27 20:49] #10 closed

[2018-02-28 01:06] jlewi opened #20 "Setup Automatic merge of PRs"
Setting up automatic merging of PRs should help velocity.

@DjangoPeng I think you said someone on your team has experience setting this up and can do it.

[2018-02-28 03:11] gaocegege commented on #12
@chrisheecho Thanks for your work, generally LGTM although I added some comments.

[2018-02-28 05:53] DjangoPeng commented on #20
Yep, we have rich experience on that.

@ddysher

[2018-02-28 06:00] DjangoPeng commented on #20
Yep, we could handle it.

[2018-02-28 15:06] jlewi opened #21 "Setup Documentation site"
Opening an issue to figure out what we want to do about a documentation site.

Do we want to use  GitHub pages?
https://help.github.com/articles/using-a-custom-domain-with-github-pages/

Are there alternatives?

[2018-02-28 15:57] ewilderj commented on #21
I'm very interested in the idea of using [Hugo](https://gohugo.io/) and checking the site into source control. It would provide for future scalability with [things like](https://gohugo.io/about/features/) localization (almost always near impossible to retrofit, and I think we want to have Chinese docs as well as English in the near future) without too much initial overhead, and the ultimate in por

[2018-03-01 03:20] jlewi opened #22 "Disable GitHub review requirement now that we rely on prow"
We are moving towards using OWNERS and Prow to ensure CLs are LGTM'd and approved.

Should we disable for our repositories the GitHub check that PRs are approved? It seems like that just forces users to /lgtm/approve requests twice.

[2018-03-01 03:20] jlewi commented on #22
/cc @ddysher @DjangoPeng @gaocegege

[2018-03-01 03:22] gaocegege commented on #22
SGTM

[2018-03-01 05:24] ddysher commented on #20
@jlewi what's the status of test infra?  to setup, we need to access test infra cluster and setup ingress rules

[2018-03-01 05:27] ddysher commented on #22
@jlewi with prow, we don't need github review requirement, but we want to make sure prow works well for us at first.

[2018-03-01 06:01] jlewi commented on #20
@ddysher We currently don't run our own instance of prow. We are using the instance of prow operated and maintained by the K8s test team.

Can/should we give the existing K8s test infra the necessary permissions to merge PRs for the kubeflow org?

We do have GCP projects setup running GKE clusters where we can run additional services if needed.
The project is `kubeflow-ci` and you should have acce

[2018-03-01 06:03] BenTheElder commented on #20
IIRC the bot needs write permissions to the repo to do merges, and then we just need to configure `tide` for this repo.

[2018-03-01 06:23] krzyzacy commented on #20
@jlewi you can add a query similar to https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L86-L95, or add your repo to an existing query, in our prow config

[2018-03-01 06:32] jlewi commented on #20
@krzyzacy Thanks. Do I need to specify individual repos or can I just specify the org and have it apply to all repos in the org?

[2018-03-01 06:43] krzyzacy commented on #20
I think you need to specify individual repos
cc @cjwagnar maybe we can enable an entire org in the future?

[2018-03-01 07:05] gaocegege commented on #17
I think https://github.com/issues?q=is%3Aopen+is%3Aissue+org%3Akubeflow+archived%3Afalse+label%3A%22good+first+issue%22 works for us.

[2018-03-01 07:18] DjangoPeng opened #23 "[Discussion] Is there any work on pytorch-operator."
In the latest kubeflow community meeting, we discussed the possibility of supporting PyTorch in kubeflow. The example of tf-operator shows one way to start pytorch-operator project.

First of all, we have established a channel called `pytorch-operator` on slack. Anyone who has interest could join in and discuss with other contributors.

Secondly, we should search for if there are some existing wor

[2018-03-01 13:06] jlewi commented on #23
There's an existing issue about PyTorch distributed training
kubeflow/kubeflow#179

I think a good first step for PyTorch support would be

- Provide Jupyter images with PyTorch
- Provide E2E examples using PyTorch in single distributed mode

There's a DockerFile for PyTorch here
https://github.com/pytorch/pytorch/blob/master/Dockerfile

[2018-03-01 18:10] jlewi opened #24 "Sync common labels to ever repository"
#12 defined common labels.

Now we want to automate the application of all those labels across our repositories.

Kubernetes uses this tool.
https://github.com/kubernetes/test-infra/tree/master/label_sync

[2018-03-01 18:11] jlewi commented on #12
LGTM.

Created #24 to actually sync the labels.

[2018-03-01 18:15] erikerlandson commented on #23
This might be a great vehicle to test-drive the kubeflow proposal workflow:

https://github.com/kubeflow/community/blob/master/proposal-workflow.md

[2018-03-01 22:32] jlewi commented on #20
/assign jlewi
/unassign DjangoPeng

[2018-03-01 22:32] jlewi commented on #20
/assign

[2018-03-01 22:33] jlewi commented on #20
@BenTheElder @krzyzacy @cjwagner

kubeflow/kubeflow#175 is listed as being in the tide pool but when I click the link
https://prow.k8s.io/tide

I don't actually see it in the tide pool. Does something else need to happen?

[2018-03-01 22:36] jlewi commented on #19
Looks like its working.
https://github.com/kubeflow/kubeflow/pull/323

@gaocegege and myself were automatically assigned.

[2018-03-01 22:45] krzyzacy commented on #20
/joke

[2018-03-01 22:51] krzyzacy commented on #20
/assign

[2018-03-01 22:52] krzyzacy commented on #20
hummm maybe because of reviewable is not green?
looks like it passed batch test
[code]

[2018-03-01 22:53] jlewi commented on #20
(I think k8s-ci bot may not have had write for kubeflow/community which is why previous commands in this PR didn't work)
/joke

[2018-03-01 22:53] BenTheElder commented on #20
@jlewi the page there has some latency. cc @cjwagner we should load the pools much more frequently

[2018-03-01 22:53] krzyzacy commented on #20
[code]

[2018-03-01 22:53] BenTheElder commented on #20
it's in the pool as WAIT now, you can see it on the page

[2018-03-01 22:53] BenTheElder commented on #20
er no, wrong PR :(

[2018-03-01 23:41] cjwagner commented on #20
I spun up a busybox pod and curled the tide endpoint that deck is complaining about. It looks like the offending JSON snippet is:
[code]

Is this a bug in the json library?

[2018-03-02 00:36] erikerlandson commented on #24
Is the goal to get the full cron automation like kube is running, or just run their bazel manually somewhere?

[2018-03-02 01:44] DjangoPeng commented on #23
SGTM.

The next mxnet-operator, caffe-operator and other ML frameworks could follow the workflow.

[2018-03-02 05:02] jlewi commented on #24
A one off run would be a huge step but it would be nice to eventually do it regularly.

[2018-03-02 05:08] jlewi commented on #20
@cjwagner We have Coveralls turned on for kubeflow/tf-operator but not kubeflow/kubeflow. Does this still explain why kubeflow/kubeflow#175 wasn't auto-merged.

[2018-03-02 05:32] jlewi commented on #20
This is working.
https://github.com/kubeflow/examples/pull/18#pullrequestreview-100679172

As @BenTheElder and @krzyzacy explained above it was the Reviewable status check not being green that was blocking the other PR. I'll change reviewable to not be a status check.

@BenTheElder @krzyzacy @cjwagner thank you so much for all your help this is awesome.

[2018-03-02 05:34] #20 closed

[2018-03-02 05:34] #19 closed

[2018-03-02 09:33] ddysher commented on #23
before we start creating too many operators, we can leverage the so call operator-kit to make implementation easier and consistent.

https://docs.google.com/document/d/1NJhFcNezJyLM952eaYVcdfIQFQYWsAx4oTaA82-Frdk/edit
https://github.com/giantswarm/operatorkit/
https://github.com/rook/operator-kit/

[2018-03-02 14:15] erikerlandson commented on #23
@ddysher +1
There might be other operator kits to choose from, for example
https://github.com/spotahome/kooper
A kit coming out of rook may eventually benefit from a larger community.

[2018-03-02 14:52] jlewi commented on #23
I think we should distinguish between distributed and non-distributed PyTorch.

I think non-distributed PyTorch might be a relatively low investment; its mostly about getting the right set of Dockerfiles and an example. PyTorch seems to be growing in popularity and this might be a good way to begin connecting our community with theirs.

Distributed training and an associated operator is a much big

[2018-03-02 14:58] jlewi commented on #22
@ddysher Agreed. I think the GitHub review status checks block auto-merge. So if we keep them on people need to approve twice (once with GitHub, once with prow) and possible a third time if Reviewable is enabled as a status check.

So my inclination is to start disabling the GitHub status checks so we can really experiment with the Prow workflow. We can always reenable them if need be.

But now th

[2018-03-02 14:59] jlewi commented on #21
/assign @ewilderj

@ewilderj Do you want to take this and figure out who should own it?

[2018-03-02 14:59] jlewi commented on #18
/assign jlewi

[2018-03-02 15:11] jlewi opened #26 "Setup Prow PR Dashboard"
The PR dashboard is a tool in prow that helps people manage their incoming/outgoing PRs.

We should look into setting this up for Kubeflow
https://github.com/kubernetes/test-infra/tree/master/gubernator#adding-a-repository-to-the-pr-dashboard

It looks like its straightforward. We just need to configure a webhook.

See here:
https://github.com/kubernetes/community/blob/master/contributors/guide/ow

[2018-03-02 15:27] erikerlandson commented on #23
@jlewi are you proposing an operator for standing up a non-distributed pytorch instance?

[2018-03-03 19:39] jlewi opened #28 "Do we need the status check "require branches to be up to date before merging""
We currently use the status check "Require branches to be up to date before merging"

I think this pretty much means as soon as one PR for a repository is merged every other PR for the repo needs to be resync'd.

This seems impractical and a major pain point.

I think we can probably drop this.

I'm guessing that if tide tries to merge a PR and there are conflicts it will fail?

I think the downsi

[2018-03-03 19:41] jlewi opened #29 "List participants"
We should have a page that lists all the companies/organization that are participating and contributing to Kubeflow.

Here's an initial list

CaiCloud,
Canonical,
CoreOS,
Google,
Project Jupyter,
Red Hat,
Seldon,
Weave,

/assign @aronchick

[2018-03-03 19:45] jlewi commented on #28
I disabled the check on kubeflow/kubeflow
Consider it an experiment.

[2018-03-03 19:46] jlewi commented on #26
I enabled the webhook for the Kubeflow org.
This is working and the PR dashboard is available at.
https://k8s-gubernator.appspot.com/pr

[2018-03-03 19:46] #26 closed

[2018-03-04 01:39] gaocegege commented on #29
http://stackalytics.com/?project_type=kubernetes-group&release=all&metric=commits

I think https://github.com/openstack/stackalytics is a good reference.

[2018-03-05 00:56] BenTheElder commented on #28
*our* presubmits always merge PRs into master locally when testing, and tide / prow should be aware of the commits supplied to the test jobs -- AFAIK we only merge if the latest commits were tested, but this does rely on your Prow jobs actually testing ht right commits.

[2018-03-05 13:39] gaocegege commented on #22
I think it is time to disable GitHub review feature now, since the bot works well in tf-operator

[2018-03-06 14:04] jlewi opened #31 "Document Repository Setup"
Now that we have multiple repositories in the GitHub org we should standardize and document how repositories should be configured.

Background
kubeflow/community#22
kubeflow/tf-operator#433

Some things to cover
* Setting up Prow and basic tests
* Per  kubeflow/community#22 we don't want GitHub to require pull request reviews because we will rely on prow and tide to merge PRs based on /lgtm & /app

[2018-03-06 19:02] jlewi commented on #23
@erikerlandson No. I think the motivation for a PyTorch operator is still unclear. I suspect non-distributed PyTorch covers a lot of use cases and we probably don't need an operator for that.

[2018-03-06 22:01] erikerlandson opened #32 "Consider integration for Lucid"
A tracking issue to discuss the idea of some integration with Google's Lucid project for visualizing neural networks:
https://opensource.googleblog.com/2018/03/the-building-blocks-of-interpretability.html

[2018-03-07 01:56] ddysher commented on #23
is operator only scoped to distributed environment?  being able to manage a fleet of machines uniformly for admins, and a consistent interface for developers also sounds like a pro for us?

[2018-03-07 12:33] gaocegege commented on #31
I think it should be in high priority since the docs in tf-operator is outdated and the users may be puzzled.

[2018-03-07 15:55] jlewi commented on #31
@gaocegege Which docs? Why would users be affected by repository configuration?

[2018-03-08 02:49] gaocegege commented on #31
@jlewi Not the config, I mean that the README in tf-operator is outdated. For example, we have no master now but the README is not updated. If we have docs repository we could put all docs in one repo and there is no consistency problem between different repos.

[2018-03-08 14:33] jlewi commented on #23
@ddysher An operator could make sense for other use cases. For example, Argo and Seldon Core are both operators/custom resources.

Can you provide more information about the use case you are describing?

[2018-03-08 14:45] jlewi commented on #23
@ddysher @erikerlandson I believe there is a K8s project coming out soon called kube-builder that is also supposed to solve the problem of making it easy to write APISever extensions and CRD.

I think they are just trying to figure out where to publish the code
https://groups.google.com//forum/#!topic/kubernetes-sig-api-machinery/xJnn062qF8E

[2018-03-08 14:55] erikerlandson commented on #23
@jlewi sounds like it is getting good community buy-in.

I'm a little confused by what it means to be forking an entire incubator project, and then finding a new home for it.  Does that mean `kubernetes-incubator/apiserver-builder` is being obsoleted?

[2018-03-08 18:28] jlewi opened #34 "DevStats to track velocity for Kubeflow"
Kubernetes has a great set of dashboards for velocity related metrics
https://k8s.devstats.cncf.io/d/44/time-metrics?orgId=1&var-period=w&var-repogroup_name=Kubernetes&var-repogroup=kubernetes&var-apichange=All&var-size_name=All&var-size=all&var-full_name=Kubernetes

There are dashboards for things like
PR time to LGTM
# approvers/# reviewers
https://k8s.devstats.cncf.io/d/38/reviewers?orgId=1

It

[2018-03-09 02:36] jose5918 opened #35 "Create kubeflow/experimental-pytorch"
Based on this proposal https://github.com/kubeflow/community/pull/33, we would like to create a repository to start working/experimenting with a pytorch operator.

[2018-03-09 02:40] gaocegege commented on #35
I think we could create kubeflow/pytorch-operator, then we don't need to update the name of the repo in the future.

[2018-03-09 17:47] jose5918 commented on #35
Yeah either way sounds good to me. I just used this name for the issue because it was suggested on the proposal

[2018-03-09 18:57] jlewi commented on #35
Created kubeflow/pytorch-operator.
@jose5918 I gave you admin access so you should be able to set it up.

Can you please set up the repo? As part of the repo can you create a doc covering the process of setting up a new repository kubeflow/community#31

Can you also make it abundantly clear in the README.md that its an experimental repo.

[2018-03-09 22:08] jose5918 commented on #35
Sure I will do that and make sure people are aware it's experimental

[2018-03-12 20:38] texasmichelle commented on #12
@chrisheecho have we memorialized this list anywhere yet? Perhaps CONTRIBUTING.md in either [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/blob/master/CONTRIBUTING.md) or [kubeflow/community](https://github.com/kubeflow/community/blob/master/contributing.md) would be a good place. I'll submit a PR using the Sheets doc if you haven't put them somewhere else.

[2018-03-12 20:43] chrisheecho commented on #12
Yes that sounds good. Frankly I didn't know we had to do that. Sgtm do what
you gotta do

On Mon, 12 Mar 2018, 8:38 pm Michelle Casbon, <notifications@github.com>
wrote:

[2018-03-12 21:26] texasmichelle commented on #12
Better to commit a markdown file to the repo instead of relying on a link to a Sheets doc buried in a closed issue.

[2018-03-12 22:55] texasmichelle commented on #17
Annoyingly, search does not support boolean OR, so I included separate links for each of the existing labels, as well as the new starter label.

[2018-03-12 23:35] chrisheecho commented on #12
great. if you are busy with your GH issue stuff I can do this too just lmk

On Mon, Mar 12, 2018 at 9:26 PM Michelle Casbon <notifications@github.com>
wrote:

[2018-03-13 01:07] texasmichelle commented on #12
It's cool - the PR is ready to merge

[2018-03-13 02:20] #17 closed

[2018-03-13 23:47] texasmichelle commented on #12
As @jlewi pointed out on today's community call, `help wanted` and `good first issue` are [GitHub-wide guidelines](https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/), so it makes sense to remove `starter` in favor of these. My preference is to choose one of them,  so unless anyone really wants both, I'll create a PR with `good first issue`.

[2018-03-14 19:32] chrisheecho commented on #12
Sgtm!

On Tue, 13 Mar 2018, 11:47 pm Michelle Casbon, <notifications@github.com>
wrote:

[2018-03-14 23:49] jose5918 commented on #31
I'll take this since I just started the process of setting up the PyTorch repo

[2018-03-18 17:16] #12 closed

[2018-03-20 03:58] gaocegege commented on #35
I think we could close the issue now.

[2018-03-20 04:01] gaocegege opened #43 "[Repository Reuqest] Create kubeflow/caffe2-operator"
We have a design proposal https://github.com/kubeflow/community/pull/41 for caffe2 support thanks to @carmark And he implemented a POC for the new operator. I think it is time to create the repo kubeflow/caffe2-operator and keep things going on simultaneously.

/cc @jlewi

@carmark Does the name work for you?

[2018-03-20 04:04] carmark commented on #43
Yeah, that's great.

[2018-03-20 13:14] #35 closed

[2018-03-20 13:15] jlewi commented on #31
/assign @jose5918

[2018-03-20 13:22] jlewi commented on #43
I created the repository.
I created the GitHub team caffe2-team and gave it write access.
@carmark I sent you an invite to add you to the team. I'll make you a maintainer so you can add other people.

I think we can close this issue after filing a separate issue to properly setup the caffe2-operator repository; see #31.

[2018-03-20 13:53] jlewi commented on #23
@erikerlandson Don't know.
Looks like its been published here:
https://github.com/kubernetes-sigs/kubebuilder

[2018-03-20 13:54] jlewi commented on #23
The repo for pytorch has been created:
https://github.com/kubeflow/pytorch-operator

Closing this issue.

[2018-03-20 13:54] #23 closed

[2018-03-20 18:26] jose5918 commented on #31
Still working on it https://github.com/kubeflow/testing/issues/72, but will finish documenting once I get through all the rough spots and actually have a fully set up repo.

[2018-03-20 20:23] inc0 opened #44 "JupyterLab plugin for tf-operator"
I'm looking at creating plugin to jupyterlab to communicate with underlying tf-operator and allow to easily manage running notebook-developed models in distributed tf.

Anyone looked at this or have feedback? Pointers/ideas most welcome.

[2018-03-21 17:34] ewilderj commented on #21
cc @nickchase for discussion

[2018-03-22 06:18] gaocegege commented on #44
Hi, I think it is an interesting idea! Could you explain more about it? And we are implementing the v1alpha2 API for tf-operator and I think you could use v1alpha2 directly.

[2018-03-22 15:13] inc0 commented on #44
Yeah I'll be aiming for v1alpha2. I'll start working on some PoC so we will have something to talk about:)

[2018-03-22 16:51] jlewi commented on #44
How would a plug-in differ from

- A python client library
- A CLI
- The existing TFJobs Ui
- Cell magic

What's the motivation/value of coupling to Jupyter?

[2018-03-22 18:26] inc0 commented on #44
I was thinking of set of widgets to run what you develop in jupyter on distributed. With CLI you could export python code and run it, that's additional steps. I'd like to use fact that pods have access to underlying k8s so people will be able to spawn jobs etc with no additional configuration from their part. We can do something similar if we'd have CLI and use terminal in jupyter, and we'll have

[2018-03-22 21:28] jlewi commented on #44
Cell magic are "%%" and "%" commands in Jupyter
https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

[2018-03-22 21:30] jlewi commented on #11
Duplicate of #34

[2018-03-22 21:30] #11 closed

[2018-03-22 21:32] jlewi commented on #34
Here's the code behind that
https://github.com/cncf/devstats

[2018-03-23 01:59] ScorpioCPH commented on #34
@jlewi That's great!

[2018-03-23 02:08] gaocegege commented on #34
That is awesome!

[2018-03-23 17:18] inc0 commented on #44
Ah that thing. So it's going to be less about cells and display and more about control of underlying infra.

[2018-03-26 13:38] jlewi opened #47 "Spartakus metrics include Kubeflow version information"
We should include information about which version of Kubeflow is deployed

[2018-03-26 16:49] jlewi opened #48 "Create dashboard of ksonnet registry clones"
Every time someone creates a ksonnet app that uses our GitHub registry they issue a GitHub request to pull down our components.

This would be a great metric to collect since it would provide a number of the ksonnet apps using our registry.

Does GitHub expose these metrics?

/cc @chrisheecho

[2018-03-26 16:52] jlewi commented on #48
Looks like this data is available here
https://github.com/kubeflow/kubeflow/graphs/traffic

Which has a bunch of useful information.

[2018-03-28 17:08] jlewi opened #49 "Go Program to manage membership in Google Groups base don YAML file"
A lot of our test/release infrastructure uses GCP in the kubeflow.org domain.

Right now we use a variety of Google groups to maintain ACLs. This doesn't provide a lot of visibility or auditability into who has what permissions.

It might be nice if ACLs could be maintained in GitHub and then sync'd to Google Cloud Directory sync
https://support.google.com/a/answer/106368

to assign various permis

[2018-03-29 01:12] #16 closed

[2018-03-29 03:06] #43 closed

[2018-03-29 17:34] elsonrodriguez opened #50 "[Repository Request] `experimental-beagle`: A CRD-based experiment tracking API"
We'd like to work on a POC for a k8s-native experiment tracking system, and need a repository to house the work.

[2018-03-29 21:21] jlewi commented on #50
Created the repository.

Intel has write access.

[2018-04-02 13:41] jlewi opened #51 "Bulk relabel issues to move between projects"
It would be convenient if we had a way to bulk relabel issues.

Example: Move all remaining open issues in 0.1 project into the 0.2 project.

We should be able to create a script to do this pretty easily using the GitHub API.

[2018-04-02 18:39] jlewi commented on #48
/assign @chrisheecho

[2018-04-03 13:06] YujiOshima opened #53 "[Repository Reuqest] Create kubeflow/hyperparameter-tuning"
We have been discussing hyperparameter tuning https://github.com/kubeflow/tf-operator/issues/112 .
I have developed a parameter tuning system integrated with kubernetes [here](https://github.com/mlkube/katib).
To improve it and more integrate with kubeflow with the community, I would like to host this code under kubeflow.
/cc @jlewi @gaocegege

[2018-04-03 16:04] ewilderj commented on #21
Nick and I are making progress and are assembling team, putting together a backlog
Working doc is https://docs.google.com/document/d/1XUGnLVCyqVLN62VWqk-o_FLhRU1L4b7VRcwP8QgFst4/edit#

[2018-04-03 17:05] jlewi commented on #53
How about we shorten the repo name to hp-tuning?

[2018-04-03 17:33] YujiOshima commented on #53
@jlewi Great! Thank you so much.
And thank you for the information.
I will set up the repository.

[2018-04-03 17:33] YujiOshima commented on #53
And I will close this issue when the setup is completed.

[2018-04-03 19:41] jlewi commented on #53
Great thank you.

[2018-04-04 11:28] jlewi commented on #31
Some additional things we should document [here](https://github.com/kubeflow/community/issues/53#issuecomment-378329912)

[2018-04-04 17:55] jlewi opened #55 "Use peribolos(prow/source contro)l to manage Kubeflow org members"
It would be great if we could manage Kubeflow org members using a file checked into source control as the source of truth. So adding a member would go through no more code review process and not require
any elevated permissions.

We could then have a bot which would automatically sync that list using the GitHub API.
https://developer.github.com/v3/orgs/members/#add-or-update-organization-membershi

[2018-04-05 14:51] ewilderj opened #56 "Create web site repo and team"
Could we set up a repo `website` for the Kubeflow web site, and accompanying team on Github to coordinate around it. Myself and @nickchase would happily act as admins on this.

ref #21

[2018-04-05 16:10] inc0 commented on #56
/me raises hand to join!

[2018-04-05 16:53] jlewi opened #57 "Create CSV/Yaml directory in kubeflow/community"
I propose we use a csv file in kubeflow/community to list
  - First Name
  - Last Name
  - GitHub id
  - Slack Id
  - Email (preferably corporate)

This would be entirely opt-in and users could provide a subset of information.

I think this would serve two benefits
  - Short term help folks map user ids across different systems
  - Eventually be used to manage other permissions (e.g. membership in

[2018-04-05 19:38] kunmingg commented on #24
@jlewi
label sync k8s job for kubeflow org is created.
Below is sample action logs from dry run against repo: community.
If looks good I'll schedule cron job to sync all repos.

[code]

[2018-04-05 21:35] jlewi commented on #55
@fejta mentioned he's been thinking about this.

/cc @BenTheElder @cjwagner

[2018-04-05 21:36] jlewi commented on #49
@fejta FYI

[2018-04-05 21:37] jlewi commented on #24
lgtm

[2018-04-05 22:15] BenTheElder commented on #55
adding from the discussion that we're quite interested in this but don't have anything yet, @fejta is drafting a proposal

[2018-04-05 23:48] kunmingg commented on #24
All repos are synced, following config:
https://github.com/kubeflow/testing/blob/master/label_sync/kubeflow_label.yml

[2018-04-06 05:59] mhausenblas commented on #47
Agreed and please assign this issue to me @jlewi

[2018-04-06 06:02] jlewi commented on #24
Fantastic.

When we create new repositories do we need to configure them to be sync'd? If so we should document that in

https://github.com/kubeflow/community/blob/master/repository-setup.md

Also is there documentation somewhere about how our label sync is configured? e.g. the bot used where it runs etc...?

i.e. all the information someone would need to debug/fix it?

[2018-04-06 06:14] jlewi commented on #56
I created the repository. Edd I made you and Admin.
You should create an owners file so that Prow can handle issues.

Are you sure @nickchase is the right id? Doesn't look like he's a member of the org.

I didn't create a GitHub team because  access to the repo can be administered via the OWNERs files.

[2018-04-06 06:14] #56 closed

[2018-04-06 16:56] ewilderj commented on #57
Maybe company name as well?

[2018-04-06 17:37] kunmingg commented on #24
New repos will be automatically synced, like within a day since creation.
Will give another PR including label_sync cron job config.

[2018-04-06 19:51] aronchick commented on #57
WFM!

[2018-04-07 17:26] kunmingg commented on #24
We had an action: "do-not-merge/work-in-progress" -> "status/in progress", which might cause prow merge uncompleted PR.
One false positive merge here: https://github.com/kubeflow/community/pull/41#issuecomment-379425033

Affected repos (might merge PR incomplete):
[code]
Those repos are not affected due to bot user's lack of permission (include our most active repos):
[code]

[2018-04-07 18:44] jlewi commented on #24
I checked kubeflow/testing - it looks like we haven't given write access to the team ci-bots instead we gave direct access to the user k8s-ci-robot. We will need to change that so those other repos are sync'd as well.

But we should wait until issues with the label sync are fixed?

Can we disable the cron job until the issues with the labels are fixed?

[2018-04-08 00:06] #57 closed

[2018-04-09 17:11] jlewi commented on #48
@chrisheecho Did you have a chance to look into this? Do you think we will get this done this week?

[2018-04-09 18:17] ewilderj opened #60 "Slack channels not being archived"
Until we're in a foundation, paying for Slack is too expensive, so we're currently losing the ability to search all of our history.

All the public archiving options (slackarchive.io, Slark) are not maintained any more.

Solutions include: transition to a FOSS solution such as Rocket Chat, write a bot to archive and provide search facilities (there are some ones that exist, but we'd need a volunte

[2018-04-10 16:55] jlewi commented on #55
If anyone wanted to take a crack at this I think a simple POC would be a go program that

1. Lists ORG members via GitHub API
1. Compares list to members in YAML file
1. Makes GitHub API requests to send invites.

Would be fairly easy to run that as a cron job and that would make administering Kubeflow much easier.

[2018-04-10 16:59] jlewi opened #61 "Spartakus metrics; histogram of Kubeflow deployment age"
Our spartakus metrics give us daily pings from each Kubeflow deployment that opted in.

Currently we plot the number of unique pings per day. I'd like to get a break down of the age of each cluster on a given day. We should be able to compute this by looking at the elapsed time since the first ping for a given UUID.

It would be great if we could plot this as a stacked bar graph so we could get a

[2018-04-10 22:25] ewilderj commented on #21
Web site repo is now created, looking for people to be part of the team.

Other news:

I spoke with the design team at EggsandRice, the agency Google Cloud uses. We asked for a design that could work for Kubecon and beyond.

The optimal path probably lies along using a Hugo theme that we like, or proposing several, and they would provide customization to that with things that fit the colors, fonts

[2018-04-10 22:34] kunmingg commented on #24
@jlewi https://github.com/kubeflow/testing/pull/104 merged, can we update permission for kubeflow-bot?

[2018-04-10 22:57] fejta commented on #55
I would like this to be part of prow and to extend https://docs.google.com/document/d/1pFBfpZKUWlEbWBOdUpJLDF9Arg2rSvNSQQi6zhuHVb4/edit to support this (join https://groups.google.com/forum/#!forum/kubernetes-dev for access)

[2018-04-12 20:59] jlewi commented on #24
@kunmingg Which repos are currently sync'd using the latest code? When was the sync turned on? It would be good to verify everything looks good on those repos first.

[2018-04-13 18:16] jlewi commented on #48
@chrisheecho Any progress on this?

[2018-04-14 02:49] gaocegege opened #69 "[memebers] Keep sorted by company name"
We have comments about the order in [members.yaml](https://github.com/kubeflow/community/blob/master/members.yaml#L5) but not in member_organizations.yaml.

[2018-04-16 06:47] ddysher commented on #53
The repository is named "hp-tunning" but the system is named "katib", should we rename the system to katib?

@YujiOshima @jlewi

[2018-04-16 13:05] gaocegege commented on #53
I think katib is a good name for the repo. And we could add hyperparameter tuning as a label for the repo.

[2018-04-16 13:59] chrisheecho commented on #48
have not had a chance to look at this please leave it with me for next sprint.

On a separate note do you need to be an owner to review this link? https://github.com/kubeflow/kubeflow/graphs/traffic I just get routed to the regular list of repo page. Perhaps I have permission issues here?

[2018-04-16 17:03] kunmingg commented on #24
@jlewi all reops except:
[code]
The sync cron job start since last Thursday.

[2018-04-16 17:14] jlewi commented on #48
Not sure what the permission model is. Is the traffic data accessible via API? The dashboard only shows me a couple ~2 weeks of data.

[2018-04-16 17:16] jlewi commented on #48
https://developer.github.com/v3/repos/traffic/

Looks like it only provides last 14 days. Might be good to sync it to a database (BigQuery) so we can preserve longer times. I wonder if someone has already written such a sync.

[2018-04-17 05:37] #69 closed

[2018-04-18 06:40] jlewi commented on #34
@lukaszgryglicki I created a postgres database and I ran gha2db to load the data from my repo into it.

Is it possible to run a simple query e.g dump a time series of number of PRs per day? I tried using runq to run some of the sql files in util_sql/top_unknowns but I'm not sure what arguments to provide and I keep getting segfaults.

[2018-04-18 06:55] lukaszgryglicki commented on #34
First you need to run query in `psql`.
To count commits/day you can count push events
See `gha_events` table.
Select type = 'PushEvent' and group by `created_at`

util_sql/top_unknowns.sql contains "macros":
- {{ago}}
- {{lim}}

So to run it, you must provide replacements.
Correct command would be for example:
- `PG_PASS=your_password PG_DB=dbname ./runq util_sql/top_unknowns.sql {{ago}} '1 month'

[2018-04-18 09:27] lukaszgryglicki commented on #34
BTW: computed time series are in the `influx` database.
Postgres database contains all data that I can get from GitHub archives (GHA).

[2018-04-18 12:32] lukaszgryglicki commented on #34
So I have a green light to setup DevStats instance for Kubeflow (and to create good documentation during doing so).
All I need now is a root access to some server where I can set up everything.
After I set up everything you change the root password and/or remove my SSH access keys so I cannot use it anymore.

@jlewi

[2018-04-18 12:37] jlewi commented on #34
That's fantastic. If you send me the email associated with your google account; I can give you access to the GKE cluster and GCP project where we'd like to deploy this.

[2018-04-18 12:40] lukaszgryglicki commented on #34
lgryglicki@cncf.io
I wa sthinking about bare metal server.
I have no knowledge (yet) how to deploy stuff on the cluster.
You can talk with me on slack or skype: "lukaszgryglicki"

[2018-04-18 12:40] jlewi commented on #34
We used to run postgres on K8s for Airflow. This is how we did

1. Instructions for creating a [PD](https://github.com/kubeflow/tf-operator/blob/e2b13e09c6cab08ae9b990f6e7f05826ac02e567/test/test-infra/airflow/README.md#one-time-setup)
1. [K8s Deployment](https://github.com/kubeflow/tf-operator/blob/e2b13e09c6cab08ae9b990f6e7f05826ac02e567/test/test-infra/airflow/deployment.yaml) to deploy postgre

[2018-04-18 12:41] jlewi commented on #34
Which slack channel? (We use kubeflow.slack.com)

[2018-04-18 12:42] lukaszgryglicki commented on #34
Kubernetes then #devstats - you can pm me.

[2018-04-18 13:19] jlewi commented on #34
So here's my guess of what we need to do

1. Create PD's for postgres and influx DBs
1. Create a Deployment for postgres
1. Create a Deployment for influx DB
1. Create a Docker image with Devstats code
1. Create K8s jobs to run the devstats scripts
   - structure  to setup postgres DB
   - ./grafana/influxdb_setup.sh to setup ingress db
  - gha2b to load the data into postgres
1. A deployment for

[2018-04-18 13:24] lukaszgryglicki commented on #34
I can't probably help with that :-(
We already discussed this on DevStats repo and it was decided that I shouldn't work on porting DevStats to K8s yet.
@jberkus started some work about this, I can only help with bare metal deployment.

If you are interested in this, there are tiny packets servers that will be able to handle that.
Unless @dankohn want me to dive into K8s porting.

[2018-04-18 13:27] jlewi commented on #34
No problem. Thanks for all the great work on devstats; looks fantastic.

[2018-04-18 13:29] lukaszgryglicki commented on #34
For k8s you can ask @jberkus for bare metal - I can create the instance for you, for me helping with k8s version of devstats - I need a green light from @dankohn.

[2018-04-18 13:31] jlewi commented on #34
@lukaszgryglicki does the outline provided above make sense though? Was there anything obvious I missed.

Thanks for the offer. I think I'd prefer to deploy it on K8s even if that means setting it up ourselves. I think longer term that will be easier to manage and I don't think it will be that hard to convert to K8s.

[2018-04-18 13:39] lukaszgryglicki commented on #34
My knowledge about K8s deployments is quite limited by I can see the following componentes:
- One grafana instance per project (N pods)
- One postgres database per project + logs instance (N + 1 pods) (it will also have cron jobs for DB backups)
- One influx instance per project (N pods)
- One or N instances of devstats tools (why? we can either have one running all sync jobs one after another, ju

[2018-04-18 13:54] jlewi commented on #34
Do we need to run some binary regularly to execute the queries and load the data into influxdb? Is this handled by the [devstats binary](https://github.com/cncf/devstats/blob/master/cmd/devstats/devstats.go)

[2018-04-18 13:56] lukaszgryglicki commented on #34
`devstats` binary calls all other binaries correctly, actually this is all that it does.
All other binaries are here to allow the user to execute parts of the workflow manually or in the special mode.
Most of the switches are described in `context.go` and all binaries are listed in `Makefile`.

[2018-04-18 13:59] lukaszgryglicki commented on #34
Binaries that are called by `devstats` are:
- `structure`
- `gha2db`
- `db2influx`
- `z2influx`
- `gha2db_sync`
- `annotations`
- `idb_tags`
- `get_repos`
- `ghapi2db`
Some other binaries that can be used manually, but are not called by `devstats`:
- `runq`
- `import_affs`
- `idb_backup`
- `webhook`
- `merge_pdbs`
- `idb_vars`
- `replacer`
- `pdb_vars`
- `idb_tst`
- `sqlitedb`

[2018-04-18 14:01] jlewi commented on #34
Will devstats create the database's if they don't already exist? If not is there an option to automatically run the setup scripts that will create the DBs but only if they exist?

Can we just start devstats and leave it running in order to periodically get the latest data? Or do we need to invoke it from a cron job?

[2018-04-18 14:07] lukaszgryglicki commented on #34
- Devstats will not create the database, initial setup is described in ADDING_NEW_PROJECT.md
- If there are no databases at all, automatic deploy scripts will currently fail, they're added after we had - say 15-16 projects out of current 22.
- I've worked today on automatic deploy on ARMv8 but this work is not yet ready.
- So currently the situation is that if we already have some projects, we can

[2018-04-18 14:23] DjangoPeng opened #89 "Do we have a interest in LF Deep Learning Foundation"
As we all know, *Kubeflow is an open, community driven project to make it easy to deploy and manage an ML stack on Kubernetes.*

Actually, it's an organic combination of ML and Cloud-native community. Recently [the Linux Foundation launches a Deep Learning Foundation](https://techcrunch.com/2018/03/26/the-linux-foundation-launches-a-deep-learning-foundation/).

I think it's open to discuss do we h

[2018-04-18 14:45] gaocegege commented on #89
I think it is a good place for kubeflow, but I am not sure if the community wants to be a member of one foundation.

[2018-04-18 14:51] ddysher commented on #89
I thought the original plan is to work with CNCF?

/cc @aronchick

[2018-04-19 00:32] jlewi commented on #24
So the remaining repos are

- kubeflow/kubeflow
- kubeflow/tf-operator
- kubeflow/testing
- kubeflow/example-seldon
- kubeflow/experimental-kvc
- kubeflow/website

@kunmingg all of the following repos should be writable by the cibots
- kubeflow/testing
- kubeflow/example-seldon
- kubeflow/experimental-kvc
- kubeflow/website

Lets enable the label sync on those repos so the only remaining repos are

[2018-04-19 00:43] kunmingg commented on #24
@jlewi Currently bot doesn't have write access to
[code]
Need to update permission.

[2018-04-19 05:43] jlewi commented on #34
@lukaszgryglicki @jberkus so I have devstats running and I'm definitely getting data into the postgress database. I'm not sure though if data is making into influx though. Any suggestion how to test?

I'm a little confused about how to setup grafana. I looked at the instructions [here](https://github.com/cncf/devstats/blob/master/INSTALL_UBUNTU17.md) but its not clear to me how we configure GRAFAN

[2018-04-19 05:58] lukaszgryglicki commented on #34
You can SSH into Influx container and see.
Locally this is done via:
- `influx -host localhost -username gha_admin -password ... -database gha`.
And the for example:
- `show series` or `select * from annotations`.

I've just Installed Ubuntu 18.04-beta.2 in the VirtualBox and will be testing automatic deploy when there is no single database set up yet.

Grafana requires apache to proxy https. Http

[2018-04-19 12:39] jlewi commented on #34
Thanks.

I think for K8s (and possibly non K8s deployments) it would be helpful to have two scripts (one for postgres and one for influxdb) that I could run on startup that would check whether each database was initialized and if not initialize it. This would eliminate the manual steps right now.

[2018-04-19 13:13] jlewi commented on #24
I checked

kubeflow/testing had read access; changed it to write

The ci-bots for the following repos already look like they have write access
kubeflow/example-seldon
kubeflow/experimental-kvc
kubeflow/website

Is the script returning errors?
Can you try rerunning it?

[2018-04-19 13:14] jlewi commented on #89
I don't think we've put much thought into the particular organization we should join. I think its TBD by the community.

[2018-04-19 13:36] jlewi commented on #34
@lukaszgryglicki How do I backfill influxdb? I'm only seeing time series data from 04/16 onwards. I think this is because I originally ran devstats with projects.yaml configured to a start date of 04/14. I backfilled  the postgres database by running gha2db.

[2018-04-19 13:53] jlewi commented on #49
Managing everyone's membership in the corresponding Google Groups is becoming a real blocker.

It would be great to make progress on this by having a simple go program that does the following

1. Read a YAML file that lists google groups and for each group a list of members
1. Use the [Google Groups API](https://developers.google.com/admin-sdk/directory/v1/reference/members/insert) to add/remove m

[2018-04-19 14:15] lukaszgryglicki commented on #34
I would use `shared/reinit.sh` script.

[2018-04-19 17:01] jlewi commented on #53
SGTM. Should we consider it decided?

[2018-04-19 17:01] jlewi commented on #53
@YujiOshima You're the leading developer of katib and its your contribution; so I suggest you make the final decision.

[2018-04-19 17:32] YujiOshima commented on #53
Thank you @jlewi .
Ofcource, I like the name. Let's rename the repo to katib.

[2018-04-19 18:02] jlewi commented on #34
Using reinit.sh worked. The time series data is complete.

[2018-04-19 18:07] jberkus commented on #34
@jlewi realistically I won't be looking at the kube deployment until after KubeCon and Red Hat Summit, mid-May.  At that point I'll be happy to pitch in on whatever you've started.

Database initialization really isn't hard, you just tie creating a database directory (initdb for postgres) together with creating the empty database.   That way if the database is started you can assume it's also read

[2018-04-19 18:18] kunmingg commented on #24
You are right, now bot can edit those 4 repos.
Cronjob now start to include these 4 repos, and will execute every 4 hours.

[2018-04-19 18:29] lukaszgryglicki commented on #34
Actually, Grafana ran in a container some time ag in DevStats.
there are container builds of Grafana AFAIK.
I've added new installation doc, that describes how to set up projects just from the point when there are no databases yet.
This is just a single command call with many ENV variables set.
It finally worked from really zero to full deployment of two projects on a VirtualBox and Ubuntu 18.04-b

[2018-04-19 18:56] jlewi commented on #53
Done.

Is there any more work to be done for the issue or can we close it?

[2018-04-19 19:44] kkasravi commented on #49
@jlewi could this be in scope for a delegation phase in bootstrapper? After the cluster roles are defined and the auth provider is configured then the org/group/members are bound. When creating kubeflow.org we would define a yaml that would be part of the org/group/member phase. Thoughts? I could pick this up and do the simple implementation - but also integrate into the delegation pipeline. Thoug

[2018-04-19 20:19] lukaszgryglicki commented on #34
No other data sets.
You should ssh into the container with Influx and just do show series/few selects there
You can take Grafana's dashboards to see the actual query to the Influx DB and then try to do it manually.
Really no idea what happened, I would say that you don't have data in the influx instance or maybe some permissions issue....

[2018-04-19 20:29] jlewi commented on #34
Thanks. So here's the activity query from Grafana

[code]

It looks like this query is parameterized by fields that are settable via Grafana. Do you know if there's an easy way to get the actual query for a given set of UI settings?

[2018-04-19 21:16] jlewi commented on #34
Looks like I'm missing repo_group_activity

[code]

[2018-04-19 23:28] jlewi commented on #34
So it looks like one problem is that gha_repos is empty.

I ran the following query to update that table

[code]

I'll file a bug to run it periodically.

[2018-04-19 23:33] jlewi opened #102 "[Devstats] periodically update the gha_repos table to pick up new repositories"
See this [comment in #34](https://github.com/kubeflow/community/issues/34#issuecomment-382911861)

Database gha has a table gha_repos that has a list of all the Kubeflow repos. This table is used by various dashboards to group metrics.

We need to run this query periodically (e.g. cron job) to keep the table updated as new repositories are created in the org.

devstats has the binary runq.
We shou

[2018-04-19 23:35] jlewi commented on #34
I reran devstats and now influx db shows the following time series

[code]

[2018-04-19 23:46] jlewi commented on #34
Looks like a bunch of data is still missing
[code]

Lets try rerunning shared/reinit.sh

Note: Running reinit.sh complains about missing ` 'open ./metrics/shared/idb_vars.yaml: no such file or directory'

I just created an empty file and that seemed to work.

[2018-04-19 23:48] jlewi commented on #34
So the timeseries now looks to have all the data.

[code]

[2018-04-19 23:49] jlewi commented on #34
Grafana is complaing

[code]

[2018-04-19 23:52] YujiOshima commented on #53
Thank you!
I think setting up repository has been completed.
We can close this issue.

[2018-04-19 23:52] #53 closed

[2018-04-20 00:32] jlewi commented on #34
I manually edited the influxdb query in Grafana to be

[code]

That worked.

So the problem appears to be that Grafana isn't properly updating

[2018-04-20 00:37] jlewi commented on #48
I thought about this more the fact that the number of unique cloners is approximately 30 per day seems suspiciously high to me.

I think most of this is coming from our test infrastructure via [checkoust.sh](https://github.com/kubeflow/testing/blob/master/images/checkout.sh#L25)

i.e. our CI system clones the source via https. I thought we were using GITHUB_ID which would have dedupped the clones.

[2018-04-20 00:38] jlewi commented on #48
The bootstrapper will also undercut these metrics since we plan on baking in the repo into the bootstraper.
Of course we should be able to measure bootstraper image pulls.

[2018-04-20 03:10] jlewi commented on #49
@kkasravi This isn't for use by Kubeflow users. This is solely for use by us to manage our test and release infrastructure; so it shouldn't be part of the bootstrapper.

[2018-04-20 03:59] jlewi commented on #34
So it looks like the problem was that the dashboards are using [Grafana variables](http://docs.grafana.org/reference/templating/) whose value is supposed to be populated from influxdb. But when I imported the dashboards I must set the data source incorrectly because it was trying to read the data from the postgre data which didn't work as a result I was getting the error "template variables could

[2018-04-20 04:00] jlewi commented on #34
@jberkus @lukaszgryglicki Is there a script I can use to create dashboards from all the json files in a directory? If the dashboards already exist I'd like them to be overwriten.

[2018-04-20 04:04] jlewi commented on #34
See grafana/grafana#10052

Looks like we can configure Grafana to load dashboards from a directory.

[2018-04-20 04:15] jlewi commented on #34
Found some helpful [instructions](https://github.com/aerogear/proposals/blob/dac71073deaa442727c4989f028a15e66aee88f1/metrics/prometheus-metrics-endpoints-and-auto-discovery.md#default-visualisations) about how to configure Grafana to load dashboards from files in conjuction with a config map.

[2018-04-20 05:46] lukaszgryglicki commented on #34
In my case, I was copying grafana.db file from the test server to another server.
And then I could update dashboards using `cmd/sqlitedb` tool.
See scripts: in `devel/*sqlite*`
Unfortunately, `sqlitedb` tool cannot import new JSONs atm, it only supports updating.
I'll try to add such a feature.

Postgres variables are created by `pdb_vars` tool (see `devel/pdb_vars_all.sh`), Influx variables are c

[2018-04-20 06:29] jlewi opened #106 "[Devstats] Figure out how to expose the dashboards publicly"
In #34 we set up cncf/devstats.  We should expose them publicly so that everyone can see them.

I think to do that we need to

1. enable anonymous access
1. Change the admin account so we don't use username and password and check in the password into source control
    It supports OAuth so that might be one solution; although that might entail also setting up https.

[2018-04-20 13:13] jlewi commented on #34
Thanks.  I ended up configuring Grafana to load dashaboards from files. I store the dashboards in a config map so its super easy to update them (just ks apply).

/cc @jberkus

[2018-04-20 13:15] jlewi opened #109 "[Devstats] Stats about reviewers; #LGTMs, #Reviews, #approves"
See #34

We'd like dashboards to show thinks like # of prs reviewed/approved by different reviewers and eventually participating organizations.

We need these stats because spreading the review workload around is going to be critical to our velocity.

We are working on using cncf/devstats and some of the initial dashboards that we copied from Kubernetes should provide some of these metrics. But ri

[2018-04-20 13:27] gaocegege commented on #106
Could we just create a nodeport service for the Grafana?

[2018-04-20 15:08] jlewi opened #110 "[Devstats] Add markdown explanations for dashboards"
See this [comment](https://github.com/cncf/devstats/issues/74#issuecomment-373028565).

Its possible to define markdown docs and then include those markdown docs in the Grafana dashboards. We should create markdown docs to provide dashboards that need explanation.

For example, on project statics table we should provide a definition of how contributor is defined. (Possibly by linking to the SQL qu

[2018-04-20 15:14] jlewi commented on #106
I don't think the problem is setting up ingress to make the service accessible from outside the cluster. I think the problem is how to do that while only giving read only permissions to users. Right now I think if we expose it publicly anyone who knew the admin account and password would be able to login as admin and change things.

Right now we are still using the default admin account and passwo

[2018-04-20 15:26] lukaszgryglicki commented on #34
OK great.

[2018-04-20 15:29] lukaszgryglicki commented on #106
All our projects allow anonymous access (read-only).
There is an admin user that I can use, but it's not available outside.

[2018-04-21 00:05] jlewi commented on #106
@lukaszgryglicki How do you prevent the admin user from being accessible outside?

[2018-04-21 04:39] lukaszgryglicki commented on #106
Every script in deploy/* requires passing at least two env variables:
Postgres password: PG_PASS=...
Influx pass: IDB_PASS=...
There are more *_PASS variables used in some cases, for example for `ro_user` or `devstats_team`.

[2018-04-23 12:06] jlewi commented on #24
@kunmingg Everything looking good? If so lets enable label sync on the remaining repositories.

[2018-04-23 16:33] kunmingg commented on #24
@jlewi looks good, please go ahead.

[2018-04-23 16:50] lukaszgryglicki commented on #106
In our case admin user is password protected and we *want* anonymous read only access - so everybody can see dahsboards, even edit them, but cannot save.

[2018-04-23 22:27] jlewi opened #115 "Create repository kubebench for benchmarking"
See kubeflow/kubeflow#708

Creating an issue here since we use community for new repositories.

[2018-04-23 22:28] jlewi commented on #115
I created the repository.

I gave the ci-bots and cisco team write access.

[2018-04-23 22:29] jlewi commented on #115
Lets use this issue to continue tracking setting up the repository.

[instructions](https://github.com/kubeflow/community/blob/master/repository-setup.md)

/assign ddutta

[2018-04-23 22:57] ddutta commented on #115
Thx @jlewi

[2018-04-23 23:37] jlewi commented on #24
ci-bots should now have write access to kubeflow/kubeflow and kubeflow/tf-operator.

/cc @kunmingg

[2018-04-24 22:56] kunmingg commented on #24
@jlewi cronjob updated to take care all repos.
I assume ci-bots should automatically have access to any newly created repos?

[2018-04-25 02:37] #31 closed

[2018-04-26 00:52] yixinshi opened #121 "Create repository batch-predict"
We need a repo for the batch predict related code for Kubeflow from Google. See
https://github.com/kubeflow/kubeflow/issues/662

[2018-04-26 00:52] yixinshi commented on #121
/assign jlewi

[2018-04-26 01:02] jlewi commented on #121
Repository created.

I added ci-bots core-approvers and @yixinshi

Please follow
https://github.com/kubeflow/community/blob/master/repository-setup.md

To finish setting it up. In particular please enable automatic merging.

[2018-04-26 01:04] jlewi commented on #121
/assign @yixinshi
/unassign @jlewi

[2018-04-26 13:34] jlewi opened #122 "[devstats] Enable https for grafana"
We should serve grafana over https not http.

This is important for admin logins since we currently use basic auth.

Related to #106

[2018-04-26 13:36] jlewi commented on #109
Table: "Approvers in repository groups" currently shows no data.

[2018-04-26 13:45] jlewi commented on #109
It looks like this is using using the influx db series approvers_hist.* but I see no such series in our influx db.

[2018-04-26 13:50] jlewi commented on #109
It seems like this postgre [query](https://github.com/cncf/devstats/blob/20b982a52f4f78384d5ffb68db80d609fe724504/metrics/kubernetes/hist_approvers.sql) might be responsible for creating a postgre table with matching approve events.

[2018-04-26 13:51] jlewi commented on #109
Dashboard "User reviews repository groups" only shows reviews by 0olwzo0

[2018-04-26 23:02] #106 closed

[2018-04-30 18:04] elsonrodriguez opened #123 "Delete repository `experimental-beagle`"
We won't be using it after all.

[2018-05-01 00:51] jlewi commented on #122
devstats for grafana are available at

http://devstats.kubeflow.dev/

It looks like chrome  (at least for me) always wants to use https

[2018-05-01 03:51] gaocegege commented on #122
It works for me on Edge/Windows

[2018-05-03 03:00] gaocegege opened #125 "[devstats] Set companies"
http://devstats.kubeflow.dev/d/9/companies-table?orgId=1

Now we do not support the company related statistics. Maybe it requires some additional configuration.

[2018-05-05 06:31] gaocegege commented on #125
- [import_affs](https://github.com/cncf/devstats/blob/master/cmd/import_affs/import_affs.go)
- `import_affs` takes one parameter - JSON file name (this is a file from [cncf/gitdm](https://github.com/cncf/gitdm): [github_users.json](https://raw.githubusercontent.com/cncf/gitdm/master/github_users.json)
- This tools imports GitHub usernames (in addition to logins from GHA) and creates developers - c

[2018-05-05 08:16] gaocegege commented on #125
I followed the instructions to generate a github_users.json: https://raw.githubusercontent.com/gaocegege/gitdm/master/github_users.json

[2018-05-08 00:04] jlewi commented on #125
Couldn't we use members.yaml to determine which company each user belongs to?

[2018-05-08 00:06] jlewi opened #126 "Setup Cloud DNS for kubeflow.org"
We want to switch to using GCP Cloud DNS to manage kubeflow.org. Currently we use Google Domains.

Cloud DNS is better for automatic management and controlling access.

We are using GCP project kubeflow-dns to manage our domains with Cloud DNS. I created a zone for kubeflow.org

[code]

[2018-05-08 00:13] jlewi commented on #126
Created the following A-records to match our current Google domains config.

[code]

[2018-05-08 01:33] gaocegege commented on #125
We can but devstats already has a mature tool to do it. I think we could reuse it.

[2018-05-08 16:19] jlewi commented on #123
Deleted.

[2018-05-08 16:19] #123 closed

[2018-05-11 00:36] ddutta opened #128 "Edge ML use cases within Kubeflow"
For some use cases check the recent talk from Kubecon https://www.youtube.com/watch?v=UR8N6mIAFlM&list=WL&index=3

[2018-05-11 13:02] jlewi commented on #126
This is setup.

[2018-05-11 13:02] #126 closed

[2018-05-11 13:25] jlewi opened #129 "Serve devstats at devstats.kubeflow.org not devstats.kubeflow.dev"
We should serve devstats @ kubeflow.org and not kubeflow.dev to be consistent.

I can't remember why I initially picked kubeflow.dev. I think it was because I was experimenting with Cloud DNS and kubeflow.org wasn't administered by Cloud DNS @ the time.

[2018-05-11 13:27] jlewi commented on #129
Interestingly, nslookup returns some incorrect results

[code]

The correct IP (the one used by devstats.kubeflow.dev is 35.190.42.248). I've created a DNS record in Cloud DNS for devstats.kubeflow.org. Just need to wait for it to propogate.

[2018-05-11 13:29] jlewi commented on #129
Looks like devstats.kubeflow.org is now returning the correct address

[code]
Deleting the record devstats.kubeflow.dev (it will just cause confusion over time).

[2018-05-11 16:31] jlewi opened #131 "[devstats] redirect http to https"
We currently serve devstats.kubeflow.org at http and https (#130).

We would like all http traffic to automatically be redirected to https. We'd like to do this because users could potentially login into grafana and we don't want that to be over http.

[2018-05-11 23:19] vicaire opened #132 "Repository for CRD that implements simple triggering/scheduling mechanisms on top of Argo workflows"
I would like to contribute a CRD that implements simple triggering/scheduling mechanisms on top of Argo workflows. Would it be possible to create a repo for this?

[2018-05-11 23:35] vicaire commented on #132
Sounds good.

[2018-05-12 00:33] jlewi commented on #132
I created the repository please follow instructions below to finish setting it up
https://github.com/kubeflow/community/blob/master/repository-setup.md

/assign @vicaire

[2018-05-12 02:54] gaocegege commented on #60
Do we have a plan to be in a foundation?

[2018-05-12 02:55] gaocegege commented on #29
We have the member list in YAML, then could we close the issue?

[2018-05-14 14:02] #129 closed

[2018-05-14 15:17] ewilderj commented on #60
Yes, the project intends to be hosted in a foundation. However, two things are not yet clear: the timing, and which foundation. If you go too soon, the bureaucracy can slow progress down. The "which" is a bit clearer: many people favor the CNCF, but there ought to be community consensus about what makes sense. Feel free to talk to Aronchick or Jeremy to get more detail.

To the topic of this bug:

[2018-05-14 17:13] jlewi commented on #18
This has been fixed see the relevant markdown files.

/close

[2018-05-14 17:13] #18 closed

[2018-05-14 21:04] bhack commented on #89
In CNCF FAQ i read:

So LF is also the parent of DLF.

As ML/DL and K8s project we could be the grandchildren of LF :wink:

[2018-05-15 01:42] jlewi opened #133 "Create labels for sprints"
It would be good to label issues by sprint. The problem we using projects and adding issues to columns is that when the issue is closed its moved off the sprint. So its hard to track which issues were in which sprint.

We should go ahead and define labels for the next couple sprints to
https://github.com/kubeflow/testing/blob/master/label_sync/kubeflow_label.yml

e.g.

sprint/2018-05-14-to-05-25
s

[2018-05-21 18:53] jlewi opened #135 "Setup Cloud DNS records for gsuite"
We switched our DNS from using Google Domains to Cloud DNS. This broke gmail for kubeflow.org because we are missing MX records.

Doc with info about MX records
https://support.google.com/a/answer/174125?hl=en

/cc @ewilderj
/priority p0
/assign jlewi

[2018-05-21 19:07] jlewi commented on #135
Ran the following commands

[code]

[2018-05-21 19:08] jlewi commented on #135
Confirmed that I could send email to jlewi@kubeflow.org

[2018-05-21 19:08] #135 closed

[2018-05-21 19:17] ewilderj commented on #135
WFM too. Thanks for sorting this out!

[2018-05-22 10:38] gaocegege commented on #50
I am closing the issue since it is created.

[2018-05-22 10:38] #50 closed

[2018-05-22 10:42] gaocegege opened #136 "[Request] MXNet operator support"
Now we support TensorFlow and pytorch well. MXNet is another popular ML framework and I think we should implement the operator for it to attract more DL practitioners.

We need to create a proposal like https://github.com/kubeflow/community/blob/master/proposals/pytorch-operator-proposal.md and create the repository for the operator.

### References

- https://mxnet.incubator.apache.org/faq/distri

[2018-05-22 20:30] balajismaniam opened #138 "Request to move KVC repo over to IntelAI org."
Offline, @jlewi and I discussed about moving the KVC repo (https://github.com/kubeflow/experimental-kvc) over to the IntelAI org (https://github.com/IntelAI). Jeremy suggested that I open an issue here to document the request.

[2018-05-22 21:28] jlewi commented on #138
Is there any additional work that needs to happen; e.g. update examples, ksonnet packages?

[2018-05-22 21:32] jlewi commented on #138
Here's the original request:
https://github.com/kubeflow/community/issues/16

@elsonrodriguez Can you please ack since you filed the initial request?

Also are there any contributors to experimental-kvc that have a problem with this?
https://github.com/kubeflow/experimental-kvc/graphs/contributors

In particular are there any non Intel contributors who want to weigh in?

[2018-05-22 22:09] balajismaniam commented on #138
In Elson's example for S3 tf.data is being used. So there is no change required there. The ksonnet packages need not be changed.

[2018-05-22 22:10] jlewi commented on #138
The [owners](https://github.com/kubeflow/experimental-kvc/blob/master/OWNERS) lists

  * @balajismaniam
  * @elsonrodriguez
  * @jose5918
  * @Ajay191191

My opinion is that moving KVC out of Kubeflow makes sense because its a generic storage component that isn't ML specific and lower level than Kubeflow.

So I support whatever the owners listed above. Can the owners listed above please chime in?

[2018-05-22 22:12] balajismaniam commented on #138
Sure @jlewi, we can wait 24 hours. I will email kubeflow-discuss mailing list.

[2018-05-23 16:32] jlewi commented on #138
Thanks @balajismaniam. You and the other Intel team members are already admin's on the repository so I believe you should be able to request a transfer.

At the risk of being pedantic I would like an explicit ack on this issue from @elsonrodriguez and (ideally all the owners listed in the owners file) before doing the transfer. I think its good practice to leave a paper trail indicating consensus.

[2018-05-23 17:18] balajismaniam commented on #138
@jlewi Thanks. We can wait for acks from more owners. Regarding the transfer, it seems like only org owners can initiate transfers (org members cannot).

[2018-05-23 17:41] elsonrodriguez commented on #138
I'm out of the loop on this one, I'll defer to @nqn

[2018-05-23 17:55] jlewi commented on #49
Created repository internal-acls; because I want to start reducing the toil of managing different Kubeflow google groups and we can use the **gam** command line tool to start improving things.

[2018-05-23 17:55] nqn commented on #138
@jlewi It's a LGTM, if that carries any weight

[2018-05-23 18:18] Ajay191191 commented on #138
LGTM

[2018-05-24 19:37] jlewi commented on #138
GitHub only allows me to transfer to myself; I didn't have permissions in IntelAI.org
I transferred it to me with the intent of transferring it to balajismaniam
But that failed because balajismaniam/experimental-kvc exists
@balajismaniam Can you rename your existing repository so I can transfer to you.

[2018-05-24 19:42] balajismaniam commented on #138
@jlewi I changed the name of my fork. Please try again.

[2018-05-24 19:52] jlewi commented on #138
Repository has been transffered to @balajismaniam

[2018-05-24 20:02] balajismaniam commented on #138
I transferred it to the IntelAI org. Thanks @jlewi.

[2018-05-24 20:02] #138 closed

[2018-05-25 19:20] rongou opened #143 "new repository for the mpi operator"
Probably kubeflow/mpi-operator.

See https://github.com/kubeflow/community/blob/master/proposals/mpi-operator-proposal.md.

[2018-05-25 19:43] ankushagarwal commented on #143
/assign @jlewi

[2018-05-26 18:38] jlewi commented on #143
Repository created
https://github.com/kubeflow/mpi-operator

I setup repository permissions and branch protections

@rongou Please follow these [instructions](https://github.com/kubeflow/community/blob/master/repository-setup.md) to

  * Enable automatic merging via ci bots (enable tide)
  * Create an OWNERs file
  * Setup prow jobs for CI

/assign @rongou
/unassign @jlewi

[2018-05-28 13:02] nilanjana2015 opened #144 "setting up the dashboard for two systems(master-worker) on openstack"
I have set up a kubernetes cluster with two openstack instances(master-worker). I wanted to expose the kubernetes dashboard exposed to the internet. The dashboard doesn't open from my local even after setting it up. Is there some restriction from kubernetes/openstack side? Why can't I access it from my browser ?

[2018-05-29 03:29] jlewi commented on #144
I'd suggest looking at the docs for the K8s dashboard
https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above

If you're just trying to access the K8s dashboard then that doesn't really involve Kubeflow.

[2018-05-29 12:48] jlewi commented on #144
What is the problem you are having with Jupyter? Are you trying to connect using `kubectl port-forward`

[2018-05-29 12:48] jlewi commented on #144
/label question

[2018-05-29 12:49] jlewi commented on #133
Labels exist but I don't see the labels added to
https://github.com/kubeflow/testing/tree/master/label_sync

[2018-05-29 13:05] nilanjana2015 commented on #144
The jupyter notebooks are all up and running as I can see in my terminal(logging in into master)  but the only problem is I am not able to check it on my browser. Both are machines that I am using for creating my cluster are openstack instances.

[2018-05-31 12:33] jlewi commented on #144
If you are trying to access the notebooks you will need to figure out how you connect to services running inside your cluster from your local machine. Did you try following the [instructions](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#bringing-up-a-jupyter-notebook) to use kubectl to port-forward to JupyterHub?

[2018-06-01 00:18] fejta commented on #55
FYI this work is in progress:
* https://github.com/kubernetes/test-infra/pull/8187
* https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos

[2018-06-01 20:56] jlewi commented on #144
/label question

[2018-06-01 20:57] jlewi commented on #133
Fixed by #145

[2018-06-01 20:57] #133 closed

[2018-06-03 18:45] jlewi opened #147 "Create marketing-materials repository"
@aronchick Created the repository marketing-materials.

Creating this issue to track setup.

It looks like the repo is missing an initial commit.

[2018-06-03 18:48] jlewi commented on #147
Added an OWNERs file; need to finish setting it up.

[2018-06-05 23:29] jlewi opened #148 "devstats.kubeflow.org is down; 502 errors"
devstats.kubeflow.org is returning a 502.

[2018-06-05 23:33] jlewi commented on #148
Grafana is crash looping

[code]

[2018-06-05 23:39] jlewi commented on #148
Similar issue https://github.com/grafana/grafana/issues/10830

Maybe the database got marked read only somehow? i.e maybe its a permission issue?

[2018-06-06 01:48] everpeace opened #149 "new repository for chainer-operator"
Probably kubeflow/chainer-operator.

See https://github.com/kubeflow/community/blob/master/proposals/chainer-operator-proposal.md.

/area operator
/assign @jlewi

[2018-06-07 03:28] jlewi commented on #147
Tide is enabled for the Kubeflow org
https://github.com/kubernetes/test-infra/blob/d813268c258ad9e0486777611f7206f9d61e3e56/prow/config.yaml#L167

So we should be good to go for automatic merging.

[2018-06-07 03:32] jlewi commented on #149
Created a repository
https://github.com/kubeflow/chainer-operator

Added ci-bots with write access

Enabled branch protection on master

Please submit an OWNERs file per
https://github.com/kubeflow/community/blob/master/repository-setup.md

[2018-06-11 06:34] gaocegege commented on #149
I think we could close the issue since we already have the repository.

[2018-06-11 06:34] #149 closed

[2018-06-11 06:38] gaocegege opened #151 "[Request] Repository for CRD Validation Tool"
I am working on CRD validation for kubeflow/tf-operator and implementing a general-purpose tool https://github.com/gaocegege/crd-validation

I think we could use the tool to generate CRD validation spec for each CRD in the community, and it should work after Kubernetes 1.11 is released with `additionalproperty` support in the validation feature. Then I request to create a repository for the tool.

[2018-06-14 18:13] jlewi commented on #151
Can we put the tool in tf-operator for now and think about refactoring later?
Every repository brings with it non-negligible overhead.

Also assuming tf-operator will be the first use for this tool keeping it in the same repository will make it easier to summit PRs that modify the tool and tf-operator simultaneously to keep them in sync.

[2018-06-18 23:17] bhack commented on #89
https://www.linuxfoundation.org/blog/lf-deep-learning-foundation-announces-project-contribution-process/

[2018-06-25 03:15] gaocegege commented on #151
OK, we could put the tool in gaocegege/crd-validation and keep the thing going.

[2018-07-02 09:18] ddysher opened #155 "accepted-proposals.md doesn't seem to be properly maintained"
https://github.com/kubeflow/community/blob/master/accepted-proposals.md

:point_up_2: should we get rid of this file and simply point community members to `proposal` directory?

/cc @jlewi @ewilderj @gaocegege @ScorpioCPH

[2018-07-02 11:39] ScorpioCPH commented on #155
SGTM, let's simplify the proposal process.

[2018-07-02 11:47] jlewi commented on #155
I think that's reasonable.

Should we encourage people to directly update there markdown docs to include status information.

So as an example for

tf-operator-design-v1alpha2.md

We could have a status section with points like

2018-XX-XX - Accepted
2018-XX-XX - Implementation Started
2018-XX-XX - v1alpha2 released in 0.2

[2018-07-02 19:42] ewilderj commented on #155
Makes sense to me.

[2018-07-03 06:48] ddysher commented on #155
/assign

Assign to myself, trying to catch up with kubeflow status.

I created a PR to update the proposals: https://github.com/kubeflow/community/pull/156, PTAL

[2018-07-03 07:17] gaocegege commented on #155
@ddysher
Thanks!

[2018-07-05 03:53] ddysher commented on #155
https://github.com/kubeflow/community/pull/156 is merged

/close

[2018-07-05 03:53] #155 closed

[2018-07-30 05:10] gaocegege commented on #151
Could we move the tool to kubeflow?

[2018-07-30 05:12] gaocegege opened #161 "[Request] Repository for TFJob Java Client"
@JetMuffin contributes Java client for TFJob. And the contribution needs 2 repos: one for Java client and one for spec generation tool.

I request to introduce it into kubeflow org from kubeflow-incubator org. WDYT

@jlewi

[2018-08-06 22:53] jlewi commented on #161
@gaocegege My apologies for not responding sooner. Should we just transfer over the existing repositories?

[2018-08-06 22:53] jlewi commented on #151
@gaocegege My apologies for not responding sooner. Should we just transfer over the existing repository?
Just let me know what you need from me to do the transfer.

[2018-08-07 03:10] gaocegege commented on #161
@jlewi We need some additional work to do. I think @JetMuffin will help us.

[2018-08-07 03:13] gaocegege commented on #151
This repo only needs a transfer. While I have no permission to create repos in Kubeflow. We have to choice:

1. Give me a temporary permission to transfer
2. @jlewi accepts the invitation in https://github.com/kubeflow-incubator and transfer it to kubeflow.

[2018-08-08 05:36] jlewi commented on #161
SGTM. When you're ready to actually move the repository just find me on slack so we can coordinate.

[2018-08-08 05:38] jlewi commented on #151
I accepted the invite. @gaocegege can you just confirm here that you want me to go ahead and transfer
https://github.com/kubeflow-incubator/crd-validation
to Kubeflow?

[2018-08-08 07:27] gaocegege commented on #151
Yeah, I think so. 😄

[2018-08-08 07:27] gaocegege commented on #161
Thanks.

/cc @JetMuffin

[2018-08-08 12:23] cheyang opened #164 "[Request] Repository for Arena"
Move repository from https://github.com/AliyunContainerService/arena to KubeFlow community.

/assign @jlewi

[2018-08-08 18:46] tmckayus opened #165 "[Proposal] Kubeflow Base Images and Supporting Vendors"
This is a proposal originally drafted by Jeremy Lewi with contributions from others, it may still need more eyes and refinement before we consider it final.

The goal is to create a set of guidelines for supporting multiple distros as base images in kubeflow components.

https://docs.google.com/document/d/1B3LumU7u9dJA0ElM37KlPeSHJzSSpLV1l52E9ZmbJvo/edit#heading=h.alaoz7uek0k7

[2018-08-08 21:47] jlewi commented on #164
/cc @gaocegege @kkasravi

[2018-08-09 03:26] gaocegege commented on #164
Personally, I love the tool. I haven't tried it but I looked through the code. I think it improves the usability from CLI level. I think we have some discussions about Kubeflow CLI. arena is what I want to get from the Kubeflow CLI. Thus I think we could accept the contribution from @cheyang and make it a core project in Kubeflow community. I have a communication with @cheyang and he will continue

[2018-08-09 03:57] cheyang commented on #164
Thanks for the response of @gaocegege . And we are in processing of approve for copyright. Looks good till now. When it's approved, we can transfer it to KubeFlow community.

[2018-08-09 04:01] gaocegege commented on #164
Then LGTM.

[2018-08-09 23:14] jlewi commented on #164
This is really cool and has important functionality like tooling to help fetch logs.

I took a look at the repo and I have a couple high level questions

1. What is  the scope of Arena?
1. How do we align Arena with Kubeflow?

Regarding #1, the overview says

But the [Roadmap](https://github.com/AliyunContainerService/arena/blob/master/ROADMAP.md) is much broader; for example it mentions multi-ten

[2018-08-10 01:08] jlewi commented on #151
Done
https://github.com/kubeflow/crd-validation

[2018-08-10 01:08] #151 closed

[2018-08-10 04:27] jlewi commented on #165
Thanks @tmckayus what would next steps look like?

[2018-08-13 08:07] suleisl2000 commented on #136
[TuSimple](http://www.tusimple.com) have just written a draft version of [MXNet operator](https://github.com/TuSimple/mxnet-operator). We'd like to contribute it to Kubeflow community as part of ecosystem and continuously improve it in the future. In addition to better deep learning lifecycle management, we plan to integrate the operator with kube-arbitrator for better job scheduling. Any process

[2018-08-13 12:59] jlewi commented on #136
@suleisl2000 that's a fantastic offer.

Would you and TuSimple be willing to continue supporting the operator and making the changes (see below) to better integrate it into Kubeflow?

Assuming we go forward integrating this into Kubeflow there's a couple things we should do

1. Add a ksonnet package see [here](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md)
1. Add an

[2018-08-13 16:57] johnugeorge commented on #136
@suleisl2000 Great to see this effort.  Tf-operator is currently refactored to share the common code for future operators. Operators will have their own CRDs(at least for now) while sharing all common code.  Currently, we have decided to use tf-operator as the central repo to hold all operators.  We have planned to rename the repo in the future. I will raise initial PR for Pytorch operator(v1alpha

[2018-08-13 17:57] carmine commented on #165
It'd be great to see a prototype of a proposed solution, or start with a proposed solution and go from there. Take one of the kubeflow components (or each type of component as per the google doc) and demonstrate what the solution could look like.  This is for producing images, and ideally the e2e test for those as well.

[2018-08-14 05:07] suleisl2000 commented on #136
@jlewi @johnugeorge Thanks for your reply. We are glad to integrate it into Kubeflow and we will take actions as following:
1. Investigate v1alpha2 version to use shared implementation mentioned by @johnugeorge
2. Finish TODO items listed by @jlewi

/cc @jzp1025 @jjmtraveller

[2018-08-16 06:33] jlewi commented on #136
SGTM. I think if we do items 1 (ksonnet package) and 2 (docs) people can start using it and giving feedback. As long as we mark it "experimental" to indicate that is in flux and subject to change I don't see a strong need to block on resolution of i/how best to integrate into the shared implementation.

[2018-08-18 11:40] cheyang commented on #164
Thanks very much for sharing your ideas and a lot of helpful information with us!
Before answering your question, I want to clarify the our goal and principle:

As part of the KubeFlow, the goal of Arena:

- Bring KubeFlow to data scientists without the challenge of learning kubernetes.

The Princlple of Arena:

- Ease the data scientist’s work on kubernetes, and empower them by using the domain k

[2018-08-20 09:32] suleisl2000 commented on #136
@jlewi That's great. We are cleaning up the code, and will create a PR once it done.

[2018-08-21 06:24] sbhamad opened #169 "Turning multiple end user machines (PCs, Macs, RPi ... etc) into one giant k8s cluster"
Hi Kubeflow community,

I am new to kuberenetes && kubeflow and i have a simple question.

is it possible to turn every end user machine (PCs, Macs, RPi ... etc) who with full consent downloaded my electron research app that should turn their machines into nodes that ultimately comprise a k8s cluster which then i can run kubeflow.org on to do ML research?

Thanks

[2018-08-21 11:12] suleisl2000 commented on #136
I have created PRs for [ksonnect package](https://github.com/kubeflow/kubeflow/pull/1392) and [docs](https://github.com/kubeflow/website/pull/172). However, I am not sure how to create PR for [the operator](https://github.com/TuSimple/mxnet-operator), would you mind giving some guidance? @jlewi @johnugeorge

[2018-08-21 13:36] jlewi commented on #164
This is a great goal.

If this is the goal why emphasize a CLI based approach? The request I hear most from datascientists is

1. Give me a notebook centric experience
    * In particular make it possible to train and deploy a model from a notebook
1. Give me a UI

Would do you think about moving Arena in one of the directions listed above?

My conjecture is that we can deliver a more data scienti

[2018-08-22 02:47] cheyang commented on #164
/cc @wsxiaozhang @denverdino @cuericlee

[2018-08-22 12:01] jlewi commented on #136
What's the question about the operator; is it just about where to put the code? Should ew create a new repository for this?

[2018-08-22 15:22] suleisl2000 commented on #136
Yes, that's my question. Currently, we have the repository under https://github.com/TuSimple/mxnet-operator. I think it is better to move the code into https://github.com/kubeflow just like other operators. If it is the case, who have the permission to create the repository for it? @jlewi

[2018-08-22 17:16] jlewi commented on #169
This is outside the scope of Kubeflow. This would be a question for the Kubernetes community to figure out  how to assemble user machines into a K8s cluster.

[2018-08-22 17:16] #169 closed

[2018-08-22 18:48] johnugeorge commented on #136
Yes. Sounds good @jlewi

On Wed, Aug 22, 2018, 8:53 PM Lei Su <notifications@github.com> wrote:

[2018-08-23 04:55] gaocegege commented on #136
I think we could create a new repo. Repo transfer requires the ownership in Kubeflow and TuSimple org

[2018-08-23 14:00] jlewi commented on #136
I think a new repo is better; just so there is a PR indicating CLA's been signed and code is contributed.

[2018-08-23 14:12] jlewi commented on #136
@suleisl2000 I have created the repo mxnet-operator.
I also sent you an invite to the org please accept.

You'll need to do the following

1. Follow the instructions here to setup Prow
    * https://github.com/kubeflow/community/blob/master/repository-setup.md#setting-up-prow-for-your-repository
1. Add other reviewers/approvers to the OWNERs file as necessary (they will need to request invites to

[2018-08-24 20:05] idibidiart commented on #136
Really eager to try MXNet Operator in Kubeflow. Is it ready in master? @suleisl2000

[2018-08-25 01:53] cheyang commented on #164
It’s based on our experiences of the customer  engagement . We have many AI customers which are from Internet companies, Research, banks and etc.  We have found they are familiar and prefer  CLI in linux terminal rather than notebook. I think it may be  the habit of data scientists of our customers. We tried to promote jupyterhub/notebook to our customers, but they preferred to CLI solutions throu

[2018-08-25 04:41] suleisl2000 commented on #136
There is a little bit merge effort to be done. I will try to finish it early next week. Thank you for your attention. @idibidiart

[2018-08-25 05:12] kkasravi commented on #164
We've gotten data scientist feedback that they also like CLI's with the ability to customize their CLI using python. We should, if possible in this discussion, qualify areas where a UI may be preferred vs iterative development such as training a model. In the latter we've been told that data scientists have wanted to automate aspects of their workflows. We've also gotten feedback from some data sc

[2018-08-25 05:44] kkasravi commented on #164
BTW we spent some time on an earlier effort that was also based on spf13/cobra but decoupled the command from its execution which was done with serverless functions that could be written in python. For this we used kubeless. We spent some time making the command set extensible, so you could add, remove commands. Looking at your codebase it looks like many similar ideas are implemented using the ku

[2018-08-27 15:28] jlewi commented on #164
I see a lot of value in CLIs. The question I have is how will Arena evolve compared to generic CLI's in K8s e.g.

* kubectl
* helm
* ks
* draft
* skaffold

Lets take an example

[code]

It looks like this is doing two things

1. Its providing a wrapper around this [helm package for TFJob](https://github.com/AliyunContainerService/arena/blob/master/charts/tfjob/templates/tfjob.yaml)
1. its injectin

[2018-08-27 16:53] jlewi commented on #164
It would be good to discuss this at one of the community meetings. Unfortunately, I'm not sure I will be able to attend tomorrow's meeting and two weeks (next meeting for Asia Pacific Time zone) I will be on vacation.

[2018-08-27 23:32] cheyang commented on #164
Thanks, no urgent. We can discuss when you are back. Have a good vacation.

[2018-08-27 23:35] cheyang commented on #164
In fact, we have already provided some helm charts for TensorFlow and Horovod in https://github.com/helm/charts/tree/master/stable. And we tried to  help the customers to use chart to cover the model development, training and serving.

[Notebook](https://github.com/helm/charts/tree/master/stable/tensorflow-notebook)
[distributed-tensorflow](https://github.com/helm/charts/tree/master/stable/distrib

[2018-08-29 01:36] jlewi commented on #164
@kkasravi @wbuchwalter @gaocegege thoughts?

One question I have is when would we suggest users to use lower level tools (e.g. directly write YAML files and use kubectl) vs using Arena?

[2018-08-29 01:38] jlewi commented on #164
What do folks think about just starting to incorporate Arena and seeing where it leads?

[2018-08-29 03:01] jlewi commented on #148
Looking at the top of the logs.
[code]

[2018-08-29 03:02] jlewi commented on #148
Here's the pod spec

[code]

So it should be using a PD.

[2018-08-29 03:03] jlewi commented on #148
[code]

[2018-08-29 03:16] jlewi commented on #148
I changed the grafana deployment to just run "tail -f /dev/null" so I could then start a shell in the pod and look at the permissions

[code]

So it looks like the owner and group of the grafana database are not the grafana user.

[2018-08-29 03:31] jlewi commented on #148
I fixed this using the follow recipe

1. Modified the deployment to use the `ubuntu` image and mount the grafana volume
1. Created a shell in the ubuntu container
1. Make it world readable

[code]

1. Created a user and group with id 472
1. Changed owner and group of /data/grafana to be user & group 472

That fixed the grafana crashloop.

[2018-08-29 03:41] jlewi commented on #148
devstats.kubeflow.org is back up.

[2018-08-29 03:42] #148 closed

[2018-08-29 03:45] jlewi commented on #109
More reviewers are showing up now.

[2018-08-29 06:12] kkasravi commented on #164
@jlewi +1

I think using the clientset API within a golang program needs to be explored and the reasons are similar to why bootstrapper uses a rest API from golang. I would suggest we look for ways to make the API extensible so that new or different methods can be bound within the spf13/cobra command set. One area I had prototyped was dynamically loading .so's
[code]
but adopting something similar

[2018-08-29 06:34] gaocegege commented on #164
I think for newcomers or entry-level data scientists/ML engineers, we should provide a CLI/simplified API to help them run their jobs easily. Because there are some users do not understand the concepts of Kubernetes and do not know how to use kubectl to create resources on Kubernetes, and they do not want to learn. And that's why I suggested building a unified API layer here: https://docs.google.c

[2018-08-29 11:27] wsxiaozhang commented on #164
@jlewi  good question of when we suggest users to use kubectl or arena.
I think it depends on what role the user is. In our observation, most of AI organizations have one data scientists team and one engineering/operation team. Data scientists focus on algorithm and data processing, and repeatedly submit training jobs to cluster. Engineers/Operators take care of infrastructure and K8S cluster. Mos

[2018-08-29 13:06] jlewi commented on #164
I went ahead and created the arena repository.
Please follow these directions to continue setting it up:
https://github.com/kubeflow/community/blob/master/repository-setup.md

I've created an initial OWNERS file with @cheyang so he can approve changes including adding additional approvers and reviewers.

I created a new repo rather than transferring the existing repo, because I'd like a record of

[2018-08-29 16:12] jlewi commented on #164
I think a good model for a CLI to submit jobs is `kubectl run`.

`kubectl run` is very convenient for a certain set of use cases where you largely just need to specify 3 parameters (name, image, command) and creating a YAML file would be unnecessarily cumbersome.

I don't think of `kubectl run` as creating a simpler API since its using the same API (Pod) as if you created the object yourself.

If

[2018-08-29 16:53] jlewi opened #172 "[devstats] Use devstats to identify top contributors"
Now that devstats is back up
devstats.kubeflow.org

It would be great to use it to identify top contributors and recognize them at our summit in September.

[2018-08-29 22:48] cheyang commented on #164
@jlewi Is it possible to transfer the existing repo? Because we'd love to keep existing PR, stars. We  can require new PRs  with CLA signed. Thanks.

[2018-08-30 13:08] jlewi commented on #164
Transfer is complete:
https://github.com/kubeflow/arena

[2018-08-31 05:38] jlewi opened #173 "Need a way to allow others to tag issues for different releases"
Setting labels on issues requires write permission which is overly broad.

Prow has two relevant commands
/label  - Allows members of the org to set certain labels

The label plugin provides commands that add or remove certain types of labels. Labels of the following types can be manipulated: 'area/*', 'committee/*', 'kind/*', 'priority/*', 'sig/*', 'triage/*', and 'wg/*'. More labels can be confi

[2018-08-31 05:38] jlewi commented on #173
/cc @jbottum

[2018-08-31 05:42] jlewi opened #174 "Document release planning process"
We should create an markdown doc describing the release planning process.

It probably makes sense to add it to our existing releasing doc here:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

We need to document how we assign/track issues for each release.

Per #173 I think the short term solution is to use a label like

area/X.X.X

This way any member of the Kubeflow GitH

[2018-08-31 14:36] jbottum commented on #174
Hey Jeremy - Thanks for the advice.    I have started to look at the
existing open issues.

I am thinking that we should look at the top candidates on that list i.e.
the existing features that are labeled in 0.4, the existing P0 and P1 that
are not in another release.     This doc works to identify those features:

https://docs.google.com/document/d/13vBugi1eHND9WFDtasEhvY8BkFJ8MUfahTFsVG13_LU/edi

[2018-09-03 21:28] jlewi opened #176 "Create a repository for fairing; library for firing off TFJobs from Jupyter"
See kubeflow/kubeflow#1240

@wbuchwalter Has been working on a prototype for a library to make it easy to fire off TFJobs (and other jobs) from Jupyter notebooks.

We want to create a repo in Kubeflow for this to make it easier for other to collaborate.

[2018-09-03 21:33] jlewi commented on #176
Created the repository
Enabled branch protections
Added an initial OWNERs file

Will file a separate issue to setup prow.

[2018-09-03 21:33] #176 closed

[2018-09-03 21:58] jlewi opened #177 "Presubmit test to ensure members.yaml is sorted by GitHub id"
We should add a presubmit test to verify members.yaml is sorted correctly by GitHub id.

[2018-09-03 21:59] jlewi commented on #136
@suleisl2000 I already added the ci-bots; sorry for not making that clear.

sent @jzp1025 a GitHub invite.

[2018-09-04 02:34] gaocegege commented on #136
Could we close the issue? I think the mxnet operator repository has been set up.

[2018-09-04 03:15] idibidiart commented on #136
Hi,

Has it been merged with master? Or is it a separate repo?

Also, is there a Readme for using MXNet with Kubeflow?

[2018-09-09 21:21] sarahmaddox opened #184 "Dedupe community and contributor guides on GitHub vs in the docs"
The content for the Kubeflow community and contributor guides currently exists on GitHub and in the docs. For both guides, the content is long and reasonably complex, and is already getting out of sync.

Proposal: Remove the bulk of the content from the GitHub repo, and link to the docs as the source of truth.

Community guide:
https://github.com/kubeflow/community/blob/master/README.md
https://ma

[2018-09-18 01:53] jlewi commented on #172
This table allows us to break down contributors by number of PRs.
https://devstats.kubeflow.org/d/13/developers-table?orgId=1&var-period_name=v0.2.0%20-%20now&var-metric=prs&var-period=anno_1_now

[2018-09-19 14:27] inc0 opened #188 "[Proposal] Make external SQL-compatible database requirement for Kubeflow"
# SQL database as requirement to Kubeflow

Currently only one component of Kubeflow requires SQL, and that's Katib. In various discussion we determined that another planned component, experiment tracking, will also require some sort of proper database (due to scale and requirement for advanced querying).

Running database in Kubernetes is very hard to maintain and setup properly, we shouldn't be i

[2018-09-21 22:11] jlewi commented on #173
After #200 is merged we can close this once we verify the label sync ran and we have the label added to all our repos.

[2018-09-25 08:12] chrisheecho opened #189 "Create a features repo for PMs"
For PM community group and to have a backlog of features and related process, I would like to have a permission to create a repo please! @jlewi @aronchick

[2018-09-26 12:48] jlewi commented on #188
Thanks; this is great.

Are we really in the position to start talking about databases at the Kubeflow level as opposed to in the context of individual microservices?

Its unclear to me at least what the right database for individual services should be. For example, should Katib use SQL, NOSQL, key-value, etc....?

Is SQL really a Kubeflow requirement? If a user doesn't have SQL, I would still exp

[2018-09-26 19:01] inc0 commented on #188
Reason I want to stick to one is so if someone would want to use all of kubeflow, they would only need one database cluster not 4 different ones. We can still note which components needs db and which don't, but if a component needs database, it should be this one.

How many things we could do if we'd have database to work with? Use cases I can think of:
1. Experiment tracking - this one will be po

[2018-09-27 12:38] #184 closed

[2018-09-27 14:32] jlewi commented on #188
I don't doubt the benefit of minimzing the number of databases used but I don't think we should mandate or require that each component only use SQL. That seems like a design decision best left to individual components. Uniformity seems like one consideration that should be taken into account.

[2018-09-27 15:14] inc0 commented on #188
Whole k8s is built on top of single k/v store. As for various databases (and why SQL):

k/v stores:
- ETCD - my initial idea, but we'll have issues with scale and there is no good mechanism to do complex queries
- Redis - highly performant, we can do really complex stuff via Lua (if we need to), but it's fault tolerance leaves a lot to wish for, not sure if we want to deal with data loss there

no

[2018-09-28 14:01] jlewi opened #191 "/label area/0.4.0 doesn't seem to be working"
The ci bot doesn't appear to be responding to label commands

Related to #173 allow members to tag issues for releases.

[2018-09-28 14:01] jlewi commented on #191
/label area/0.4.0

[2018-09-28 14:02] jlewi commented on #191
/label area/api

[2018-09-28 14:04] jlewi commented on #191
Looks like label plugin is enabled here:
https://github.com/kubernetes/test-infra/blob/a20b1356786b88cf34233eb144e0c144ff017f64/prow/plugins.yaml#L264

[2018-09-28 14:06] jlewi commented on #191
/label kind/bug

[2018-09-28 14:12] jlewi commented on #55
Looks like this is now supported in prow:
https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos#peribolos-documentation

[2018-09-28 14:16] fejta commented on #191
/kind bug
/area api

[2018-09-28 14:17] fejta commented on #191
Is this what you meant? The /label I think just creates the label. Doesn't add it to the PR?

[2018-09-28 15:42] jlewi commented on #191
Yup exactly.

Thanks @fejta

[2018-09-28 15:44] jlewi commented on #191
/cancel kind/bug

[2018-09-28 15:44] jlewi commented on #191
/close

[2018-09-28 15:44] #191 closed

[2018-09-28 15:45] jlewi commented on #173
The correct command is

/area 0.4.0

[2018-09-28 15:47] jlewi commented on #173
/area 0.4.0

[2018-09-28 15:47] fejta commented on #191
/remove-kind bug

[2018-09-28 15:52] jbottum commented on #173
Great.   I just tried it on this open item and it worked.   Thanks!

https://github.com/kubeflow/kubeflow/issues/1620

[2018-09-28 16:05] jlewi commented on #173
To remove you can do

/remove-area 0.4.0
Full help here
https://prow.k8s.io/command-help?repo=kubeflow%2Fkubeflow

[2018-09-28 16:06] jlewi commented on #173
Adding it back
/area 0.4.0

[2018-09-28 16:08] jbottum commented on #173
Yes, I did it and It removed the label.

[2018-10-02 19:32] pdmack opened #194 "Issue closer bot"
Other projects automatically close issues that are stale after some period of inactivity (e.g., 90 days). It sounds like maybe we have that already but it's not working?

[2018-10-10 08:33] chrisheecho commented on #189
Fantastic, basically it's following the structure that https://github.com/kubernetes has. They have a split between community and features. I see community as the overarching guidance and governance place, where as Features repo will primarily be a working space for the PMs. In addition, it's a place to track features per release so we have PM+Release folks working together in a repo.

 New featur

[2018-10-10 13:44] jlewi commented on #189
Thanks created it.

[2018-10-10 13:44] #189 closed

[2018-10-10 14:36] chrisheecho commented on #189
you da man

[2018-10-10 15:42] idvoretskyi commented on #189
@jlewi the intent is to have a repo similar to https://github.com/kubernetes/features, which heavily inspired the KubeFlow PM group to have a features repo here.

Thanks for creating!

cc @chrisheecho

[2018-10-10 15:43] idvoretskyi commented on #174
/cc

[2018-10-11 04:20] #173 closed

[2018-10-17 12:55] tech509201941 opened #200 "Not able to build from source: Makefile:17: recipe for target 'presubmit' failed"
I want to build kubeflow from source and deploy it in a container.
I used the setup instructions from over here:
https://www.kubeflow.org/docs/started/getting-started/

This is my docker container:

[code]

Everythings works except the "RUN make && sudo make install" part.
It fails with:

[code]

If I skip the making of the source, I encounter the following error at the part "RUN ./scripts/kfctl.s

[2018-10-18 22:39] mpvartak commented on #188
My two cents on the DB for experiment tracking: Having built V1 of ModelDB, I can say fairly confidently that a relational DB is not optimal for storing metadata. Different users want to store very different data for their models -- think authors, teams, descriptions etc -- and the type of data might also change as they go along. So we found that keeping the DB schemaless was important. As for Mod

[2018-11-02 19:00] ewilderj opened #204 "Figure out where the Inclusivity doc can be incorporated in web site and contributor guide"
Doc here https://github.com/kubeflow/community/blob/master/INCLUSIVITY.md

cc @texasmichelle

[2018-11-13 10:59] jlewi commented on #125
#208 added a simple script that can use the github_users.json file and the data exported from devstats to compute # of PRs from different companies.

Here's my fork of https://github.com/jlewi/gitdm
I made some changes to compute github_users.json for Kubeflow.

[2018-11-13 11:54] ant31 commented on #34
@jlewi have deployed devstat on k8s? is there any resources/source code to re-use of your deployment ?

[2018-11-13 12:10] gaocegege commented on #34
@ant31 I think you can find the artifacts here: https://github.com/kubeflow/community/tree/master/devstats

[2018-11-13 12:31] ant31 commented on #34
@gaocegege  great, thanks !

[2018-11-17 01:19] jlewi commented on #49
Duplicate of #55

[2018-11-17 01:19] #49 closed

[2018-11-17 05:06] amsaha commented on #125
Following up on https://kubeflow.slack.com/archives/C8Q0QJYNB/p1542385363024300, what is pending? It seems that #208 is already merged.

[2018-11-17 23:02] #164 closed

[2018-11-19 03:19] jlewi commented on #15
According to @vkoukis our shared invite link might no longer work.

Maybe its time to setup slackin or some other solution?

[2018-11-19 13:15] jlewi commented on #125
@amsaha I think we would like to get devstats updated so that it automatically and continuously computes PRs by companies.

I suspect there's two things we need to do

1. Figure out how to make devstats use github_users.json to compute PRs per company
1. Figure out how to regularly update github_users.json

[2018-11-21 12:06] amsaha commented on #125
Thanks @jlewi. Will take a look soon.

[2018-11-27 04:51] vanpelt commented on #15
The slack invite link here has expired: https://www.kubeflow.org/docs/about/community  It should be easy for the slack admin to generate a new one that doesn't expire...

[2018-11-28 02:58] jlewi commented on #15
@vanpelt Do you have instructions for how to generate an invite link that doesn't expire? I don't know how the original link was generated.

@aronchick Do you remember?

[2018-11-28 03:02] jlewi commented on #15
Ok I generated a new link
I did this by selection
Administration > Invite Members > Share Link
https://join.slack.com/t/kubeflow/shared_invite/enQtNDg5MTM4NTQyNjczLWUyZGI1ZmExZWExYWY4YzlkOWI4NjljNjJhZjhjMjEwNGFjNmVkNjg2NTg4M2I0ZTM5NDExZWI5YTIyMzVmNzM

[2018-11-28 03:18] vanpelt commented on #15
Awesome!  I'm in 😎

[2018-12-02 02:59] gaocegege commented on #172
I think we could close the issue since we already support it.

[2018-12-02 02:59] #172 closed

[2018-12-02 03:00] gaocegege commented on #136
I think we could close the issue since we have the repo for mxnet operator.

[2018-12-02 03:00] #136 closed

[2018-12-02 03:01] gaocegege commented on #147
I think we could close the issue.

https://github.com/kubeflow/marketing-materials

[2018-12-02 03:01] #147 closed

[2018-12-04 17:26] jlewi opened #218 "Can we delete https://github.com/kubeflow/community/blob/master/members.yaml"
Can we delete
 https://github.com/kubeflow/community/blob/master/members.yaml

Is all the information stored in other places?

We now use
https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml

To maintain a list of members in the GitHub org.

* Company info is obtained from the users GitHub profile
  * We have dashboards and stats to get that information.
* What about

[2018-12-07 14:46] jlewi commented on #218
I'm leaning towards delete. I don't think members.yaml will be used very often if its just about looking up slack ids.

[2018-12-15 02:52] texasmichelle commented on #218
ah, I was wondering how we maintained org membership. 👍 to deleting `members.yaml`.

[2018-12-17 09:25] gyliu513 opened #220 "Request to join slack channel"
@jlewi can you help send an invitation? My email address is gyliu513#gmail.com

[2018-12-18 06:39] gaocegege commented on #125
@gyliu513 Awesome work!

BTW, I am not sure how to change the affiliation, in the dashboard, I am independent while I am not.

[2018-12-18 06:45] gyliu513 commented on #125
@gaocegege just create a review request to openstack like this https://review.openstack.org/#/c/625774/ , some detailed steps for how to create review request in openstack https://docs.openstack.org/infra/manual/developers.html

Once you add all of your emails to `openstack/stackalytics`, your name will appear in your affinity.

[2018-12-18 08:26] #220 closed, assigned to nobody

[2018-12-18 15:24] gyliu513 commented on #125
@jlewi if the pr was submitted with setting email as your company email, then there is no need to submit or to update. But if you are not using company email to create or, you may want to submit a pr to OpenStack to correct your affiliation.

Stakalytics is becoming an official website for open source contribution, like Kubernetes, Istio, knative etc, so it would be great for kubeflow as part of i

[2018-12-19 02:12] gyliu513 opened #222 "Use stackalytics to track contributions from different company"
We have just enabled stackalytics to track the contributions from different companies for kubeflow at http://stackalytics.com/?project_type=kubeflow-group&release=all&metric=commits

stackalytics is becoming an official website for open source contributions, like openstack, kubernetes, istio etc, so it would be great if we can use it for kubeflow as well.

More discussions are here https://github.

[2018-12-20 14:38] jlewi commented on #222
@gyliu513 What do mean stackalytics is becoming an official website for open source contributions? is the kubernetes or CNCF endorsing it as the way to get metrics for their projects?

[2018-12-21 01:58] gyliu513 commented on #222
Kubernetes and CNCF is not endorsing it, the stackalytics was originally designed for calculating OpenStack contributions https://wiki.openstack.org/wiki/Stackalytics , but it was now gradually growing up for more open source, like Kubernetes, Istio etc, but I do not know when Kubernetes was added as part of stackalytics. ;-)

[2019-01-02 14:45] jlewi commented on #222
I have a preference for https://github.com/cncf/devstats since its

1. Maintained by CNCF
1. Is used by all CNCF projects
1. Would hopefully give us a single solution for all our stats.

So my preference would be to invest in fixing our devstats instance to properly show contributions by company.

That said I think the bigger blocker to using Stackalytics is that I think it will require most contr

[2019-01-02 14:46] jlewi commented on #125
See comment
https://github.com/kubeflow/community/issues/222#issuecomment-450881197

[2019-01-02 23:36] gyliu513 commented on #222
@jlewi But if you submit your PR via the email address of your company, then you do not need to submit a PR, such as if I submit with email as `xx@cn.ibm.com`, then I will belong to IBM contributors.

[2019-01-24 00:31] jlewi commented on #222
@gyliu513 understood but I think a lot of people aren't using corporate email addresses but their profile will list their company.

[2019-01-24 02:04] gyliu513 commented on #222
@jlewi Yes, I see, then I think we can let developers make their decision, as we have both https://www.stackalytics.com/unaffiliated?project_type=kubeflow-group and https://github.com/cncf/devstats , they can select the one that they like.

As I was not going to update https://www.stackalytics.com/unaffiliated?project_type=kubeflow-group anymore and it will be there as it is now, we can continue t

[2019-01-31 13:42] jlewi commented on #222
Sounds good.

[2019-01-31 13:46] jlewi opened #225 "Create a dashboard using dash for GitHub issue stats"
In #224 We created a python script and jupyter notebook to fetch data from the GitHub API about # of GitHub issues under different tags.

Perhaps we could use dash to create this app?
https://plot.ly/products/dash/

[2019-02-11 14:21] jlewi opened #228 "[devstats] developers table isn't showing any data"
https://devstats.kubeflow.org/d/13/developers-table?orgId=1&var-period_name=Last%20decade&var-metric=prs&var-period=y10

No data shows up.

[2019-02-11 14:22] jlewi commented on #228
The cron job to sync the git data appears to be working

[code]

[2019-02-11 14:38] jlewi commented on #228
It looks like the developer stats table come from an influx query.

The latest version of devstats no longer uses influx. So maybe its time to upgrade?

[2019-02-11 14:54] jlewi commented on #228
CNCF devstats issue about removing influx:
https://github.com/cncf/devstats/issues/106

[2019-02-11 18:19] jlewi commented on #228
I asked in CNCF slack the dashboard has been updated to use postgres
https://github.com/cncf/devstats/blob/master/grafana/dashboards/kubernetes/developer-activity-counts-by-repository-group.json

Even though it still says dstype influxdb.

Since we need to upgrade devstats I think now is a good time to move it out of kubeflow-ci into its own project.

This will make it easier to share admin privil

[2019-02-12 21:47] TimZaman commented on #220
@gaocegege Could you invite me too to the slack channel? (timbobel$gmail.com)

[2019-02-13 02:44] gyliu513 commented on #220
@TimZaman please try this one https://join.slack.com/t/kubeflow/shared_invite/enQtNDg5MTM4NTQyNjczLWUyZGI1ZmExZWExYWY4YzlkOWI4NjljNjJhZjhjMjEwNGFjNmVkNjg2NTg4M2I0ZTM5NDExZWI5YTIyMzVmNzM

[2019-02-13 04:46] jlewi opened #229 "[devstats] exclude homebrew repos"
We forked homebrew repos to Kubeflow.

We should exclude those rep from stats.

[2019-02-13 04:49] jlewi commented on #229
Do we just drop them from the gha_repos table?

[2019-02-13 13:40] jlewi commented on #229
It looks like we can exclude them in GHA2DB_SYNC
https://github.com/cncf/devstats/blob/master/projects.yaml

I think we may need to drop the tables and then recreate them to delete the data we already have?

[2019-02-16 20:18] jlewi opened #230 "[devstats] cron job to run tags and annotations steps regularly"
Do we need to setup a cron job to regularly run the [tags](https://github.com/cncf/devstats/blob/master/shared/tags.sh) and [annotations](https://github.com/cncf/devstats/tree/master/cmd/annotations) steps?

I think together these two create time range selectors based on tags. These get stored in the tquick_ranges table.

Do we need to run them regularly or does running devstats regularly take car

[2019-02-17 00:14] jlewi opened #231 "[devstats] relation tcountries"
Some dashboards try to access the table `tcountries` and this doesn't exist.

[2019-02-17 00:27] jlewi commented on #228
Deleted namespace devstats in the kubeflow-testing cluster.

devstats is now running in project devstats

Its serving on http at
http://devstats.kubeflow.org

Just need to fix the certificate to get it serving on https.

[2019-02-17 01:07] jlewi commented on #228
Its now available at
https://devstats.kubeflow.org

[2019-02-17 02:41] #229 closed

[2019-02-26 13:39] Insullone opened #237 "Question: will kubeflow continue using ksonnet even if its development may end soon?"
I found the message on the front page of ksonnet (https://ksonnet.io/) that "The team behind ksonnet is stepping back from the project. As a result, work on ksonnet will end and the GitHub repositories will be archived". I want to know if there is a plan to continue using ksonnet or replace it? Thank you.

[2019-03-05 02:09] zhenghuiwang opened #238 "Create a kubeflow/metadata repository"
It looks like metadata management should be a kubeflow component of its own. We need a repository e.g. `kubeflow/metadata` for its design proposals, api and schema docs, and implementations.

[2019-03-05 17:32] aronchick opened #239 "Discussion: Move section 7.1 (all metadata schema) to its own non-Kubeflow based organization"
One of the goals of this project is to get as many ecosystem participants to agree on the metadata schema to ease interoperability between different projects. These may include non-Kubeflow projects, but all projects will benefit if the schemas are similar.

In order to facilitate this, I propose we move the items in section 7.1 of the [proposal](https://docs.google.com/document/d/104jv0BvQJ3unVEu

[2019-03-05 17:51] aronchick opened #240 "Discussion: Have an standard "extension/custom" section for each metadata component"
Rather than asking every platform to agree on every spec, perhaps it would be valuable to have a "standard" place for people to but information for their particular platform. E.g.

Run for Platform A:
[code]

Run for Platform B:
[code]

Basically, all I'm suggesting is that we think about a standard field into which platform providers can extend their own metadata, while still leaving the rest of

[2019-03-05 17:51] aronchick commented on #239
cc @zhenghuiwang @abhi-g

[2019-03-05 17:51] aronchick commented on #240
cc @zhenghuiwang @abhi-g

[2019-03-05 22:12] cliveseldon commented on #239
Makes sense to me. Then a kubeflow repo could provide a reference implementation.

[2019-03-05 23:52] zhenghuiwang commented on #240
I agree it is a good idea to have a standard field that different platform providers can extend.

Can't we use`annotations` as the standard field? I view annotations as `map<string, string>` so that you can have `annotation['platform_a'] = <JSON serialized string>`.

What's the type of `custom` field?

[2019-03-06 00:53] aronchick commented on #240
Annotations works! I just think the naming of that field makes it kind of confusing (can't think of a better name though)

Agree it should be a map<string, string> type
________________________________
From: Zhenghui Wang <notifications@github.com>
Sent: Tuesday, March 5, 2019 3:52:47 PM
To: kubeflow/community
Cc: David Aronchick; Author
Subject: Re: [kubeflow/community] Discussion: Have an standa

[2019-03-10 16:50] lukaszgryglicki commented on #129
DevStats can now be deployed on the Kubernetes cluster using helm chart, see this:
- [helm chart](https://github.com/cncf/devstats/tree/master/devstats-helm).
- [kubernetes stuff](https://github.com/cncf/devstats/tree/master/k8s).
It uses [this script](https://github.com/cncf/devstats/blob/master/k8s/build_images.sh) to build 3 docker images: `lukaszgryglicki/devstats`, `lukaszgryglicki/devstats-m

[2019-03-11 00:30] jlewi commented on #238
/cc @neuromage

[2019-03-18 00:23] jlewi commented on #239
Setting up and maintaining a GitHub organization is a non-trivial amount of work. Some work off the top of my head

* Setting up CLA checks
* Setting up test-infra
* Maintaining org permissions and invites

The last one is a big one since it creates work for potential contributors as well as the maintainers of the org.  For Kubeflow we've been making steady progress to automate this using prow.

I

[2019-03-18 00:25] jlewi commented on #239
kubeflow/community#238 is the issue to setup a repo for metadata.

[2019-03-18 00:26] jlewi commented on #238
/cc @mpvartak Thoughts?

[2019-03-18 18:01] aronchick commented on #239
Correct - but these are two separate issues. The metadata management code/servers, etc, should exist inside Kubeflow, since they are Kubeflow specific.

The metadata schema should exist outside of Kubeflow, since it is NOT Kubeflow specific.

[2019-03-19 04:00] animeshsingh commented on #238
**metadata** gives it a much wider connotation. Better would be to call it **metadata-store**. Also we would love to collaborate on this one

[2019-03-19 06:59] mpvartak commented on #238
Few thoughts:

- Having a KubeFlow "native" metadata repo will make this metadata implementation the de-facto implementation for metadata in the KF ecosystem, whether/not it turns out to be the best implementation.

- A KF metadata repo lowers the incentive for 3rd party developers to build a metadata store that will work with KubeFlow because it's not clear why a user should use a third-party vs.

[2019-03-19 07:05] mpvartak commented on #239
+1 for separating the spec from the implementation (whether in the same repo/separate). More thoughts here: https://github.com/kubeflow/community/issues/238#issuecomment-474221268

Essentially having a single official metadata implementation will disincentivize third-party metadata tools from integrating with KF. On the other hand, if there are multiple implementations of the same spec, users can

[2019-03-19 16:39] zhenghuiwang commented on #238
@mpvartak Thanks for bringing up the concerns! Here are my clarifications.

The purpose of this repository is not to have everyone use one single implementation but accommodate  multiple implementations. Users should be able to choose one implementation when installing the Kubeflow cluster, because it is impossible to have everyone uses the same database.

Serving is a relative independent compone

[2019-03-19 16:42] aronchick commented on #238
Correct me if I'm wrong, but I think we are talking past each other.

I don't BELIEVE @mpvartak is saying that we should have a single metadata solution across Kubeflow. I think she's saying the metadata (the spec, not the implementation) should be separate.

Right now, the Kubeflow team is proposing keeping them together, and keeping them both in the Kubeflow repo. I think this will be a problem,

[2019-03-19 19:01] zhenghuiwang commented on #238
I think @mpvartak's major concern is the "native" metadata store implementation lowers the incentive for 3rd parties to contribute to KF metadata store. I want clarify there won't be a single implementation with one particular DB/framework, but multiple implementations that users can configure during installation. So that 3rd parties still have incentives to contribute to implementations of APIs d

[2019-03-20 18:02] n-batalha commented on #237
Can be closed as a duplicate?

* https://github.com/kubeflow/kubeflow/issues/2738
* https://github.com/kubeflow/kubeflow/issues/2412

[2019-03-20 19:39] Insullone commented on #237
OK.

[2019-03-20 19:39] #237 closed

[2019-03-24 16:31] jlewi commented on #238
+1 to @zhenghuiwang's comments.

@mpvartak @aronchick  could you help me understand your problem

1. Are you ok with creating a new repository in Kubeflow for metadata related efforts?
1. Would you prefer a different name to `kubeflow/metadata` ?
1. Does creating a separate repo or org to host just the metadata specs need to block creating a new repo in Kubeflow to store metadata related code?

[2019-03-24 16:33] jlewi commented on #239
If the schema exists outside Kubeflow who is going to own and administer it?

[2019-03-26 20:11] ellis-bigelow opened #242 "Create a kubeflow/kfserving repository"
With the recent Kubeflow Serving Working Group activity, it's time to have a place to collaborate together. We need a repository e.g. kubeflow/serving for its design proposals, api and schema docs, and implementations.

[2019-03-26 20:12] ellis-bigelow commented on #242
Any thoughts @cliveseldon, @aronchick, @lluunn, @yuzisun, @rakelkar

[2019-03-26 20:14] ellis-bigelow commented on #242
/assign @abhi-g

[2019-03-26 20:36] abhi-g commented on #242
I think this is a good idea given the recent discussions happening in the serving working group.

[2019-03-27 00:36] mpvartak commented on #238
@jlewi, @zhenghuiwang, @aronchick, here are some thoughts and a proposed solution.

My main concern is that a Kubeflow-native metadata store implementation in Kubeflow dis-incentives 3rd parties to contribute to Kubeflow metadata store. Abhishek gave the example of WandB as a 3rd party who has a solution that can work with Kubeflow. The challenge here is that discovering these alternatives is supe

[2019-03-27 00:41] mpvartak commented on #238
Also, along with helping with the schema, I'm happy to help drive the discoverability of modules.

[2019-03-27 03:47] zhenghuiwang commented on #238
IMO Kubeflow is supposed to be an open platform that every ML framework can be part of it, which in turn makes Kubeflow more appealing to end users. Building a community owned metadata API layer is an important step for KF components to leverage each other. Seems we are in an agreement here.

This is also how I envision the structure of the repository.

That's also my goal but I haven't put too mu

[2019-03-27 07:07] cliveseldon commented on #242
Probably should consider `kubeflow/kfserving` as well. If `kubeflow/serving` then should probably ensure the repo would include all things serving related like TensorRT, raw TFServing and Seldon.

[2019-03-27 13:23] abhi-g commented on #242
Yeah, my hope is that we move all serving components in this repository.

On Wed, Mar 27, 2019 at 12:07 AM cliveseldon <notifications@github.com>
wrote:

[2019-03-27 16:27] ellis-bigelow commented on #242
I think the scope of the initial project we're working on is definitely enough to warrant its own repository. I want to avoid a catch-all repo for serving, as it would be confusing to consumers and developers alike.

What do you think about kfserverless?

[2019-03-27 16:28] ellis-bigelow commented on #242
Thinking a little further on this, serverless is broader than serving. I think I like Clive's kfserving suggestion best.

[2019-03-27 18:40] aronchick commented on #238
To follow up on @mpvartak's & @zhenghuiwang's points, and I think splitting the difference for what @jlewi wants, we should have an *external* repo for the general schema, and then a kubeflow/metadata repo that represents the Kubeflow specific metadata that is an implementation of the external schema.

[2019-03-27 21:31] abhi-g commented on #242
Created and setup [https://github.com/kubeflow/kfserving](https://github.com/kubeflow/kfserving)

[2019-03-27 21:31] #242 closed

[2019-03-28 17:16] neuromage commented on #238
+1 on improving discoverability of components. Maybe kfctl is the right place for this, as this is how users choose what components to deploy. Good and up-to-date documentation on kubeflow.org can help here as well.

I don't think however it's a good idea to have multiple implementations under a directory in the same repo. I'd prefer if each repo is a cohesive collection of code and assets that wo

[2019-03-29 05:49] animeshsingh commented on #238
+1. This should be right structure. A metadata org/repo outside of kubeflow org for defining the schema, and kf-metadata-store in kubeflow ord, and modeldb-metadata-store in modeldb org

[2019-04-01 01:13] jlewi opened #244 "Script to plot number of open issues has a bug; number of open issues shouldn't be monotonic"
https://github.com/kubeflow/community/blob/master/scripts/project_stats.ipynb

See plot below the number of open issues shouldn't be increasing monotonically.
It should go up and down.
at time t the number of open issues should be the number of open issues at that time. However, I suspect right now we are only counting issues if they are still open and were opened prior to time t.

![newplot (2)](

[2019-04-02 00:51] zhenghuiwang commented on #238
https://github.com/kubeflow/metadata now exists.

Let's move the discussion on specific issues in that repository.

[2019-04-02 00:51] #238 closed

[2019-04-04 13:43] merlintang opened #247 "Proposal for a XGBOOST operator"
## Motivation
XGBOOST is the state of art approach for machine learning. Additionally to deploy XGboost over Yarn, or Spark, it is necessary to provide Kubernetes with the ability to handle distributed XGBoost training and prediction. The Kubernetes Operator for XGBOOST reduces the gap to build distributed XGBOOST over Kubernetes,  and allow XGBOOST applications to be specified, run, and monitored

[2019-04-08 00:47] jlewi commented on #247
Thanks for writing this up!

The link to Rabit isn't working.

What does the heavy lifting of splitting work among the different workers; is that Rabit?

I'd suggest sharing this issue in slack to make sure others are aware. @johnugeorge and @richardsliu are the primary owners of our job operators so they would probably be the best points of contact in terms of reviewing this proposal.

/assign @j

[2019-04-08 05:33] johnugeorge commented on #247
Thanks for this proposal.

I see that your proposed CRD is similar to v1alpha1 version of job operators.  See sample current v1beta2 (latest version) of operator.  See https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/v1beta2/pytorch_job_mnist_gloo.yaml

We tried to keep consistent behavior across operators. See [tf](https://github.com/kubeflow/tf-operator/blob/master/pkg/api

[2019-04-08 06:29] gaocegege commented on #247
Thanks for the awesome proposal. Same opinion with johnugeorge

I suggest using v1alpha2 style API (See https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/v1beta2/pytorch_job_mnist_gloo.yaml).

[2019-04-08 12:56] jlewi opened #250 "Setup project maintainers and issue triage group"
Prow has a new /project command see kubernetes/test-infra#10514.

This uses a corresponding team list to specify which users have permission to add issues to projects.

We should set that up.

/assign @jlewi

[2019-04-08 13:00] jlewi commented on #250
/project istio

[2019-04-08 13:42] terrytangyuan commented on #247
Link to Rabit here: https://github.com/dmlc/rabit

+1 to use kubeflow/common. Feel free to create new issues there if you come across anything else that can be reused by XGBoost operator.

[2019-04-09 02:55] richardsliu commented on #247
Yes please use the kubeflow/common library and file issues if you find any problems. Thanks!

[2019-04-10 14:38] merlintang commented on #247
Thanks for your comments and update.

I totally agree that we can share the code of kuberflow/common. I would
check the diff between common and xgboost operator. It would be excited to
use xgboost for the test bed for common operator. I would send a followup
PR for the xgboost over common operator.

On Tue, Apr 9, 2019 at 10:55 AM Richard Liu <notifications@github.com>
wrote:

[2019-04-15 20:55] #244 closed

[2019-04-17 01:06] merlintang commented on #247
@jlewi should we create a repo under kuberflow for xgboost operator ?

[2019-04-22 14:23] jlewi commented on #247
I have created https://github.com/kubeflow/xgboost

Should we close this issue out and open up more specific issues in that repo?

A good place to start would be to define a ROADMAP.md in that repository.

Can we aim to have an alpha version of the custom resource as part of 0.6 which will be released end of June?

[2019-04-23 03:32] #218 closed

[2019-04-23 03:41] terrytangyuan commented on #247
@jlewi Thanks! Would it be better to change the repo name to be xgboost-operator so it's more consistent with repos for the other operators?

[2019-04-23 03:46] gaocegege commented on #247
+1 for xgboost-operator

[2019-04-23 08:49] merlintang commented on #247
xgboost-operator would be a better name.

+1

[2019-04-29 01:54] jlewi commented on #250
There was a bug in the "/project" plugin. kubernetes/test-infra#12117
This should be fixed so we should able to go ahead an enable the plugin.

[2019-05-06 00:51] jlewi commented on #250
Lets test it
/project fairing

[2019-05-06 00:51] jlewi commented on #250
/project Fairing

[2019-05-06 00:52] jlewi commented on #250
/project Fairing To Do

[2019-05-06 00:54] jlewi commented on #250
/project 0.5.0

[2019-05-06 00:55] jlewi commented on #250
/project 0.5.0 New

[2019-05-06 00:58] jlewi commented on #250
@taragu Any idea what I'm doing wrong in terms of using the project plugin? It looks like if I don't specify a column name I get an error as seen above complaining column isn't specified. But if I specify a column name it doesn't seem to work.

[2019-05-06 02:01] taragu commented on #250
@jlewi Thanks for letting me know. This does look like a bug. At a glance I'm not sure what's wrong. I will open an issue and fix it.

[2019-05-07 21:43] jlewi commented on #230
Project stats table:
https://devstats.kubeflow.org/d/18/project-statistics?orgId=1

Data is showing up for v0.3.0 to v0.4.0 tag but not for v0.4.0 to v0.5.0

[2019-05-08 01:00] jlewi commented on #230
It looks like the time ranges are set.

[code]

[2019-05-08 01:08] jlewi commented on #230
check project stats table
[code]
There's no data for the period `a_3_4`.

[code]

[2019-05-09 12:46] jlewi opened #264 "Delete core-approvers GitHub group"
This group is no longer used. I think it predates prow.

A list of members can be found for posterity in
https://github.com/kubeflow/internal-acls/blob/1ab796764e63f605344980951b0f99128450ce84/github-orgs/kubeflow/org.yaml#L315

Looks like it had write access to 13 groups.

The group of users is largely folks who haven't been very active recently so I think its safe to remove.

[2019-05-09 12:51] jlewi commented on #264
Deleted that group.

Also deleted examples-approvers.

[2019-05-14 13:55] jlewi commented on #194
We can use this probot.
https://probot.github.io/apps/stale/

[2019-05-14 13:58] jlewi commented on #194
Probot has been installed. Per the instructions need to create a
.github/stale.yml  file in order to enable it.

[2019-05-16 03:17] #264 closed

[2019-05-16 03:24] jlewi opened #270 "Identify PRs that need attention"
The number of PRs keeps growing; we are now up to ~500 PRs per 28 days.

The backlog of PRs seems to be growing.
We have 44 open PRs in kubeflow
https://github.com/kubeflow/kubeflow/pulls?page=2&q=is%3Apr+is%3Aopen

It would be helpful to generate a report that lists outstanding PRs that need attention.

I think a good starting point would be

* Use GitHub API to list all open PRs in kubeflow repo

[2019-05-16 03:41] gaocegege commented on #270
Agree. We need such a dashboard for PR. Could we add labels such as `status/needs-reply` to the PRs that the last comment was by the PR creator

[2019-05-16 04:54] gaocegege commented on #228
/close since we fixed it.

[2019-05-16 04:54] gaocegege commented on #228
/close

[2019-05-16 04:54] #228 closed

[2019-05-16 04:57] gaocegege opened #271 "[chore] Insufficient quota of container build in gcloud"
https://console.cloud.google.com/cloud-build/builds?project=kubeflow-ci&query=status%20%3D%20%22QUEUED%22 shows that we have many pending builds.

Most builds are requested by katib. Maybe we could find a temp solution in kaitb. But I think it is better to increase the quota.

[2019-05-16 11:40] johnugeorge commented on #271
@richardsliu created a request to increase quota

[2019-05-16 18:22] richardsliu commented on #271
This should be fixed now. The concurrent build limit is raised to 30.

/close

[2019-05-16 18:22] #271 closed

[2019-05-16 19:02] jlewi commented on #194
This is working. Individual repos just need to add a config file as in #3260.
https://github.com/kubeflow/kubeflow/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Alifecycle%2Fstale

[2019-05-16 19:02] #194 closed

[2019-05-16 19:03] jlewi commented on #270
Maybe start with a python script and then go from there?

[2019-05-22 13:11] theadactyl commented on #270
There's a service I've been looking into to generate dashboards: https://gitalytics.com/
Thoughts?

[2019-06-04 16:23] jlewi commented on #250
/projects 0.5.0

[2019-06-04 16:25] jlewi commented on #250
@kkasravi Seemed able to do this
https://github.com/kubeflow/kubeflow/issues/3400#issuecomment-498635486

using

[2019-06-04 16:25] jlewi commented on #250
/projects istio-kustomize-readiness

[2019-06-04 16:33] jlewi commented on #250
I wonder if this is an issue with membership or permissions.
team is set here
https://github.com/jlewi/test-infra/blob/72c4c8e7632d2c758ffe7fa4e2c15ec24721706e/prow/plugins.yaml#L269

It looks like the team "kubeflow-project-maintainers" no longer exists.

I wonder if that's because we started sync'ing the groups from github
https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflo

[2019-06-04 22:10] kkasravi commented on #250
actually that didn't work. I had to go the the particular project - open the menu tab on the far right-hand side, search for an issue and drag it to the right column

[2019-06-06 03:29] jlewi commented on #270
@theadactyl Does gitalytics provide this info?
/cc @zabbasi

[2019-06-29 22:52] scottilee opened #274 "Automate Updating Kubeflow Calendar"
Please add more weekly meetings to the Kubeflow calendar (https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com) such as "KF Serving Working Group Sync @ Weekly from 9am to 10am on Wednesday (PST)".

Also, are the associated Hangouts for each meeting recorded? If so, are recordings posted to a central place or retroactively added as an att

[2019-07-02 18:47] jlewi opened #275 "Fork issue-label-bot to Kubeflow"
Opening this issue about creating a downstream fork of
issue-label-bot in kubeflow.org.

https://github.com/machine-learning-apps/Issue-Label-Bot/issues

We've been working on this with the creator @hamelsmu and used it to demo motivate Kubeflow.
We also are using the label bot on our repos.

The motivation for creating a downstream fork in kubeflow.org is because we'd like to leverage prow for de

[2019-07-02 19:07] hamelsmu commented on #275
cc: @rand @herbfei @inc0

[2019-07-09 20:59] texasmichelle opened #276 "Update community call recording instructions"
Update instructions to delete Zoom recordings once they've been downloaded and moved to the public drive.

[2019-07-10 06:17] jlewi commented on #275
This has been forked.
https://github.com/kubeflow/Issue-Label-Bot

[2019-07-10 06:22] jlewi commented on #275
@inc0 and @hamelsmu gave you write permissions.
I bootstrapped an OWNERs file
https://github.com/kubeflow/Issue-Label-Bot/commit/721825ed44f463ecc59c45ec4f19867d3af44b96

I added myself, @inc0 and @hamelsmu

If there are additional folks that should be added just an open a PR.

[2019-07-10 06:22] #275 closed

[2019-07-11 19:17] #276 closed

[2019-07-15 15:09] jlewi opened #278 "Setup GitHub actions to auto-add/remove issues needing triage to a Kanban board"
It would be really valuable if we could we use Kanban boards to track issues.
In particular, it would be great to track issues which need to be triaged

I think we could do this by having separate Kanban boards for

* Bugs
* Features
* Customer Questions

We can then auto-add issues into one of these projects based on the labels auto applied by our label classification bot.

These issues would the

[2019-07-15 15:10] jlewi commented on #278
kubeflow/Issue-Label-Bot#2 due this as part of the issue label bot.

[2019-07-15 16:13] jlewi commented on #278
Looks like there is a GitHub app we could probably use already to do this.
https://github.com/philschatz/project-bot

[2019-07-15 21:14] jlewi commented on #278
Installed project-bot on kubeflow/community and kubeflow/testing repositories.
For testing

Will we run into issues with the fact that our projects are org level?

[2019-07-15 21:16] jlewi commented on #278
Looks like there are some issues getting this to work.
https://github.com/philschatz/project-bot/issues/9

[2019-07-16 16:01] jlewi commented on #278
It would be great if someone could try this out either on their personal repo or on a kubeflow repo to see if we can get it to work for us. I think it would be super-helpful to triage issues.

[2019-07-17 02:03] gaocegege commented on #278
I think the feature is really helpful. I can take a look.

[2019-07-17 02:03] gaocegege commented on #278
/assign @gaocegege

[2019-07-17 06:50] gaocegege commented on #278
I created a fork https://github.com/gaocegege/project-bot for https://github.com/apps/project-bot-for-orgs. After the test, I think we can support org-level projects but I am not sure why the original app does not support it. Maybe the config of the app is missing.

But, the app has limited support for adding new cards. Maybe it is better to maintain a new app for kubeflow community. We may want t

[2019-07-17 23:35] richardsliu commented on #247
This can be closed right? @merlintang

[2019-07-17 23:44] terrytangyuan commented on #247
/close

[2019-07-17 23:44] #247 closed

[2019-07-18 00:22] merlintang commented on #247
yes thanks richard

[2019-07-19 05:32] jlewi commented on #278
@gaocegege So you built an app from your fork? Did you make any changes?

Did you verify that the official version of the app doesn't work?

What is the limitation for adding new cards?

I think the functionality we'd like is as follows

* Someone files an issue
* The issue is labeled "Bug"
* The issue is automatically added to the TO DO column in the bug project

Does that work today?

[2019-07-19 05:38] gaocegege commented on #278
@jlewi

The upstream code itself can work. But I cannot use it for my org. But after I fork and run the code in another app with right permissions, it can work.

It only supports add_issue and add_pr. If it works for us, then we do not need to update the code.

No, it only supports adding cards when there is new issues or prs. Labels only can be used to move the cards from one column to another. W

[2019-07-19 13:58] jlewi opened #279 "Auto close PRs"
GitAlytics dashboard is showing that we have PRs open for almost a year.

We should close PRs automatically after some amount of time.

Can the issue closer bot do this?

[2019-07-19 14:04] jlewi commented on #278
Thanks @gaocegege. If it doesn't support adding issues to when labels are added then I don't think it provides us the functionality we need most.

In that case, I think it makes the most sense to add that functionality to our existing label bot.
https://github.com/kubeflow/code-intelligence/blob/f8ccf35ceea09a35d00142627864651d21365ee7/Issue-Label-Bot-v1/flask_app/app.py#L163

@gaocegege Any inter

[2019-07-19 14:08] jlewi commented on #279
Stale bot should be able to do it:
https://probot.github.io/apps/stale/

So it looks like the fact that we have really stale PRs is probably because its not enabled on certain repositories or configured correctly.

[2019-07-19 14:08] #279 closed

[2019-07-20 14:31] gaocegege commented on #278
I can have a look if it is not in high priority (I may not have much time for it these days)

[2019-07-20 21:16] jlewi commented on #278
@gaocegege Not super high priority but any help is certainly appreciated.

[2019-07-23 15:59] jlewi commented on #274
/assign @theadactyl

[2019-07-23 16:10] scottilee commented on #274
@theadactyl I'd appreciate your help on this! The tasks would be:

1) Add all weekly meetings to the Kubeflow calendar such as "KF Serving Working Group Sync"
2) I've never seen meeting recording links anywhere. I think two good options would be to start adding them on the meeting notes doc or add them to the meeting invite afterwards.

By the way, is there a bit.ly or other url shorterned link to

[2019-07-24 04:45] jlewi commented on #55
There is now a cron job running in a Google owned admin cluster to sync the org periodiclaly.

[2019-07-24 04:45] #55 closed

[2019-07-24 13:35] jlewi opened #280 "Proccess & tooling to triage issues"
We need a process and tools to triage GitHub issues.

Here's my initial proposal

The following needs to be true for an issue to be considered triaged

* It has one the labels ("bug", "question", "enhancement")
* It has a priority
* If its P0/P1 it should be added to a kanban board
* It has at least one "area" label

I will create a simple script that iterates over our issues and does the followin

[2019-07-24 14:54] jlewi commented on #280
Do GitHub issues have a notion of status checks like PRs do?
It might be nice if we could make triage a status that changes over time (like tests passing) rather than cluttering the issue with comments.

[2019-07-25 04:38] jlewi commented on #280
somecomment

[2019-07-25 04:40] jlewi commented on #280
somecomment

[2019-07-25 04:40] jlewi commented on #280
somecomment

[2019-07-25 04:41] jlewi commented on #280
somecomment

[2019-07-25 04:41] jlewi commented on #280
somecomment

[2019-07-25 04:47] jlewi commented on #280
Issue needs triage:
	 Issue needs an area label
	 Issues with priority in ['priority/p0', 'priority/p1'] need to be assigned to a project

[2019-07-28 23:25] jlewi commented on #250
I created a new group:
project-maintainers
https://github.com/orgs/kubeflow/teams/project-maintainers

Permissions are pending in kubeflow/internal-acls#129

[2019-07-28 23:29] jlewi commented on #250
It looks like GitHub now has a Triage role
https://help.github.com/en/articles/repository-permission-levels-for-an-organization

Which would allow us to give a group of people the ability to triage issues (e.g. apply labels).
Its not clear if people with triage permission can add issues to projects. Might be worth testing that out.

[2019-07-30 09:15] gaocegege commented on #222
I think we can close the issue now.
/close

[2019-07-30 09:15] #222 closed

[2019-07-30 09:15] gaocegege commented on #125
/close

[2019-07-30 09:15] #125 closed

[2019-07-31 00:19] jlewi commented on #274
@scottilee and others a great way to help make this happen would be to automate it with the source of truth being GitHub.

Here's how this might work

1. Define a config file (e.g. YAML) that we can check into Git
1. Create a script to populate Google calendar based on the YAML config

This way we can use GitHub to source community contributions for keeping the calendar up to date.

[2019-07-31 00:50] scottilee commented on #274
Good idea, I'll see if I can come up with something using https://developers.google.com/calendar/v3/reference/events/insert.

[2019-08-02 03:54] scottilee opened #282 "Setup Weekly Office Hours"
Weekly office hours would be a great way for new contributors or anyone with issues to come and ask questions. It could also be an avenue for code base tours as well as demos of the Kubeflow functionality. This would potentially lead to more quality contributions whether that be documentation updates or bug fixes.

Questions about this would be:
- What day and time could we target this meeting for

[2019-08-06 16:47] hamelsmu commented on #280
@jlewi I'm responding to this:

It might be nice if we could make triage a status that changes over time (like tests passing) rather than cluttering the issue with comments.

☝️ we could fake it with issue-labels (ex: `status/<>` ) but there are no checks like there are for PRs

[2019-08-09 20:35] scottilee commented on #282
Talked with @theadactyl about this and I think the best approach would be to pilot something at the weekly meeting and separate it out into it's own thing if it has enough interest. My action item is to create a proposal for the pilot.

[2019-08-15 19:09] jlewi commented on #274
@scottilee as discussed in the bug; I think we will want to use a service account to run this program.

Do you know how we authorize a service account to have access to a Google calendar? Do we just make the service account an admin of the Google calendar?

[2019-08-18 08:17] scottilee commented on #282
To make this easier I will add topics I want to learn more about to the "Maintainer QA" section of the meeting agenda and see how it progresses.

/close

[2019-08-18 08:17] #282 closed

[2019-08-19 14:42] boniek83 commented on #188
This is really important for running production kubeflow clusters. Can't imagine anybody wanting to run stock mysql on kubernetes (without replication, backups, monitoring etc) but the same is true for any database.

[2019-08-19 19:17] theadactyl commented on #274
A bit unrelated, but possibly? is the fact that even trying to manually add
things to the calendar has been not working consistently. I get events
rejected after being accepted every so often.

On Thu, Aug 15, 2019 at 12:09 PM Jeremy Lewi <notifications@github.com>
wrote:

[2019-08-20 17:32] theadactyl opened #286 "Create an issue triage schedule and one-off training"
Can we create a schedule (calendar or otherwise) for issue triage rotation with templates for metrics, etc, we want people to collect.

Also, might be good to have a one-off 30 minute meeting to walk potential volunteers through the issue triage process.

[2019-08-20 17:33] theadactyl commented on #286
/cc @jlewi @scottilee @jbottum

[2019-08-21 19:57] scottilee commented on #286
I'm happy to help with triaging. Please let us know when you've sent out the invite as I think a meeting would be a good idea to understand guidelines and current processes.

[2019-08-22 17:15] jbottum commented on #286
Scott - we are setting up a call for Monday.    What is your email ?  Please uni-cast back to me.   Josh.bottum@arrikto.com

[2019-08-22 17:16] theadactyl commented on #286
Josh can you let me know what you have planned? I'd like to invite the
wider community in case there are more potential triagers. let's do this a
bit more programmatically.

On Thu, Aug 22, 2019, 10:15 AM Josh Bottum <notifications@github.com> wrote:

[2019-09-01 22:07] scottilee commented on #274
@jlewi I updated the script to use a service account. If the Google account hosting the Kubeflow calendar has the Google Calendar API enabled, create the service account and share the Kubeflow calendar with the service account email and the script should be able to modify and create events. Let me know if I can clarify anything.

https://github.com/kubeflow/community/pull/288

[2019-09-04 13:13] jlewi commented on #250
We already have the project-maintainers group.
https://github.com/kubeflow/internal-acls/blob/680a0b832e8b8d35f228420f3eb94fdbde35f875/github-orgs/kubeflow/org.yaml#L374

Maybe we should start by reusing that group?

[2019-09-04 13:17] jlewi commented on #250
I have given this group Triage permissions on repositoires
kfctl
kubeflow
website
examples
metadata
tf-operator
pytorch-operator
kfserving

[2019-09-04 14:01] jbottum opened #289 "Please add Jbottum as a Project Maintainer (with rights to add labels used in triage)"
Please add jbottum as a Project Maintainer.   I need rights to add labels to issues so that I can triage them.    This is related to this issue - Setup project maintainers and issue triage group #250

[2019-09-04 17:50] johnugeorge commented on #250
@jlewi I can also help with triaging issues.

[2019-09-04 21:46] #289 closed

[2019-09-04 22:53] jlewi commented on #250
@johnugeorge Can you send me a PR adding yourself to the team.

I checked and it looks like triage permission is insufficient. I think we need write access so that

1. Triagers can edit original issue description if needed
1. Tag issues into projects.

[2019-09-10 13:23] jlewi commented on #250
This should be all setup.

[2019-09-10 13:23] #250 closed

[2019-09-24 12:57] tekumara commented on #15
@jlewi that link (and the link on the website) has now expired, would it be possible for you to post an new one?

[2019-09-28 00:13] jlewi commented on #15
https://join.slack.com/t/kubeflow/shared_invite/enQtNDg5MTM4NTQyNjczLTdkNTVhMjg1ZTExOWI0N2QyYTQ2MTIzNTJjMWRiOTFjOGRlZWEzODc1NzMwNTMwM2EzNjY1MTFhODczNjk4MTk

@tekumara Could you submit a PR to update the website?

[2019-10-08 18:57] jlewi opened #294 "v0.7 blog post"
Opening this issue to track the blog post for 0.7.

@jbottum has created a draft blog post.

/assign @jbottum

[2019-10-09 21:33] sarahmaddox commented on #294
Do you have a link for the draft blog post?

[2019-10-11 02:49] jbottum commented on #294
Here is the current link.

https://docs.google.com/document/d/13fv-D0m40v1ugE1Pt8kXe0T7xA5MSS1yno3dUK732r8/edit#

[2019-10-12 12:45] sarahmaddox commented on #294
Thanks @jbottum Please would you change the "Docs KANBAN" link in the table to the following:
https://github.com/orgs/kubeflow/projects/33

[2019-10-22 10:15] Techyuvi commented on #220
please invite me to join slack channel (yuvi.singtak@gmail.com)

[2019-11-04 20:59] jlewi commented on #220
@Techyuvi you can grab the slack invite from our docs page
https://www.kubeflow.org/docs/about/community/#forums-and-mailing-groups

[2019-11-14 19:17] theadactyl commented on #294
Published here:  https://medium.com/p/1e63036c07b8/

[2019-11-14 19:18] #294 closed

[2019-11-21 19:14] jlewi commented on #278
Update:
We have defined criterion for whether an issue needs triage
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

We have code for computing whether an issue needs triage based on these criterion and adding it to the appropriate project
https://github.com/kubeflow/code-intelligence/blob/master/py/issue_triage/triage.py

We currently run this as a batch job.

We'd lik

[2019-11-21 20:16] hamelsmu commented on #278
@jlewi this is definitely doable, I would like to take a crack at it.  Some questions:

1.  Can you flesh out this a bit more: `whenever an issue changes (i.e. labels or projects change).` what do you mean by project change? - is that a repo change?  Is it possible to list all the triggers?

2. Can you tell me the recommended way to use `triage.py` in terms of the entry point, etc.?

3. Which repo

[2019-11-22 11:58] bhack commented on #89
Can we re-evaluate this? Now also ONNX joined in LF AI https://lfai.foundation/press-release/2019/11/14/lf-ai-welcomes-onnx/I
/cc ibrahimhaddad

[2019-11-23 00:47] jlewi commented on #278
Thanks @hamelsmu

* Our triage [process](https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md) defines a set of conditions that must be true for an issue to be considered triaged

  * The conditions are basically conditions on the set of labels and projects that an issue must have

* When the following events occur we want to run a check to see whether an issue needs triage

[2019-11-23 00:49] jlewi commented on #278
@hamelsmu made you an admin on kubeflow/testing. You are also an admin on code-intelligence. So you can use those repos for testing.

[2019-11-23 02:33] hamelsmu commented on #278
Just to confirm my understanding:

When one of the triggers occurs that you outlined above, all that we need to do is run the following code?

[code]

Is that it?  Or am I missing something?  If that is the case I can do this fast

[2019-11-23 04:37] hamelsmu commented on #278
@jlewi I believe we are 90% done.  I have some additional questions in [this pr](https://github.com/kubeflow/code-intelligence/pull/59)

[2019-11-23 04:42] hamelsmu commented on #278
/assign @hamelsmu

[2019-11-23 04:43] hamelsmu commented on #278
/unassign gaocegege
/un-assign gaocegege

[2019-11-23 04:50] hamelsmu commented on #286
Linking this related issue here: https://github.com/kubeflow/community/issues/278

[2019-11-23 21:22] jlewi commented on #278
@hamelsmu   regarding https://github.com/machine-learning-apps/kubeflow-triage

1. The project ID card is currently hard coded https://github.com/kubeflow/code-intelligence/blob/ef8c8f863c3830b555068b5ad2ad15dba0dd42b2/py/issue_triage/triage.py#L28

    * But if you expose that as environment variable to allow configuration via GitHub Actions then we could just put that in the GitHub action workfl

[2019-11-23 21:27] hamelsmu commented on #278
It’s best to have the code for the Action to be used across all your repos to be defined in its own repo for various reasons.  Having all other workflows clone that repo and build an image to run the code every time from scratch will consume lots of compute and may cause you to run short of your free tier

I refactored the code so that the project card is not hard coded if you look at the Action t

[2019-11-24 22:45] ibrahimhaddad commented on #89
Hey Kubeflow Community,

LF Deep Learning (LF DL) was rebranded to LF AI early 2019 to reflect the growing scope of our organization and the increasing number of technologies being built in our community.

We would love to have Kubeflow become an LF AI Foundation Project.

Here are some references:
1)  LF AI Projects: https://lfai.foundation/projects/   (we have 2 projects joining in Dec and 1 in

[2019-11-24 23:04] ibrahimhaddad commented on #89
@gaocegege

When a project move to a Foundation, the community members don't become corporate members of the Foundation. This is not a requirement. The project will benefit from being hosted in a neutral environment that will host its IP assets and make it available to the wider community. The Foundation will support the project with a large number of services ranging from legal, program managemen

[2019-11-25 23:01] jimspohrer commented on #89
ONNX is now part of Linux Foundation Artificial Intelligence Foundation (LF AI) - see: https://dunia-it.com/lf-ai-welcomes-onnx-ecosystem-for-interoperable-ai-models-as-graduate-project/

Would be great for the community if Kubeflow IP could be in a foundation, a vendor-neutral hom.

[2019-11-25 23:33] terrytangyuan commented on #89
+1 It would be great if we could join a foundation. Many Kubeflow developers are from companies with various cloud vendors so we could benefit a lot from moving towards vendor-neutral.

[2019-11-25 23:51] ryan-nervana commented on #89
ONNX moving to LF AI was a great decision that made it possible for our teams at Intel to contribute under a vendor-neutral CLA.

Currently, the CLA for KubeFlow requires any person or entity to have a Contributor License Agreement (CLA) on file that has been signed by each Contributor. The IP is owned by Google (see https://cla.developers.google.com/clas/new?domain=DOMAIN_GOOGLE&kind=KIND_CORPORA

[2019-11-26 00:59] jlewi commented on #278
Once #59 is merged I think the follow on work before we close this issue is

1. Update the community proposal with instructions for how to enable the GitHub action on a repo
    * https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md
1. Enable the action on the kubeflow/kubeflow & kubeflow/website repos
1. Move the docker images into the Kubeflow docker-hub organization
    *

[2019-11-26 01:16] hamelsmu commented on #278
Note this is only hardcoded when you don’t use the Action when you use the action we grab this value from the ENV variable

[2019-11-26 09:01] jlewi opened #304 "Events duplicated on the community calendar"
A lot of events on the community calendar are now duplicated

e.g. the KFServing working group calendar invite shows up twice.

This is because we now have the calendar events defined in YAML
https://github.com/kubeflow/community/blob/master/calendar.yaml
And we sync this yaml file.

But a lot of events were added manually so now we have two entries.

The fix is to delete the manual entries.

It l

[2019-11-26 19:01] wenjing commented on #89
+1

Moving kubeflow to a foundation will broaden contributor base as @ryan-nervana noted, and a clear vendor neutral IP ownership can also encourage adoption by wider user base outside of Google and other primary contributors of today. Both would be healthy developments for kubeflow. ONNX community's recent move to LF AI is success and good example.

[2019-11-26 20:04] jlewi commented on #278
Successful run on kubeflow/kubeflow
https://github.com/kubeflow/kubeflow/commit/0050623ff9843ca0ae32d995d0e396873bcf6df6/checks?check_suite_id=330176524

Issue that was successfully added to the needs triage Kanban board
https://github.com/kubeflow/kubeflow/issues/4530

[2019-11-26 21:01] jlewi opened #306 "Setup Triage And Reduce Backlog for all repositories Critical to Kubeflow 1.0"
Follow up to kubeflow/community#278.

We'd like all repositories that are critical for Kubeflow 1.0 to be adhering to our [triage process](https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md).

This means for the following we need to do the following

1. Setup the issue_triage action for these repositories so issues are auto added/removed from the needs triage Kanban board

[2019-11-26 23:56] hamelsmu commented on #270
Why don’t you folks use pull panda?  It’s free and included with GitHub!  https://pullpanda.com/

[2019-11-27 00:01] jlewi commented on #306
I ran the script across the repositories listed in the initial PR comment.
We have a backlog of 375 issues needing triage
https://github.com/orgs/kubeflow/projects/26

[2019-11-29 19:48] yuzisun commented on #89
+1
Moving kubeflow to a foundation definitely can help grow the community and companies adopt Kubeflow,  with vendor neutral CLA it also helps scale up the contributors from various companies and vendors.

[2019-11-29 21:57] bhack commented on #89
Is this need to be scheduled for a weekly meeting agenda?

[2019-12-01 03:57] gaocegege commented on #89
+1 for that.

vendor neutral CLA means a lot for us.

[2019-12-03 05:41] alka-roy commented on #89
+1
Would be great to see Kubeflow be a part of LF AI and expand the community.

[2019-12-03 06:16] ddysher commented on #89
+1

kubeflow works like "an umbrella project" which has many projects with different maturity level, how do we evaluate a project like this?

can we loop in appropriate folks from Google and make a decision on community meeting?

[2019-12-06 01:52] ibrahimhaddad commented on #89
@ddysher I am happy to join a call with community representatives (including Google) or even flying to a community event and presenting on the process of hosting a project, the benefits and how we've done it with other projects including ONNX.

Thank you.

[2019-12-06 11:21] descampsk commented on #188
Any new information of this proposal ?
We really need to have the possibility to use an external database to be able to use Kubeflow in production.

[2019-12-10 19:01] bhack commented on #89
@jlewi @ewilderj what is the next step on this topic?

[2019-12-10 20:00] ewilderj commented on #89
cc/ @theadactyl

[2019-12-11 17:39] jlewi opened #308 "Define a Google Group and Process To Administer The Shared Google Drive"
We should define a scalable process to move Google Docs Into The Shared Google Drive.

Furthermore, we should be more transparent about who the admins are.

Here's a proposed process

1. Define a Google Group https://github.com/kubeflow/internal-acls for folks to administer the Google Drive
1. Change the gdrive permissions to give those folks content management permissions

The process for moving

[2019-12-13 00:29] ibrahimhaddad commented on #89
@ewilderj @theadactyl @jlewi - I am available to have a chat with the Kubeflow team at Google on this topic. The ONNX community went through that process and hosted the project in LF AI. I can explain how the ONNX community managed their internal process as an example of a large project who's done that very recently. I would also address any questions/concerns you may have. You can reach me via ib

[2019-12-13 00:43] theadactyl commented on #89
Thanks @ibrahimhaddad, @bhack and @gaocegege for your thoughts here. Right now our focus as a project is getting to 1.0 and getting Kubeflow's incubating working groups established with accepted charters and guidelines around global working group governance. After that, we'll be looking at the cross-project technical leadership, guidelines & processes we need to work together effectively. The Proj

[2019-12-13 00:55] bhack commented on #89
While we haven’t ruled out donating Kubeflow to an open source foundation, we have decided to first focus on 1) iteratively building an open, transparent, and structured system of governance that works for the Kubeflow project's unique community and challenges, and 2) working with our community partners to quickly build a minimum viable product for production use in the enterprise and reach the le

[2019-12-18 18:57] avdaredevil opened #309 "[Front-end] Creation of a new repo for Shared UI Components"
## About
As MLMD Lineage work is maturing, we wanted to migrate the components to a shared repository so these lineage components could be imported as shared dependencies between KFP and KF Metadata, without code duplication.

This will eventually extend to further code sharing of cross-codebase front-end configs or dev tools.

Ideal name `shared-components`

### Meta
/area metadata
/area front-en

[2019-12-18 21:13] jlewi commented on #309
@avdaredevil the name `shared-components` seems overly generic. I assume this is only for frontend related components? Can you suggest a name to that effect; maybe

* kubeflow-frontend

Is this repository only for metadata related components?

Suppose we have reusable widgets say for namespace selection; would that also go in this repo?

[2019-12-19 01:47] avdaredevil commented on #309
Hi @jlewi, perhaps `frontend-components`?

Currently the only scope is for lineage components, but the intention is for this to be a shared repository for all full stack resources.
- this would include namespace-selector if we chose to export that as a shareable component
- Or global lint rules that can be enforced across code bases

[2019-12-19 17:41] jlewi commented on #309
@avdaredevil did you consider just putting the shared components in a directory in an existing repository? e.g. kubeflow/kubeflow?

I don't have a strong oppinion either way. The main advantage of reusing kubeflow/kubeflow is that you avoid some of the maintenance costs of maintaining an additional repository; e.g. setting up prow jobs for E2E tests.

If the folks working on the front end are will

[2019-12-19 17:48] jlewi commented on #309
@avdaredevil and @kwasi I went ahead and created kubeflow/frontend so if you think having a separate repo is worth the maintenance costs and you are willing to shoulder those you can go ahead and start using it. Otherwise we can just archive it.

[2019-12-19 20:50] avdaredevil commented on #309
Hi @jlewi, thanks for setting it up. Just for context:
- We did consider using an existing repo, but unfortunately, since the intention of this repository is to be able to be installed via `npm` we need all these files to be in one repo (with a package.json)
- A standalone library procedure would look something like (assuming internal name in package.json is `kf-frontend-components`)

  **_Install

[2019-12-22 03:23] hannibalhuang commented on #89
+1 For LFAI

[2019-12-23 16:16] jlewi commented on #309
Thanks @avdaredevil

[2019-12-23 16:16] #309 closed

[2019-12-23 16:18] jlewi opened #310 "Slack instructions send a message to jlewi"
When users join slack, the getting started flow appears to tell them to send a message. That message appears to be a direct message to me.

I'm not sure where this is set but we should probably change that. If people are going to say hi it would probably be better to do so in a community channel like #general.

[2019-12-26 10:04] bhack commented on #89
I suppose that the problem here It Is not only strictly to the Kubeflow governance but It Is part of a more general Google strategy on (semi-multistakeholders) assets around Kubernetes et al.:
https://www.theregister.co.uk/2019/12/20/ibm_istio_knative_tensorflow_should_be_under_open_governance/

[2019-12-31 01:36] hamelsmu commented on #278
Should this issue be closed?

[2020-01-02 22:37] krishnadurai opened #312 "Create guideline doc for maturing security for applications going v1.0"
Kubeflow has application guidelines listed in this [doc](https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md):

We need to append this document or link this document to a security requirements document.

1. Guidelines on building images for applications.
1. Guidelines on building binaries.
1. Create version control for application dependencies.
1. Develop proce

[2020-01-02 22:38] krishnadurai commented on #312
/assign

[2020-01-03 00:49] jlewi opened #314 "Make the permission model for triagers more scalable; Eliminate need for write access"
Adding more people to the issue triage rotation is blocked on the fact that issue triagers need fairly expansive permissions in order to triage issues.

Right now issue triagers need Write permission in order to be able to tag issues into projects; see
https://github.com/kubeflow/community/issues/250#issuecomment-528123182

It turned out the [Issue Triage GitHub Role](https://help.github.com/en/gi

[2020-01-03 18:38] jlewi opened #315 "Update issue triage proposal with instructions on how to add labels"
We should update the triage proposal
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

with additional instructions about the different ways to label issues.

We should list out

1. Using the prow commands "/area" and "/kind"
1. Using the GitHub UI

[2020-01-03 18:38] jlewi commented on #315
@elviraux @jbottum does one of you want to take this?

[2020-01-07 00:28] jlewi opened #316 "Document process for contributing to the Kubeflow Blog Post"
We need to do a better job

1. Documenting the process for submitting/contributing a blog to Kubeflow
1. Documenting reviewers/approvers for Kubeflow blogs posts

We currently have this [Google Doc](https://docs.google.com/document/d/1b-k_Y9cl9-7pOCdbd5tEJX8LRRAkodtopioFma1WvLs/edit) but its a bit outdated.

* All blog posts are now in medium; we don't use the website anymore for blog posts.

I su

[2020-01-07 01:32] terrytangyuan commented on #316
@jlewi Thanks for creating this issue to track!

Is this why https://github.com/kubeflow/website/tree/master/content/blog (found in the Google doc) doesn't work anymore?

[2020-01-07 17:37] jlewi commented on #316
Yes; that is why the link no longer works

[2020-01-29 17:59] jlewi opened #317 "Define badges for level of maturity of different Kubeflow installation options"
We should define some sort of badge system for the different installation options for Kubeflow so that users know what to expect.

[2020-01-31 21:54] theadactyl commented on #317
Can we leverage https://www.coreinfrastructure.org/programs/badge-program/?

[2020-02-05 18:44] jlewi opened #318 "Slack Apps - GitHup missing"
I'm suddenly getting warnings in slack about the GitHub App not being installed.
When I tried to install it; slack told me we hit our max of 10 apps.

[2020-02-26 14:49] jlewi commented on #278
Yes.

[2020-02-26 14:49] #278 closed

[2020-03-11 21:03] sleep-404 commented on #220
Hello @jlewi , I think the link is no longer active. Is it possible to get an updated link ?

[2020-03-12 17:15] jlewi commented on #318
Fixed

[2020-03-12 17:15] #318 closed

[2020-03-12 17:18] jlewi opened #323 "Tue 8am PT community meetings are missing from the community calendar"
https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428@group.calendar.google.com&ctz=America/Los_Angeles

The last community meeting was at 8am on 2020/02/04. After that we just have the Thursday slot.

My suspicion is that when somebody cancelled one of the meetings; they ended up cancelling all future events.

The event is still listed in our YAML file.
https://gi

[2020-03-12 17:22] jlewi commented on #323
Ran the script

[code]

Looks like its fixed now.

[2020-03-12 17:22] #323 closed

[2020-03-13 23:01] terrytangyuan commented on #316
@theadactyl @jlewi I just sent you an email on a new blogpost. Let's try publish it on Medium first. We can also test the rest of the process (such as checking into community page) once the documentation is updated.

[2020-03-14 01:36] jlewi commented on #308
I created the Google group: 'drive-content-managers@kubeflow.org`

I gave this google group content manager permission on the folders
"kubeflow(public)"
"Community Meetings"

[2020-03-14 01:37] jlewi commented on #308
#217 will check in an initial file.

Next steps

* Move most of the current content managers into that group and use that group to administer access
* Remove existing users; non group content managers
* Create a doc defining the process for transferring docs to the shared drives.

[2020-03-16 12:57] jlewi opened #324 "[Process/Tools] needed to follow up with area owners about issues"
We need a process or tools to ensure that area owners are responding to issues in a timely fashion.

Right now the triage process assigns area labels to issues. But we have no follow up to ensure that the area owners are following up on those issues.

@jtfogarty Any thoughts?

[2020-03-16 15:25] jbottum commented on #324
we have 12 weeks in a sprint, maybe we talk about 10 issues per Community call.  User, PM, Eng should agree on P0, P1, etc. and if in/out or need more info

[2020-03-16 15:53] jtfogarty commented on #324
I like @jbottum 's idea but it depends on the area owners attending the meetings.  Do we have a doc that maps areas to owners?

[2020-04-14 21:58] jlewi opened #326 "[Slack] Process for channel creation"
We should define a process for creating and administering slack channels.

Previously anyone could create a channel and that was leading to an explosion in number of channels (77 I think). I don't know that having all these channels was doing anyone any good.

[2020-04-15 14:13] yanniszark opened #327 "[Guidelines] Add guideline on Authentication and Authorization"
Add a Guideline on how to perform Authorization for Kubeflow's Web Applications.
Authorization should rely on K8s RBAC as the source of truth.
For that reason, focus on SubjectAccessReview.

[2020-04-15 14:14] yanniszark commented on #327
/assign @yanniszark
/priority p1

[2020-04-15 14:46] yanniszark opened #328 "CentralDashboard: When should a namespace be shown in the selector?"
CentralDashboard currently uses KFAM to get bindings and decide if a namespace is shown in the namespace selector.
This has created some problems. Currently, KFAM works by reading magic annotations on RoleBindings. This means that K8s RBAC is not actually consulted and ClusterRoleBindings do not work.
See: https://github.com/kubeflow/kubeflow/issues/4574 https://github.com/kubeflow/kubeflow/issues

[2020-04-15 16:23] jlewi commented on #327
@yanniszark Are you planning on writing up a doc covering the points discussed in the thread?
https://groups.google.com/forum/#!searchin/kubeflow-discuss/subject$20access$20review%7Csort:date/kubeflow-discuss/whS_j4RlEJo/98xnBHH4BgAJ

In particular

* Getting rid of asymmetric permission model
* Making profiles a namespace scoped resource
* Possibly in scope - how we make namespace setup more exte

[2020-04-15 17:02] yanniszark commented on #327
@jlewi yes, this is a doc I want to write, but it's so general I find it a bit hard to think of a proper issue title.
I think this issue should remain seperate and we should open a new one for the doc you mention.
Tbh, I haven't thought about making Profiles namespaced (was this mentioned somewhere?), but the discussion in the aforementioned thread is what I want to capture.
Something like `Evalua

[2020-04-15 17:12] yanniszark commented on #328
Issue was opened in the wrong place.
This will be probably covered by: https://github.com/kubeflow/kubeflow/issues/4960

[2020-04-15 17:12] #328 closed

[2020-04-15 17:44] jlewi commented on #327
@yanniszark We can use this issue to track the doc. I just wanted to clarify what the deliverable is.

[2020-04-25 00:16] jlewi opened #331 "Create a repo for Kubeflow GCP Blueprints"
Blueprints are a term used to describe how to deploy infrastructure
see https://googlecontainertools.github.io/kpt/guides/producer/blueprint/

We would like to start publishing blueprints to deploy Kubeflow on GCP.

I think it makes sense to publish these blueprints in their own repository (rather than manifests).

I think one of the reasons to use a different repository is that blueprints should

[2020-04-28 17:32] jlewi commented on #331
Repository: https://github.com/kubeflow/gcp-blueprints
Has been created and an OWNERs file added.

[2020-04-28 17:41] #331 closed

[2020-05-10 06:38] #122 closed

[2020-05-10 06:38] #128 closed

[2020-05-10 06:38] #132 closed

[2020-05-10 06:38] #131 closed

[2020-05-10 06:38] #29 closed

[2020-05-10 06:38] #144 closed

[2020-05-10 06:38] #60 closed

[2020-05-10 06:39] #47 closed

[2020-05-10 06:39] #165 closed

[2020-05-10 06:39] #109 closed

[2020-05-10 06:39] #161 closed

[2020-05-10 06:39] #177 closed

[2020-05-10 06:39] #34 closed

[2020-05-10 06:39] #174 closed

[2020-05-10 06:39] #225 closed

[2020-05-10 06:39] #231 closed

[2020-05-10 06:39] #240 closed

[2020-05-10 06:39] #239 closed

[2020-05-10 06:39] #230 closed

[2020-05-10 06:39] #15 closed

[2020-05-10 06:39] #286 closed

[2020-05-10 06:39] #270 closed

[2020-05-10 06:39] #304 closed

[2020-05-10 06:39] #306 closed

[2020-05-10 06:39] #188 closed

[2020-05-10 06:39] #310 closed

[2020-05-10 06:39] #312 closed

[2020-05-10 06:39] #315 closed

[2020-05-10 09:38] #14 closed

[2020-05-10 09:38] #9 closed

[2020-05-10 09:38] #28 closed

[2020-05-10 09:38] #32 closed

[2020-05-10 09:38] #44 closed

[2020-05-10 09:38] #51 closed

[2020-05-10 09:38] #61 closed

[2020-05-10 09:38] #21 closed

[2020-05-10 09:38] #102 closed

[2020-05-10 09:39] #110 closed

[2020-05-10 09:39] #115 closed

[2020-05-10 09:39] #121 closed

[2020-05-10 09:39] #48 closed

[2020-05-18 19:11] animeshsingh commented on #89
/reopen

[2020-05-18 19:13] animeshsingh commented on #89
This is yet not resolved - so reopening it.
cc @theadactyl @jimspohrer @ewilderj @jbottum @yuzisun

[2020-05-18 23:21] animeshsingh opened #336 "kfp-tekton-api"
/kind feature

Need a new repo called "kfp-tekton-api", and seeded with initial kubeflow pipeline code (using a kubeflow bot, to neutralize any contributions counted twice et all). This will act as a staging repo for folks working together to get kfp-tekton compiler output now integrated in the backend to work with kfp api and ui.

[2020-05-19 00:35] jlewi commented on #336
@animeshsingh What do you mean by staging repository? Could you please provide a little bit more explanation of how you see code being divided among the different repositories.

[2020-05-19 01:37] animeshsingh commented on #336
@jlewi plan is to rename the kfp-tekton project to kfp-tekton-compiler, as a standalone python project. If someone needs a KFP DSL/Python interface for Tekton, can be used independently, and can be leveraged independently by taking the compiled out to Tekton directly.

kfp-tekton-api, or maybe a better name is kfp-tekton-backend is going to be the project essentially taking the compiled output, an

[2020-05-19 02:04] jlewi commented on #336
@animeshsingh Seems reasonable to me. As a matter of formality can one of the other OWNERs in
https://github.com/kubeflow/kfp-tekton/blob/master/OWNERS (so @Tomcli @ckadner ) LGTM the creation of the new repository as well and the desired name.

[2020-05-19 02:27] Tomcli commented on #336
Sounds good.
LGTM

[2020-05-19 02:35] jlewi commented on #336
https://github.com/kubeflow/kfp-tekton-backend

[2020-05-19 02:35] #336 closed

[2020-05-20 20:25] jlewi commented on #314
/lifecycle frozen

[2020-05-26 22:23] jlewi opened #338 "What to do about kubeflow-incubator GitHub Org"
There is a second GitHub Org
https://github.com/kubeflow-incubator

This is not currently used for anything.
More importantly its not administered/owned by the same people who own and operate the Kubeflow GitHub org.  This org is missing some of the protections we have setup on the kubeflow GitHub org e.g.

1. Ensuring there are multiple admins to ensure we don't loose access
1. Managing it declar

[2020-05-27 00:54] terrytangyuan commented on #338
+1 to delete it but possibly transferring some of the repos to Kubeflow org. However, since there were no CLA checks, this might not be trivial to do.

[2020-05-27 01:06] gaocegege commented on #338
Agree to delete it since maintaining a second org has huge cost and we do not see the benefit.

[2020-05-27 01:30] gaocegege commented on #338
I think we can deprecate these projects in the incubator since ppl at Alibaba do not maintain it now.

[2020-05-27 13:20] jlewi commented on #338
https://github.com/kubeflow-incubator/charts
* Doesn't look like there is actually in this repo so I think we can just delete it.
* @gaocegege Do you want to just delete it?

https://github.com/kubeflow-incubator/gen
* This looks like a fork of kubernetes-client/gen
* @jetmuffin do we still need this fork? looks like last commit was 2018

https://github.com/kubeflow-incubator/genspec
* We could tr

[2020-05-27 13:25] gaocegege commented on #338
https://github.com/kubeflow-incubator/charts

We can delete it.

[2020-06-01 02:08] jetmuffin commented on #338
[https://github.com/kubeflow-incubator/gen](https://github.com/kubeflow-incubator/gen)

yep, we only modified  some parameters to swagger and scripts in this repo, I think we can delete it and just re-fork from master if needed.

[https://github.com/kubeflow-incubator/genspec](https://github.com/kubeflow-incubator/genspec)

Agree to archive this repo : )

[2020-06-02 19:54] #327 closed

[2020-06-03 03:03] animeshsingh commented on #89
This is moving in next phase - below is the doc/presentation we used in the community for the new WG proposal:
Kubeflow Governance and Foundation Working Group
https://docs.google.com/document/d/1U5VJ2U4N14G0knSTdyS3HmfTjPnmkgNkS2SLX8jCny8/edit?usp=sharing

For folks who are interested in this, either in  Kubeflow Governance WG or Kubeflow Application WGs for particular application, please reach o

[2020-06-04 01:59] gaocegege opened #340 "[maintainance] Collect OWNERship metrics for every repository"
Ref https://groups.google.com/d/msgid/kubeflow-discuss/858f1953-1808-4ebc-9a8e-1661895522ac%40Spark?utm_medium=email&utm_source=footer

From @jlewi

I also think it is necessary, thus open an issue in the community for it.

[2020-06-04 01:59] gaocegege commented on #340
Comments from @animeshsingh

[2020-06-04 02:19] terrytangyuan commented on #340
@jlewi What would be a good identifier for ownership of files? Does GitHub API provide a way to do this?

[2020-06-04 02:26] gaocegege commented on #340
We have http://devstats.kubeflow.org/ but we cannot get the statistics for the repository. And we also have https://www.stackalytics.com/unaffiliated?project_type=kubeflow-group&release=all&metric=commits but it does not have all contributions information and it only collects the PR metrics.

[2020-06-04 02:36] terrytangyuan commented on #340
We probably want to use pure GitHub API to retrieve all information that we needed.

Copying my reply on another email thread here in case anyone is interested:

Understanding contributions and ownerships of individuals/organizations is definitely interesting and is part of the next steps.

[2020-06-04 02:42] gaocegege commented on #340
We still have the problem, some contributions made in GDoc or community meeting cannot be recorded. But it will be better to use devstats or stackalytics.

@terrytangyuan Are you interested in helping the community to do it?

[2020-06-04 02:55] terrytangyuan commented on #340
Those types of contributions are probably non-trivial to capture. I am uncertain whether I’ll have bandwidth to do it recently though. I’ll definitely keep you posted here if I do.

[2020-06-04 11:39] jlewi commented on #340
@terrytangyuan OWNERs files will be named "OWNERs". I believe the GitHub data in BigQuery lists files so you could probably easily do a BigQuery to identify all the OWNERs files and then fetch them with "curl" or some other way.
Here's a notebook illustrating how to query github data from bigquery
https://github.com/kubeflow/community/blob/master/scripts/github_stats.ipynb

Although you could also

[2020-06-04 11:41] gaocegege commented on #340
Make sense.

[2020-06-11 14:00] jlewi commented on #89
Repasting from the [mailing list thread](https://groups.google.com/forum/#!topic/kubeflow-discuss/v6iS6F_iZSI)

Chris is referring to the governance model [here](bit.ly/kf-governance)

[2020-06-11 14:00] #89 closed

[2020-06-11 14:07] jlewi opened #341 "Additional community call (zoom) hosts needed"
We need additional people to host community meetings. We can only give 1-2 additional people permission to use the kubeflow zoom account and access the recordings.

Current admins are listed here
https://github.com/kubeflow/community/blob/master/how-to/kubeflow_assets.md#zoom

* What is the minimum permission needed to host zoom calls and access the recordings?
* Existing [process](https://github.

[2020-06-11 14:34] jlewi opened #342 "Additional calendar admins needed"
We need additional admins for the [Kubeflow Calendar](https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428%40group.calendar.google.com&ctz=America%2FLos_Angeles)

We currently have some partial tooling for managing the calendar. The [script](https://github.com/kubeflow/community/blob/master/scripts/calendar_import.py) configures the calendar based on [calendar.yam

[2020-06-11 15:16] bhack commented on #89
@jlewi It be better to add this in the FAQ instead of what we have now:

[2020-06-11 17:41] lalithvaka commented on #341
@jlewi, I can definitely help out as needed. Please grant me access. I will start with all the community zoom meeting recordings posted to the drive as well as the notes document.
/cc @animeshsingh

[2020-06-12 02:16] jlewi commented on #89
@bhack Any interest in opening up a PR about this?

[2020-06-12 02:16] jlewi commented on #341
@lalithvaka Could you do me a favor and look up the zoom permission model and tell me what level of access you think you need? Fewer priveleges is better.

[2020-06-12 03:13] lalithvaka commented on #341
@jlewi Per what I can see, you just need to invite me as a member with my email ID (lalith.vaka@gmail.com) and I should be able to access the cloud recordings if available. Also, each meeting thats scheduled, you can enable settings to add one or more members as host(s) - below screenshot.
![image](https://user-images.githubusercontent.com/8292387/84460379-a0809880-ac1e-11ea-8748-5ffb532b606b.png)

[2020-06-12 14:10] jlewi commented on #341
@lalithvaka Thanks! I've sent you an invite can you please accept.

I also added @rmgogogo

@lalithvaka  could you

1. Send me a PR updating the assets page
1. Update the page describing how we manage zoom

Any thoughts on how we should rotate and manage who hosts a particular meeting?

[2020-06-12 16:59] lalithvaka commented on #341
@jlewi Thanks for sending the invite. What I realized now, is that with member privileges, all I would be able to do is host the meeting if an admin adds me as an alternative host to specific meeting series. Unfortunately I can not view the recordings unless they are scheduled by me or I get admin role. [Zoom Ref](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings).

If

[2020-06-15 13:01] jlewi commented on #316
/lifecycle frozen

[2020-06-15 13:11] jlewi commented on #341
Please read: https://github.com/kubeflow/community/blob/f83d7281bd6e2869865145147fff3f16e2238089/how-to/sharing_docs.md
To figure out how to get access drive

I don't think I can change your membership type; I removed you and then added you back (so you'll have to reaccept the invite).

I'm only an admin.

I think the owner @ewilderj might need to change your account type to admin to grant you adm

[2020-06-16 02:55] jlewi commented on #341
@lalithvaka Now that Google Meet is free; would that be easier then using zoom?

[2020-06-17 01:53] thesuperzapper opened #344 "Community Notebook Images Repo"
As was discussed in the last few community meetings, there is need for a new repo with
community supported Kubeflow Notebook images. For example: `Jupyter`, `JupyterLab`, `RStudio`, `Visual Studio Code`, `Zeppelin`, etc.

__Basic Idea:__
* named like: `kubeflow/community-notebook-images`
* a mono-repo with folders for each image type (ex: `./jupyter`, `./jupyter-lab`, `./rstudio`)
* releases shoul

[2020-06-18 14:17] 8bitmp3 opened #345 "GitHub Discussions as a centralized KF community forum"
As the community is growing, there's more and more stuff being discussed under Issues and on Slack channels. **GitHub Discussions** can potentially help. It should have some of the main features of Discourse—it's a message board/forum—which PyTorch and fast.ai use effectively to engage with the community And Discussions shouldn't need hosting, since it's already here on GitHub (unlike Discourse).

[2020-06-18 17:50] 8bitmp3 commented on #341
@jlewi I was just going to ask about that - https://www.blog.google/products/meet/bringing-google-meet-to-more-people/

We have been using Google Hangouts and now—Google Meet—for TensorFlow-related design meetings. There is no 40-minute limit like in the free Zoom video chat but we stick to 60 mins max.

@krishnadurai I think we just got cut off from the KF on-prem Zoom as soon as the limit was me

[2020-06-18 18:26] jlewi commented on #341
@8bitmp3 With Google Meet how are video recordings managed? Are the automatically uploaded to gdrive?

[2020-06-18 18:52] 8bitmp3 commented on #341
@jlewi from what I understand, they're managed by the host (at least one of the Googlers) and then stored on a GDrive with a link shared on a public Doc. May I introduce you to @ematejska and @dynamicwebpaige, who have hosted and are hosting awesome TensorFlow meetings. Maybe you can speak to them internally @ Google. 🙌

[2020-06-19 01:51] lalithvaka commented on #341
Had the same question, I could not find the recording option in the free version(as individual). Unless GSuite is free to Googlers who are managing opensource projects.

[2020-06-19 01:59] lalithvaka commented on #344
@thesuperzapper , thank you for submitting this. Not only images, I would also store the Dockerfile's as well for other's modify and use as they seem fit.
/cc @jlewi

[2020-06-19 12:18] jlewi commented on #344
See kubeflow/kubeflow#1643

And see:
kubeflow/kubeflow#2208

Instead of curating jupyter images; what if we just fixed kubeflow/kubeflow#2208 so existing jupyter images could run on Kubeflow?

[2020-06-19 15:02] #308 closed

[2020-06-20 14:24] krishnadurai commented on #341
@8bitmp3 I vote for Google Meet if we are able to add multiple hosts to the meeting.